[2022-08-19 22:26] mabuice commented on #1440
might need cudatoolkit==11 on the dot.  The K80 might not be compatibility with later versions.

[2022-08-19 22:32] yuvipanda commented on #1440
ok, the GPU profile should now only be available to people with the GPU team on the staging hub. Can you get someone else to test it too? if it works I'll deploy it to production.

[2022-08-19 22:35] mabuice commented on #1440
will do.

[2022-08-19 22:40] mabuice commented on #1440
pytorch -> pytorch-gpu fixes the issue, even with cudatoolkit==11.

Solved.

[2022-08-19 22:41] mabuice commented on #1440
@yuvipanda:  @fcollman can see the gpu instance on the staging hub.

[2022-08-20 06:25] yuvipanda commented on #1440
@mabuice I see the GPU profile! but same as before with the image - I can see `nvidia-smi` show the GPU, but `pytorch` doesn't see it. I am using the latest tag available in https://quay.io/repository/mabuice/swdb2022?tab=tags which is a5fb5c42540b. I see that you have admin now, so you should be able to set the image for staging too at https://staging.allen-swdb.2i2c.cloud/services/configurator/.

[2022-08-20 20:41] mabuice commented on #1440
The current image with explicitly installed pytorch-gpu has `torch.cuda.is_available()==True`.  We're good on that end.

[2022-08-21 05:21] yuvipanda commented on #1440
@mabuice done!

<img width="914" alt="image" src="https://user-images.githubusercontent.com/30430/185776775-8f3071b8-f495-4c05-9529-b07a499115ad.png">

[2022-08-22 13:14] #1636 closed

[2022-08-22 16:19] ianabc commented on #1439
Yeah, our current hub is on hub.callysto.ca and it's been around for long enough that there's a lot of links pointing there. It might be worth doing something like 2i2c.callysto.ca for consistency with the domain, then we can update the DNS records for hub.callysto.ca after the move to make sure nobody get's lost.

[2022-08-22 17:47] mabuice commented on #1440
@yuvipanda Is the user of a given instance on the sudoer list?  Is there a sudo password?

[2022-08-22 20:20] colliand opened #1648 "[New Hub] Temple University Education Hub"
### Hub Description

[Jonathan Smith](https://sites.temple.edu/jmsmith/) of Temple University requests an education hub. The use-case will be similar to Data8 at Berkeley. The expected user base consists of 300 to 500 1st year students. Jonathan has experience setting up this kind of infrastructure. In particular, he set up a z2jh hub for use during previous year(s). He'd like to have a similar re

[2022-08-22 21:37] yuvipanda commented on #1440
@mabuice there's no sudo enabled in the container. What is the use case you're trying to solve?

[2022-08-22 21:53] mabuice commented on #1440
The current use case is that one of our more technically minded TAs asked me if we had sudo access, so I said I didn’t think so, but I’d ask. :).

[2022-08-22 22:05] yuvipanda commented on #1440
@mabuice aaah, cool :) Almost everything they can do with sudo access, they can by modifying the imgae via PRs!

How's the event going?

[2022-08-22 23:13] shawnwiggins commented on #1636
Thank you, @GeorgianaElena! @yuvipanda created this GitHub Issue for me, but I'll make sure to use that support page in the future. 👍🏻

[2022-08-22 23:50] mabuice commented on #1440
That’s kinda what I figured. 😀

Things are going pretty well. We’ll see how it goes when things ramp up later in the week.

[2022-08-23 02:11] damianavila commented on #1628
Closing this one and raising the priority on #787.

[2022-08-23 02:11] #1628 closed

[2022-08-23 02:32] damianavila commented on #1611
Thanks for opening the tracker issue, @GeorgianaElena!!

[2022-08-23 02:58] damianavila commented on #1597
Some interesting and relaterd content from another issue: https://github.com/2i2c-org/infrastructure/issues/1598#issuecomment-1221007085 (in case you did not see it yet).

[2022-08-23 10:31] sgibson91 commented on #1597
Scheduling proved difficult so I ended up having a 1-to-1 chat with Meag on Friday. My takeaway from that meeting was that I'm maybe overthinking all this and we should just go with a semi-structured approach. Deploy tljh-repo2docker, get people in front of it, and ask them what they think. Let them drive the conversation more than having some specific questions.

Another alternative was a "diary

[2022-08-25 00:20] colliand opened #1650 "[New Hub] gridSST Hack-A-Thon"
### Hub Description

Alison Gray, an oceanographer at the University of Washington, requests a hub to support an upcoming OceanHackWeek. Alison has recently been notified that her proposal to support this event and ongoing work thereafter with the hub was funded by NASA. 🎉

### Community Representative(s)

Alison Gray, @alisonrgray, @dgumustel
Who else?

### Important dates

- **Target start date*

[2022-08-25 00:25] colliand commented on #1650
Hi @alisongray! Please share comments on this issue below. Specific questions that are implicitly asked in the issue anchor above include:

1. Will the users of this hub be frequently using large data sets hosted from specific cloud vendor data centers? If yes, 2i2c should stand up the hub service in the data center.
2. Are there others who should added as community representatives for this hub se

[2022-08-25 02:26] damianavila commented on #1597
I think I would be biased toward the semi-structured approach instead of the diary study.

Yep, that seems a sensible approach to me. Decoupling both activities (semi-structured/diary study on one side and fetching pbhub experience on the other side - would allow us to make in-parallel progress on both of them.

[2022-08-25 06:53] yuvipanda commented on #1440
@mabuice just wanted to check-in - how is it going? :)

[2022-08-25 08:49] choldgraf opened #1651 "Merge our two GCP billing accounts into one"
### Context

Currently we have two billing accounts on GCP that are used for many different communities (and paid by 2i2c):

- `2i2c Billing` (`0157F7-E3EA8C-25AC3C`) is where most of our clusters are attached to, and under the `2i2c.org` organization
- `two-eye-two-see` (`011901-F8160A-68DED7`) is *only* used for the `m2lines` cluster, and has no GCP organization

### Proposal

We should unify th

[2022-08-25 09:18] sgibson91 commented on #1618
Joe noted on Slack that the sponsorship account has been closed out for this hub and that the cluster/hub are down for good: https://2i2c.slack.com/archives/C01DB2JRP8W/p1661288927380899 I asked a clarifying question on whether this means we need to run `terraform destroy` or if it's just a case of cleaning up the files in our repo.

If it's a case of cleaning up files, I'm more than happy to do t

[2022-08-25 13:27] sgibson91 commented on #1651
I would also love to merge the `two-eye-two-see` and `two-eye-to-see-org` projects while we're at it 😄

[2022-08-25 13:28] sgibson91 commented on #1431
Is.... is this issue/an action working the way it's supposed to? 😳

[2022-08-25 16:34] yuvipanda commented on #1618
@sgibson91 we should probably also delete the terraform workspace we used.

[2022-08-25 16:51] abkfenris commented on #1616
We just (~12:26 Eastern) had the hub lock up again, but things seemed to recover immediately after hitting the 'Shutdown Hub' button.

[2022-08-25 17:00] alisonrgray commented on #1650
Thanks for getting this started.  This is me (@alisonrgray)
A few notes:
- This event is actually called "SST Hack-A-Thon".
- It will be similar to the OceanHackWeek hub that 2i2c did, but there will be some key differences.  After talking to @abkfenris it seems that it probably doesn't make sense to simply copy the OceanHackWeek hub.

Yes, users will be working closely  with the NASA  cloud-based

[2022-08-25 17:35] sgibson91 commented on #1618
@yuvipanda Yup, I had made a mental note but not written it down before a meeting :smile:

[2022-08-25 17:38] sgibson91 commented on #1618
PR to update the template here: https://github.com/2i2c-org/infrastructure/pull/1653

[2022-08-25 18:58] rabernat commented on #1279
I was finally able to log in and see the dashboard. The "Usage Report" dashboard seems great! 🚀

<img width="1713" alt="image" src="https://user-images.githubusercontent.com/1197350/186746343-2efd75b9-bdb8-44e2-ac03-7988fe5ba993.png">

This gives me an overall view of the amount of usage.

Some additional information I would like to be able to see
- Breakdown of usage by individual named user
- NF

[2022-08-25 19:43] GeorgianaElena commented on #1279
@rabernat, I believe the screenshot above is from the usage dashboard and there should be another one called usage report.

<img width="930" alt="Screenshot 2022-08-25 at 22 41 53" src="https://user-images.githubusercontent.com/7579677/186753940-ac8eb36a-4582-47db-bdf9-b9a9098c4c04.png">

[2022-08-25 23:57] fcollman commented on #1440
It's going well! we have had no major issues in the introduction portion of the dataset, and we even did a couple of within course live nggitpuller links with relatively few issues.

we do seem to sporadically run into edge cases that I don't totally understand where people aren't able to do the nbgitpuller, and we revert to renaming their folders and pulling a fresh one. But that has been the min

[2022-08-26 00:01] yuvipanda commented on #1440
@fcollman if you can report the errors they get in https://github.com/jupyterhub/nbgitpuller/, that would be helpful!

[2022-08-26 06:45] alisonrgray commented on #1650
URL for splash image:

https://drive.google.com/file/d/1i9R3JkdNRddWpMYWrLKSn2mQNu0YxRjE/view?usp=sharing

[2022-08-26 09:31] sgibson91 commented on #1618
PR to remove the cluster here: https://github.com/2i2c-org/infrastructure/pull/1654

[2022-08-26 13:37] GeorgianaElena opened #1655 "Issue with the "Manually setup an NFS server" instructions in docs"
### Context

Following the instructions in https://infrastructure.2i2c.org/en/latest/howto/operate/manual-nfs-setup.html to setup the NFS server for the callysto cluster, I ended up seeing the following error while mounting the user home dirs in the deploy hub step:

[code]

This error seemed to have popped up before: https://github.com/2i2c-org/infrastructure/pull/597#issuecomment-896684098

###

[2022-08-26 14:10] #1655 closed

[2022-08-26 16:51] #1618 closed

[2022-08-26 17:09] jhamman commented on #1618
Thanks @sgibson91!

[2022-08-26 21:29] jules32 opened #1658 "Add "Small" server option radio button default for Hub that has language option (python, R, Matlab)"
### Context

Hello! We now have the option to spin up instances in our Openscapes Hub to support researchers programming in different languages, thank you 2i2c team and @betolink for enabling this! You'll see in this screenshot below that we can now select python, R, or Matlab.

<img width="1152" alt="Screen Shot 2022-08-25 at 08 43 59" src="https://user-images.githubusercontent.com/5891909/186992

[2022-08-27 07:36] #1658 closed

[2022-08-27 21:01] jules32 commented on #1658
Thank you!

[2022-08-27 22:35] yuvipanda commented on #1658
Yw @jules32

[2022-08-29 15:45] damianavila commented on #1648
@yuvipanda and @GeorgianaElena were assigned to this issue and they are going to help deploy this hub.

@laserchemist (and maybe @colliand?) if you can help answer any further questions the engineers might need (besides the info already shared at the top comment) that would be super helpful. Thanks!!!

[2022-08-29 15:49] colliand commented on #1648
I will monitor the thread and be available to assist with other channels as well.

[2022-08-29 15:55] damianavila commented on #1431
@choldgraf might know better, but I think it does... but wondering why you are asking about it?

[2022-08-29 15:55] damianavila commented on #1431
Well, I have seen this one working as expected in other repos... not sure about this one, particularly.

[2022-08-29 16:01] damianavila commented on #1650
Can we get a better sense of this one? Because it might impact the dates referenced above.

We need more details about those key differences, can you please provide more information about those. Thanks!

[2022-08-29 16:22] damianavila commented on #1431
Most likely the case...

[2022-08-29 16:32] sgibson91 commented on #1431
I guess I wasn't sure if that was intentional or not, have we lost some context because something was overwritten, is it a bug that something here was overwritten? I just happened to come across this the other day and it was confusing that discussion didn't seem relevant to the top comment.

[2022-08-29 17:42] alisonrgray commented on #1650
We settled on a date, which is the same as what is listed in the original issue
Target start date: 2022-09-12
Required start date: 2022-09-19

[2022-08-29 17:47] alisonrgray commented on #1650
Here are some key differences with OHW, right off the bat:
- We only need python, no R or Rstudio
- We won't need the ability for users to create their own environments (which was an option in OHW)
- We will be heavily using NASA's cloud-enable datasets and accessing them using the Harmony API - https://harmony.earthdata.nasa.gov/
- We will want to use Dask

[2022-08-29 19:05] sgibson91 commented on #1102
A related update: We caught a bug in Kubespawner that is causing the hub to be unable to restart after a k8s master outage in https://github.com/jupyterhub/kubespawner/issues/627

[2022-08-29 20:52] #440 closed

[2022-08-29 21:29] alisonrgray commented on #1650
Another update - we are going to be moving this event back after all.  My apologies for the whiplash! The new event date will be either the week of Oct 31 or the week of Nov 7 - still TBD.  I'll update you on here as soon as it's decided.

[2022-08-30 00:22] jules32 commented on #1658
Hi @yuvipanda et al,

We're now seeing the following request from Auth0 when we try to log in. I'm not sure this is related to the default radio button but we wanted to check if this expected before allowing authorization -

<img width="574" alt="image" src="https://user-images.githubusercontent.com/5891909/187320774-5c207876-a880-4d30-a585-d35d9c802ef1.png">

Auth0 links to https://github.com/iam

[2022-08-30 08:50] sgibson91 commented on #1640
Got a response in freshdesk to also make the carbonplan/main-single-user image available, so will add that to #1642

[2022-08-30 14:45] GeorgianaElena commented on #1648
#### Top comment missing info:

Thanks everyone. I believe right now the missing info would be the answers to these two questions from @colliand in the top comment:

1. Hub logo information ➡️ _What image should be used for the Temple hub?_

Example: See the AWI/CIRHO logo shown at the top of this hub landing page: https://ciroh.awi.2i2c.cloud/hub/login?next=%2Fhub%2F

2. Hub user image ➡️ _Do you

[2022-08-30 14:47] GeorgianaElena commented on #1576
Hey @abkfenris , the event appears to be over, is that right?

[2022-08-30 14:48] colliand commented on #1648
The number referenced in the call with @laserchemist was 300 to 500 users. More growth is expected in 2023.

[2022-08-30 15:09] abkfenris commented on #1576
Yep, we've wrapped up the scheduled weeks. We would like to keep the hub active for as long as reasonable, but we can scale down the dedicated node pools and similar at this point.

[2022-08-30 15:12] GeorgianaElena opened #1660 "Create GitHub and Google OAuth apps for the 2i2c Auth0 account"
### Context

More context about this in https://github.com/2i2c-org/infrastructure/issues/1658#issuecomment-1231001791 and https://2i2c.slack.com/archives/C01DB2JRP8W/p1661849314677329

### Proposal

Create OAuth apps to be used by the 2i2c Auth0 apps on:
- [x] GitHub
- [ ] Google

### Updates and actions

_No response_

[2022-08-30 15:21] GeorgianaElena commented on #1576
Makes sense! Thanks for letting us know @abkfenris.

We hope that your hub worked out well for you! We are trying to understand where we can improve our hub infrastructure and setup around events, and would love any feedback that you're willing to give. Would you mind answering the following questions? If not, just let us know and that is no problem!

[code]

[2022-08-30 15:38] abkfenris commented on #1576
We're debriefing the event tomorrow, so I'll get back to you after that.

Probably sometime this weekend as I'm road tripping across the country and will have a bunch of time in the passenger seat with low bandwidth to force me to focus.

[2022-08-30 16:17] yuvipanda commented on #1648
@GeorgianaElena given the start date is only a couple days away, my suggestion is to use the shared cluster and migrate later

[2022-08-30 16:20] jules32 commented on #1658
Wonderful, thanks @GeorgianaElena ! I've tested it and confirm we now see the 2i2c-Auth0 authorization.

Thank you so much!

[2022-08-30 18:27] sgibson91 opened #1662 "[Incident] UToronto hub unavailable"
### Summary

Visiting https://jupyter.utoronto.ca does not resolve

### Impact on users

No one can access the hub

### Important information

- Hub URL: https://jupyter.utoronto.ca
- Support ticket ref: https://2i2c.freshdesk.com/a/tickets/181

### Tasks and updates

- [x] Discuss and address incident, leaving comments below with updates
- [x] Incident has been dealt with or is over
- [x] Copy/pa

[2022-08-30 18:34] sgibson91 commented on #1662
I can't take this incident on myself as I've done a lot of support already today and it's late in the UK right now, but I did a quick check and all the pods seem to be running

[code]

[2022-08-30 18:57] choldgraf commented on #1662
### 20:25 - Potential ubuntu bug

Jeremy shared this with us via email:

Starting at approximately 06:00 UTC on 30 Aug 2022, a number of customers running Ubuntu 18.04 (bionic) VMs recently upgraded to systemd version 237-3ubuntu10.54 reported experiencing DNS errors when trying to access their resources. Reports of this issue are confined to this single Ubuntu version. This bug and a potential fi

[2022-08-30 19:14] choldgraf commented on #1662
### Hub is back up

We just tried the hub and it is responding. https://jupyter.utoronto.ca/hub/login?next=%2Fhub%2F

[2022-08-30 19:19] choldgraf commented on #1662
# After-action report

## Summary

- There was a bug that got introduced in Azure infrastructure running our version of ubuntu
- That bug bit our hub causing all of the nodes to become unresponsive
- This brought down the toronto hub and was reported via FreshDesk
- We needed to restart the nodes, and the easiest way to do this was to upgrade the nodes
- When they restarted this issue was resolved

[2022-08-31 01:46] laserchemist commented on #1648
Very helpful, Authentication works, jmsmith1. Is Jupyterlab possible since the students are now used to this profile?

[2022-08-31 05:42] choldgraf opened #1666 "[Incident] CarbonPlan AWS hub had running infrastructure we didn't track"
### Summary

We migrated CarbonPlan's cloud infrastructure away from a bespoke `kops`-based cluster, and towards an AWS-native `eksctl` cluster. In the process, some of the old `kops` cluster infrastructure was not properly shut down and got lost during the transition. It was running in the background in a "semi-running" state and incurred a regular amount of cloud costs over time even though nobo

[2022-08-31 05:55] choldgraf opened #1667 "Create a source of truth for how to access cloud UI for all clusters"
### Context

We had an incident that involved a community that had their own AWS console information. When we decided to look at the AWS console for 2i2c, we realized that it wasn't managed by 2i2c directly. As a result, it was unclear where the CarbonPlan cloud infrastructure was running.

- https://github.com/2i2c-org/infrastructure/issues/1666

### Proposal

We need a single location that is th

[2022-08-31 06:16] choldgraf opened #1668 "Improve our system of paired deployments / operations"
### Context

We recently had an incident that occurred because of a mistake made while decommissioning some cloud infrastructure, reported in:

- https://github.com/2i2c-org/infrastructure/issues/1666

The error that we made was that we incorrectly decommissioned the cluster, and didn't double-check that it was entirely shut down. As a result it started accruing cloud costs in the background. Beca

[2022-08-31 06:27] choldgraf opened #1669 "Explore using billing alerting infrastructure directly from the cloud provider"
### Context

In a recent incident there was some cloud infrastructure running in the background that we did not track with our Grafana dashboards (because it was on an old cluster).

- ref: https://github.com/2i2c-org/infrastructure/issues/1666

We have an issue to track using Grafana for cloud provider alerting (https://github.com/2i2c-org/infrastructure/issues/1288). However, this would not have

[2022-08-31 06:29] choldgraf commented on #1666
# After-action report

These sections should be filled out once we've resolved the incident and know what happened.
They should focus on the knowledge we've gained and any improvements we should take.

## Timeline

_A short list of dates / times and major updates, with links to relevant comments in the issue for more context._

_All times in CET_

### 2022-08-30 - 10:45am

We receive a FreshDesk r

[2022-08-31 10:09] #1640 closed

[2022-08-31 10:09] #1641 closed

[2022-08-31 11:07] sgibson91 commented on #1611
I am now seeing this problem on CarbonPlan (AWS) after https://github.com/2i2c-org/infrastructure/pull/1642#issuecomment-1232771961

[2022-08-31 12:48] sgibson91 commented on #1055
In Slack, Erik noted that version `2.0.0-beta.1.n024.he38f180b` has been released. This release contains a fix for https://github.com/jupyterhub/kubespawner/issues/627 which was causing us a lot of problems in non-regional clusters. See https://github.com/2i2c-org/infrastructure/issues/1103, https://github.com/2i2c-org/infrastructure/issues/1300, https://github.com/2i2c-org/infrastructure/issues/1

[2022-08-31 14:03] GeorgianaElena opened #1671 "Issue with adding staff as hub admins if `admin_users` is not explicitly listed in the config (even as an empty list)"
### Context

When trying out the hub in https://github.com/2i2c-org/infrastructure/pull/1664 I realized that I'm not of admin, even though the config to add 2i2c staff as admins seems to be correct.

### Proposal

Confirm this is a bug and try and fix it somehow

### Updates and actions

- I did some checks on other hubs too (earthlab, staging, demo), each of them using a different authenticator b

[2022-08-31 14:58] arnim commented on #1597
Just give me a ping :)

[2022-08-31 15:11] GeorgianaElena commented on #1439
### Updates

- @byrcyb and @ianabc, there is now a staging (https://staging.callysto.2i2c.cloud) and prod (https://callysto.2i2c.cloud) hubs running in the new callysto cluster. PR here https://github.com/2i2c-org/infrastructure/pull/1649.

- Right now the hubs are locked up because the access its only allowed to a list of users (currently this is just me). It uses the `oidc` claim for to identify

[2022-08-31 18:23] ianabc commented on #1439
Thanks @GeorgianaElena. I've gone through the cilogon process and I'll send my openID in slack. I suspect that we will want to open the hub more generally to any microsoft or google account, which is what we are currently doing on hub.callysto.ca.

Related to that though, we need to manage the migration of user data from the old hub to the new one. On the old hub, accounts are identified by a hash

[2022-08-31 18:36] ianabc commented on #1439
I've added the CNAME record, it should be propagating now.

[2022-09-01 08:24] GeorgianaElena commented on #1439
Thanks a lot @ianabc! Hub is now running at https://2i2c.callysto.ca and I've added you as an admin and also removed the allowed users list, which means that it matches the access level of the old hub.

[2022-09-01 09:15] GeorgianaElena commented on #1439
Yes, so the hub should only be aware of the user's OpenIDs since these are the hub usernames.

[2022-09-01 14:19] sgibson91 opened #1675 "Debug the deployment plan workflow"
For some reason, the workflow that posts deployment plans to PRs has started posting multiple times instead of updating an existing comment. Noted this behaviour in https://github.com/2i2c-org/infrastructure/pull/1642 and https://github.com/2i2c-org/infrastructure/pull/1649. I shall disable it and debug.

[2022-09-01 18:29] choldgraf opened #1676 "Investigate support for Canvas, Blackboard, etc"
### Context

Currently, our infrastructure can connect with _github repositories_ to pull in content via nbgitpuller. However, many (most?) organizations do not feel comfortable using GitHub for their course content. Instead they use a course management system like Canvas or Blackboard.

There have already been a few cases where others have asked us to connect a hub with Canvas (e.g. I believe Tor

[2022-09-02 10:51] GeorgianaElena commented on #1660
This is now blocked by a similar problem described in https://issuetracker.google.com/u/1/issues/185141979.
Also, the app was not submitted for verification yet because it depends on https://github.com/2i2c-org/team-compass/issues/388

[2022-09-02 20:04] laserchemist commented on #1648
Couple requests before students can use:
1. Need "https://github.com/DataScienceTempleFirst/EDS.git" pulled
2. Docker image:  laserchemist/eds-jup:v43.
    rdkit not visible (No module named 'rdkit')
3. Students are now used to Jupyter lab is this possible as a default?
4. Need admin: jmsmith1@temple.edu

[2022-09-02 20:12] yuvipanda commented on #1648
@laserchemist I'll mark you as admin today, which will allow you to set the docker image and select lab as default.

For pulling, my recommendation is to make an nbgitpuller link - https://temple.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2FDataScienceTempleFirst%2FEDS&urlpath=lab%2Ftree%2FEDS%2F - and distribute that to students. In my experience, this is more robust than

[2022-09-02 20:49] laserchemist commented on #1648
I see, I can redirect so it remains transparent to students, I was aware of this approach but always trying to make it straightforward/foolproof for students.  I have noted some cases where the startup gets hung up when pulling from GitHub.

In terms of setting the image this way, will it be apparent to me?
Thanks!

[2022-09-02 22:30] yuvipanda commented on #1648
@laserchemist you should be able change the environment + set up via the configurator: https://docs.2i2c.org/en/latest/admin/howto/configurator.html. Can you try it out?

[2022-09-03 00:38] laserchemist commented on #1648
I see the configurator. I used what I thought was a standard way to refer to the image but the there was a spawning error.  I am not sure the syntax to refer to a docker image on docker. I can work through repo2docker, etc. but I know this image does what I need.

[2022-09-03 00:42] laserchemist commented on #1648
I see the configurator. I used what I thought was a standard way to refer to the image but the there was a spawning error.  I am not sure the syntax to refer to a docker image on docker. I can work through repo2docker, etc. but I know this image does what I need.

[2022-09-03 02:25] yuvipanda commented on #1648
@laserchemist can you tell me what error you got? And where is the image built from?

[2022-09-03 09:43] #1438 closed

[2022-09-03 14:10] laserchemist commented on #1648
First: 2022-09-03T14:06:22Z [Normal] Pulling image "laserchemist/eds-jup:v4"
Looks like it is working this morning! Thank you for your efforts!
I will attempt to move to repo2docker for later efforts!
FYI:
The image listed in Docker image in JupyterHub configurator is: laserchemist/eds-jup:v4 is from Docker using the following Dockerfile:
FROM jupyter/scipy-notebook:hub-2.3.0
# Replace `latest` wi

[2022-09-05 08:34] GeorgianaElena opened #1678 "Lock up the Callysto hub"
### Context

The Callysto hub is pretty open right now, so we should find ways to protect it against potential abuse.
We currently have [cryptnono deployed](https://docs.2i2c.org/en/latest/about/infrastructure/security.html#cryptocurrency-mining) on all of our clusters, but we should find ways to improve this protection, esp for hubs like the Callysto one.

Ref: https://github.com/2i2c-org/infrast

[2022-09-05 14:22] GeorgianaElena commented on #1439
@ianabc and @byrcyb, can you please confirm you were able to login into the hub and everything works as expected? Thanks

[2022-09-05 14:23] sgibson91 commented on #1675
I have reenabled the workflow 🤞🏻

[2022-09-05 17:55] abkfenris commented on #1576
Other than the hiccups with the proxy/spawner due to Google hiccups, I think the hub worked largely as expected. We were lucky that those didn't occur during the main part of OHW, let alone when I was commuting to/from the lab. It's good to see that you are working on solving the bugs upstream and have a plan for migrating the infrastructure to regional infrastructure.

It did seem like the admin

[2022-09-06 09:52] GeorgianaElena commented on #1576
Thanks for sharing this extremely valuable feedback @abkfenris ✨ We will open up new issues based on your suggestions 🚀

[2022-09-06 09:52] #1576 closed

[2022-09-06 10:19] GeorgianaElena commented on #1590
Based on the feedback we got in https://github.com/2i2c-org/infrastructure/issues/1576#issuecomment-1237347124, this wasn't find extremely useful, because it lacked the mechanism of testing fast that a image is working and distribute it asap to the users (*""It would be really nice to have a faster way to test and update the images (for when I get told about packages just before they are used for

[2022-09-06 10:40] sgibson91 commented on #1590
I personally would focus more on the first option for a temporary workaround. Option 2 would require maintaining a list of the GitHub handles of all Comm. Reps. who _might_ open an image-based PR. (What could go wrong with auto-merging PRs? How would we validate that the PR was only changing images and not any critical infrastructure?) It would involve more dev work that I think should be dedicate

[2022-09-06 16:43] colliand commented on #1621
I hope the hub worked well and that the workshop on brain dynamics was a super success. I invite @mabuice and colleagues to share feedback! Did the service work well for the workshop? How can we make it better? Feel free to share input here or we can arrange for a virtual meeting.

According to the Allen Institute + 2i2c/CSS agreement, this hub is scheduled to be wound down at the end of September

[2022-09-06 16:50] colliand opened #1684 "List of Running Hubs is Incomplete"
### Context

The [allen-swdb hub](https://allen-swdb.2i2c.cloud/hub/login?next=%2Fhub%2F) is not appearing in the [list of running hubs](https://infrastructure.2i2c.org/en/latest/reference/hubs.html).

### Proposal

_No response_

### Updates and actions

_No response_

[2022-09-06 16:51] sgibson91 commented on #1684
Because the PR has not bee merged yet

* https://github.com/2i2c-org/infrastructure/pull/1585

[2022-09-06 18:58] colliand commented on #1684
Thanks @sgibson91. I noticed that https://staging.callysto.2i2c.cloud and https://2i2c.callysto.ca/ are also running and not appearing in the list. I don't see a related PR.

Am I just landing on edge cases that will shake out over a day or two? If yes, we can close this issue. If instead I'm identifying a systematic gap in the hubs we are running and those in the list, let's keep the issue open a

[2022-09-06 19:08] sgibson91 commented on #1684
Callysto is showing up on the table for me. Note that the table only shows 50 entries at a time and we have a total of 56 entries, so you have to advance the page located at the bottom of the table.

<img width="1148" alt="Screenshot 2022-09-06 at 20 08 08" src="https://user-images.githubusercontent.com/44771837/188718922-5b340f0e-f49d-422e-8b60-39e13451f93c.png">

[2022-09-06 19:09] sgibson91 commented on #1684
<img width="934" alt="Screenshot 2022-09-06 at 20 08 59" src="https://user-images.githubusercontent.com/44771837/188719015-3e7b9d61-6d7e-4da0-88af-20246f6aae7c.png">

[2022-09-06 19:19] colliand commented on #1650
Thanks @alisonrgray! Please do let us know when the new event schedule is confirmed. At this point, should we pencil in a plan:

- [ ] deploy hub 2022-10-01
- [ ] support hackathon event week
- [ ] wind down the gridSST hub (WHEN? 2022-12-31? longer? I recall from our conversation that you were interested possibly in a persistent hub)

[2022-09-06 19:29] sgibson91 opened #1686 "Workflows API rate limited in CI/CD?"
### Context

I think we are hitting some kind of rate limit in CI/CD. Every now and then the following error message appears.

<img width="529" alt="Screenshot 2022-09-06 at 20 24 35" src="https://user-images.githubusercontent.com/44771837/188721724-714e9b6f-b411-463f-8724-1b89ea17c0a8.png">

Although, one would expect that if it were a rate limiting issue, simply waiting an amount of time and rer

[2022-09-07 00:56] byrcyb commented on #1439
hi @GeorgianaElena I haven't had a chance to test all of the functionality yet, but, I was able to login successfully. A couple of initial questions:
- I noticed was that my first login took over 4 minutes from when the server was requested to when the I landed in the Hub Dashboard. Is that expected behaviour?
- In the Hub Dashboard, there are two folders `shared` and `shared-readwrite`. What are

[2022-09-07 14:05] arnim commented on #1382
Hi 👋  I'm back to the office this month. Should we have a small meeting, maybe next week? Let me know if there is anything I can do.

[2022-09-07 14:12] GeorgianaElena commented on #1439
Yay 🎉

I believe it took this long because the server spawning required a new node to be created and this takes a couple of minutes usually. The node spin up event, was probably followed by the user image needing to be downloaded since it was your first time logging in and starting a server which also took a couple of minutes I suspect.
Subsequent server starts shouldn't take this long. For cases

[2022-09-07 14:39] choldgraf opened #1687 "[Incident] University of Toronto 500 errors"
### Summary

The University of Toronto Hub is giving 500 errors before arriving at the log-in screen.

### Impact on users

Nobody can log in to the hub

### Important information

- Hub URL: https://jupyter.utoronto.ca/
- Support ticket ref: https://2i2c.freshdesk.com/a/tickets/188

### Tasks and updates

- [x] Discuss and address incident, leaving comments below with updates
- [x] Incident has b

[2022-09-07 14:40] sgibson91 commented on #1687
I just tested on jupyter.utoronto.ca and the error is coming up _after_ logging in. So I'm now pretty sure this is a credentials of the AzureAD app thing

[2022-09-07 14:41] choldgraf commented on #1687
### Might be related to a previous incident

About a week ago, the UToronto hub reported similar issues with 500 errors. The problem was that a secret had expired within UToronto IT. The resolution was that @yuvipanda spoke to UT IT, got a new secret, and we deployed it to the hub.

We found reports of auth-related issues in the hub logs. Note the `Invalid client secret provided` error.

[code]

[2022-09-07 14:44] choldgraf commented on #1687
### Potentially an over-written secret

Our theory right now is that:

- the original secret was deployed **manually**
  - This is because right now there are no recent commits to the UT hub config: https://github.com/2i2c-org/infrastructure/tree/master/config/clusters/utoronto
- A recent change to our `main` branch means that all hubs were re-deployed:
	- https://github.com/2i2c-org/infrastructur

[2022-09-07 23:38] yuvipanda commented on #1687
There are a bunch of very important takeaways from this! https://github.com/2i2c-org/infrastructure/issues/1118 being bumped up in priority is one.

[2022-09-08 06:38] yuvipanda commented on #1687
https://github.com/2i2c-org/team-compass/pull/508 replaces GitHub with PagerDuty for managing incidents - this makes sure it becomes much more difficult to accidentally miss an important step in the incident response process

[2022-09-08 06:57] yuvipanda commented on #1118
I'm also looking at OpsGenie - In particular, they have a 'quiet hours' features that seems more intuitive than Pagerduty's scheduling. However, the OpsGenie slack integration doesn't let you trigger a new incident from slack which is boo :(

[2022-09-08 07:00] yuvipanda commented on #1118
It's absolutely important that engineers can control how and *when* they are notified - we don't want this to become a traditional 'oncall' situation.

[2022-09-08 07:51] #1648 closed

[2022-09-08 07:54] yuvipanda commented on #1118
Me and @jmunroe spent a bunch of time talking about this, and in particular role-playing how this *should* have played out with today's UToronto outage.

A proposed workflow is that after the incident is created, we want pagerduty to evaluate the current local timezone and stated preferences of all engineers and then send everyone who wants to be notified at that point a notification, via methods

[2022-09-08 08:06] yuvipanda commented on #1648
@laserchemist ah ok! If the repo making the image isn't on github somewhere, we won't really be able to help much with image problems unfortunately.

I've merged the config changes, so the hub is fully live now. LMK if you run into any issues

[2022-09-08 08:22] yuvipanda commented on #1102
Huge thanks to @sgibson91 for leading the effort in getting that bug fixed in kubespawner! It has been deployed now, but we should still move at some point soon.

[2022-09-08 08:31] yuvipanda commented on #1589
With https://github.com/2i2c-org/infrastructure/pull/1690 we no longer use a custom jupyterhub version!

[2022-09-08 08:39] GeorgianaElena commented on #1589
That's awesome ✨ So the only pkgs we're using custom versions for, are the `oauthenticator` and the `configurator`

[2022-09-08 08:44] GeorgianaElena commented on #1671
I will close this at it appears to have resolved itself for now? ref: https://github.com/2i2c-org/infrastructure/pull/1664#issuecomment-1240356519 and https://github.com/2i2c-org/infrastructure/pull/1664#issuecomment-1240413937

[2022-09-08 09:04] GeorgianaElena commented on #1589
btw, `oauthenticator` 15.1.0 has just been released thanks to @consideRatio 🚀

[2022-09-08 12:39] choldgraf opened #1691 "Document how to access and modify a user's filesystem"
### Context

In a recent incident we needed to modify a file in a user's home directory, but the file was preventing hub sessions to start. We weren't sure how to modify the file without spawning a user's session.

We realized that this was possible via `exec-homes-shell` which is documented [in the deployer module](https://github.com/2i2c-org/infrastructure/tree/master/deployer#exec-homes-shell).

[2022-09-08 14:31] choldgraf opened #1692 "Iterate on docs for log inspection"
## Updated October 2023

We have https://infrastructure.2i2c.org/howto/troubleshoot/logs/# that includes log inspection docs for GCP specifically, with examples on [looking at hub logs](https://infrastructure.2i2c.org/howto/troubleshoot/logs/#look-at-hub-logs) and [looking at user pods](https://infrastructure.2i2c.org/howto/troubleshoot/logs/#look-at-a-specific-user-s-logs).

We should have docs a

[2022-09-08 17:34] yuvipanda commented on #1651
I just moved the m2lines project over.

1. Go to https://console.cloud.google.com/billing/projects?organizationId=184174754493
2. Click the 'three dots' for the project you wanna change
3. Select 'Change Billing'
4. Select New Billing account
5. Done

[2022-09-09 06:52] yuvipanda opened #1693 "Increase the validity of the AzureAD credentials for UToronto JupyterHub"
Currently, the UToronto JupyterHub has credentials for talking to AzureAD for authenticating end users that expire once a year, on Aug 30. We should either remove this expiration date, or consider increasing it to two years.

[2022-09-09 07:08] yuvipanda opened #1694 "Make sure we check-in with University of Toronto IT for updated AzureAD credentials before Aug 30 2023"
Currently, the credentials for UToronto Hub to speak to AzureAD authenticator expire on Aug 30 2023. https://github.com/2i2c-org/infrastructure/issues/1693 suggests increasing the validity period, or removing it completely. Regardless, we should have a process in place to make sure that we catch the expiry *before* it happens, and refresh credentials if needed.

Ian Thomas from the MS group at Tor

[2022-09-09 07:33] yuvipanda commented on #1687
There's a WIP incident report at https://2i2c-org.pagerduty.com/postmortems/171317d6-5f19-7511-7d3a-117b13f62584/edit

[2022-09-09 07:52] sgibson91 commented on #1693
Do we have the ability to make this decision, or is it in the hands of UToronto IT?

[2022-09-09 09:51] GeorgianaElena opened #1695 "Templates sync don't work"
### Context

The [`templates-sync` container](https://github.com/2i2c-org/infrastructure/blob/7aa7442ab67a0dd040789ccb823d4c83f659be2d/deployer/hub.py#L128-L146) is currently not working, which means that any change to https://github.com/2i2c-org/default-hub-homepage won't be picked up "real-time', without a re-deploy of the hub.

The container logs show the following errors:

[code]

### Proposal

[2022-09-09 13:17] colliand commented on #1684
Hmm. I knew there were two pages and also tried the search. Thanks Sarah.

[2022-09-09 13:57] GeorgianaElena opened #1697 "Custom jupyter-server templates"
### Context

Currently we are able to provide custom templates for the hubs through https://github.com/2i2c-org/default-hub-homepage.

But a recent request to customize the look of  the single user's server from https://github.com/2i2c-org/infrastructure/issues/1439#issuecomment-1238790781 generated this issue.

Do we want to provide customizations for [`jupyter-server` templates](https://github.c

[2022-09-10 05:57] yuvipanda commented on #639
https://github.com/2i2c-org/docs/pull/164 and https://github.com/2i2c-org/infrastructure/pull/1698 add support for `age` so we can be given secret credentials. This doesn't mean we can't have other setups in the future, but this at least gives us one secure method that is not a single point of failure.

[2022-09-10 21:50] rabernat commented on #1230
As we begin the new semester, I am pinging this issue to remind the team that this is an extremely high-value feature that would really accelerate the use of data on our hubs.

[2022-09-10 22:45] yuvipanda commented on #1230
@rabernat ok, so to be more specific, we want to allow admins to *create* buckets, right? And implement that in a way that generalizes?

[2022-09-11 00:05] rabernat commented on #1230
Correct. This will empower the hub communities to manage their own cloud storage, rather than relying on 2i2c admins. Using object storage (rather than NFS mount) is key for more cloud-native-style workflows.

[2022-09-12 12:00] sgibson91 commented on #639
+1'ing keybase.io as well, since I already use it

[2022-09-12 12:10] sgibson91 commented on #1692
We should also document the method of accessing logs that I pointed out here https://github.com/2i2c-org/infrastructure/issues/1617#issuecomment-1211741192

That method:

1. Does not require command-line access, only GCP project access
2. Provides more historical logs. If the hub pod is restarted, you may lose some logs - but they will be retained in the GCP project.

Hence, I think that method sh

[2022-09-12 17:09] colliand opened #1702 "[New Hub] NASA Cryo Community -- Cryosphere Community Hub"
### Hub Description

Tasha Snow and  Matt Siegfried of the Colorado School of Mines worked with @fperez and @colliand and members of the cryosphere research community on two NASA proposals over Summer 2022. Both of these proposals were recently funded. These projects will support the use of open science workflows, broaden participation in cryo research, and improve community dynamics. 2i2c will de

[2022-09-12 18:02] byrcyb commented on #1439
Hi @GeorgianaElena I showed the hub to some high school educators on our team and there were some comments and questions about the CILogon page that is encountered when logging into the hub. Are there ways to customize:
1. The CILogon Logo - it's confusing for users since they don't know who CILogon is and may not trust that this is part of the normal login process.
2. The language used to make it

[2022-09-12 18:07] #639 closed

[2022-09-12 18:10] damianavila commented on #1597
@arnim @sgibson91, this is the when2meet link so we can agree on a day and time: https://www.when2meet.com/?16784142-sgYX7. Please drop your availability there so I can fill you with the meeting details as soon as we agree on one slot. Thanks!

[2022-09-12 22:10] damianavila commented on #1431
The previous versions of the original message could be seen in the top comment (using the dropdown arrow). In this case, I believe the overwritten is just a one-off error because the implementation changed at some time during the above discussion. I think I am going to close this one and let the bot raise a new clean issue the next time it runs, so we are sure things are working as expected (as it

[2022-09-12 22:10] #1431 closed

[2022-09-12 22:12] damianavila commented on #1431
For additional context, this is the original text at the top comment:

# Context
Currently, [we use this github workflow](https://github.com/2i2c-org/infrastructure/blob/master/.github/workflows/doc-links.yml) to run a linkcheck of our documentation on each pull request. This generates a decent amount of PR noise as links fairly often break in ways that are un-related to the PR.

# Proposal
Instea

[2022-09-12 22:25] damianavila commented on #1666
I think all the checkboxes detailed in the top comment were completed, so closing this one now.

[2022-09-12 22:36] damianavila commented on #1055
I guess this one should be open until we migrate to the released version of 2.0 that actually happened 3 days ago, correct?

[2022-09-12 22:49] yuvipanda commented on #1666
I think @choldgraf suggested to them that we check back on usage in a week, and see how it went - so this isn't done yet.

[2022-09-12 23:11] yuvipanda commented on #1055
@damianavila yep!

[2022-09-13 00:19] damianavila commented on #1651
Thanks @yuvipanda, so I guess there remaining task before closing this issue is the merge proposed by @sgibson91?

[2022-09-13 00:27] damianavila commented on #1684
We should get that PR merged, I will try to push forward that action!

[2022-09-13 00:37] damianavila commented on #1666
Thanks for the clarification, @yuvipanda!

[2022-09-13 03:44] github-actions[bot] opened #1704 "Broken links in documentation"
### Link and reference warnings

**Configuration error**
-

**There is a programmable error in your configuration file**
-

**Warning**
-

**Traceback (most recent call last)**
-

**Warning**
-   File "/opt/hostedtoolcache/Python/3.9.13/x64/lib/python3.9/site-packages/sphinx/config.py", line 332, in eval_config_file

**Warning**
-     exec(code, namespace)

**Warning**
-   File "/home/runner/work/

[2022-09-13 06:43] yuvipanda commented on #1440
@fcollman @mabuice how did this go?

[2022-09-13 13:06] GeorgianaElena commented on #633
We now have the configurator 🚀 so we can consider this one resolved 🎉

[2022-09-13 16:16] damianavila commented on #1597
Copying over from another issue:

We had some [User Stories](https://docs.google.com/document/d/1dVSRGG4LwY7pC2ONMEBsRZcal08BVAnRh_npteKlVSM/edit#) for the pBHub.

[2022-09-13 16:18] damianavila commented on #1597
The meeting invitation was sent, folks.

[2022-09-13 17:51] colliand commented on #1678
This is a good idea, especially to avoid unauthorized cloud usage explosions. That said, the Callysto use case involves their personnel introducing data science and coding ideas to teachers and students in grades 5-12 across Canada. These users tend to not be organized under CIlogon or InCommon authorization layers. Their usage scenario often involves launching students and teachers they've just m

[2022-09-13 22:00] damianavila commented on #633
I think this one is aimed toward changing the UI on the fly once you have already launched a pod, maybe?

[2022-09-13 22:54] damianavila commented on #1575
@jmunroe, I forgot about this one (as per our today conversation).

[2022-09-14 15:50] yuvipanda commented on #1455
Fixed by https://github.com/2i2c-org/infrastructure/pull/1488

[2022-09-14 15:50] #1455 closed

[2022-09-14 17:13] jameshowison opened #1705 "A docker-on-laptops on-ramp for 2i2c"
### Context

In my discussions with faculty and IT there is great enthusiasm for teaching with the infrastructure that 2i2c provides.  Yet I run into two concerns:

1. Budget is not allocated per-course, cost management/potential overruns are a big concern for adjuncts (and everyone, but especially less powerful instructors)
2. Preparation is made just in time for the semester. Coming to know and

[2022-09-14 18:50] choldgraf commented on #1651
Looking at the billing accounts, it seems like that project is now where it should be, and linked against our 2i2c.org organization, so I think this can be closed.

![image](https://user-images.githubusercontent.com/1839645/190204956-45105070-9282-4ab8-97ee-69116510741f.png)

We still need to invoice m2lines for their cloud bill. @colliand or @jmunroe is there a place where we are tracking the clo

[2022-09-14 18:50] #1651 closed

[2022-09-14 19:05] colliand commented on #1705
Thanks @jameshowison. We will reflect on the proposal to use docker images as on ramps. Some related conversations involving binder and Jupyterlite are ongoing.

With other universities, 2i2c has addressed the three issues using an approach used with other education technology platforms like the LMS. The LMS is a central service that is valuable to most (if not all) classes. Interactive computing

[2022-09-14 19:09] colliand commented on #1651
We need a system to track cloud billing.

[2022-09-15 00:18] yuvipanda commented on #1687
Incident report added at https://github.com/2i2c-org/incident-reports/pull/1

[2022-09-15 01:57] yuvipanda commented on #1693
@sgibson91 I think it's in the hands of University IT. I've opened https://2i2c.freshdesk.com/a/tickets/197 with University IT and Jeremy to discuss.

[2022-09-15 03:38] yuvipanda commented on #1705
Thank you very much for this thought through issue, @jameshowison!

A useful action item here to me sounds like: "Write documentation on how a end user can replicate the hub experience (including nbgitpuller link) on their local computer".

So let's say that we have the following assumptions:

1. The end user (student) has [docker desktop](https://www.docker.com/products/docker-desktop/) installed

[2022-09-15 04:41] yuvipanda commented on #1705
If you run the following code on any 2i2c hub:

[code]

It should give you output like:

[code]

If you run it on the terminal of any machine with docker desktop installed, it should pull the image and start a server. It should provide some output, ending with lines that look like:

[code]

The first two options are lies, and won't work. The third one, however *will*! And you'll get a notebook (cl

[2022-09-15 05:39] tsnow03 commented on #1702
Thank you everyone for your work on this! Here is our status at the moment:
We are still confirming Community Leadership names.

**Important dates**
Target start date: First week of October
Required start date: Oct. 14, 2023
Any important dates for usage: Listed in future events above

**Hub Authentication Type**
GitHub Authentication (e.g., @MyGitHubHandle)

**Hub logo information**
URL to Hub Im

[2022-09-15 08:20] yuvipanda opened #1709 "Document how to SSH into kubernetes nodes"
Sometimes, we might need to actually SSH into the kubernetes nodes themselves to fix issues. For example, there's an automatic update rolled out to all Ubuntu 18.04 nodes on Azure that cause them to lose network access (https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1988119), the quickest solution is:

1. ssh into all nodes,
2. run `sudo reboot`

However, this can be really simple (on GCP)

[2022-09-15 08:35] yuvipanda commented on #1662
More detailed postmortem in https://2i2c-org.pagerduty.com/postmortems/1714f617-7062-735f-94b4-74a2ef9f32ae

[2022-09-15 09:20] sgibson91 commented on #1709
This looks like a helpful blog post for the Azure case: https://trstringer.com/aks-ssh-to-node/

[2022-09-15 09:39] #1695 closed

[2022-09-15 09:43] sgibson91 commented on #1702
The "URL to Hub Image" is a URL that points directly at the image for us to reference and pull into the splash page. The "Image Link" is a URL you would like the image displayed on the splash page to hyperlink to, e.g., your project homepage.

We can improve the language in this template to make that distinction clearer :)

[2022-09-15 14:41] jameshowison commented on #1705
Yes, @yuvipanda that is spot on.  I think this shows the flexibility of 2i2c's approach. That way an instructor can have students up and running with two links, give or take. So the instructions for setup in class become:

1. Install Docker Desktop
2. Find terminal.app or windows equivalent
3. Copy and execute `docker run -p 9000:9000 -it quay.io/2i2c/2i2c-hubs-image:69b1f9dff7c7  jupyter notebook

[2022-09-15 14:51] jameshowison commented on #1705
Each of the steps above might be simplified more:

1. Install Docker Desktop (ok, that one can't ;)
2. (and 3) Find terminal.app or equivalent, run `docker run` command.

Surely there is some way to run a docker run command via docker desktop that doesn't involve the command line.  Some double-clickable file that Docker Desktop opens? Maybe there is a docker:// URL scheme that docker-desktop could

[2022-09-15 15:32] GeorgianaElena commented on #1439
@byrcyb, this is now almost done. I have not deployed it to the main hub yet because I am waiting for feedback from the team, but you can check it out on the staging hub if you want, which is running at https://staging.callysto.2i2c.cloud/hub/home 🚀

Unfortunately these CILogon related customizations are not possible. But we will prioritize deliberating whether this is something we should support

[2022-09-15 16:59] #1691 closed

[2022-09-16 11:57] choldgraf opened #1712 "User experience for a multi-hub service for University of Toronto"
### Context

We need to move the University of Toronto onto a multi-hub offering so that we can reduce the complexity of each hub and make the whole thing more maintainable. To do so, we need to propose what it "looks like" to offer a university multiple hubs. For example:

- How do you access a single hub?
- How do you figure out which hubs you have access to?
- Do administrators have some kind o

[2022-09-16 16:33] byrcyb commented on #1439
Thanks for the update @GeorgianaElena.

I was doing more testing and noticed that downloading our Callysto notebooks as PDF via LaTeX or HTML throws a 500: Internal Server Error page. I'm not sure if this is a hub issue, perhaps something with nbconvert, or something else. Any help on this is greatly appreciated. Here's the error thrown when I try to download PDF via HTML:

The error log when I tr

[2022-09-16 18:16] tsnow03 commented on #1702
Great, thanks @sgibson91!

Community Leaders:
@tsnow03
@dfelikson
and potentially @jessicaS11 and/or one other. I'm still waiting to confirm with both.

URL to Hub Image: {{https://github.com/CryoInTheCloud/CryoCloudWebsite/blob/main/cryocloud.png}}
URL to Image Link: {{https://github.com/CryoInTheCloud}}

Other Hub URL: www.CryoInTheCloud.com

Other Relevant Information:
Definitely need a Python

[2022-09-16 20:07] yuvipanda commented on #1712
I think I already sent a fairly detailed proposal to them on an email thread. Let's lift what's there, and start from there?

[2022-09-16 20:20] yuvipanda opened #1716 "Find a way to be notified of Azure advisories"
When investigating the outage tracked in https://2i2c-org.pagerduty.com/postmortems/1714f617-7062-735f-94b4-74a2ef9f32ae (Will provide public postmortem link once available), we were vastly helped by an Azure incident notice about the Ubuntu bug causing this. It was provided to us by our community representative. We should find  a way to ensure that we look at that first each time whenever it migh

[2022-09-19 13:09] damianavila opened #1717 "Create a new shared calendar of events with Utoronto"
### Context

In a recent email exchange coming from a support ticket (https://2i2c.freshdesk.com/a/tickets/188), there was agreement about the need for a shared calendar of important events happening in the Utoronto hub (such as final exams).

### Proposal

Create a shared calendar for the upcoming final exams (and potentially other important events).

### Updates and actions

_No response_

[2022-09-19 17:21] yuvipanda commented on #1717
How about instead we have one bigger calendar, specifically for important hub dates. This should contain event support dates and any exams our hubs might be used for.

[2022-09-19 18:40] jmunroe opened #1718 "Increase memory limit for AUP hub to 6GB"
### Context

Original ticket: https://2i2c.freshdesk.com/a/tickets/202

successfully a JupyterHub provided by you.

2GB for 6 students during this semester.

I have re-engaged with AUP to work towards settting up a formal contract. On the assumption that we will be able to eventually come to agreement, we should increase the amount of RAM available right away to allow their students to not be impa

[2022-09-19 21:59] ntaback commented on #1717
Thanks for following-up on this idea.  What’s not clear to me is how this calendar of assignments and exams would be populated?  I think it would only make sense for individual instructors to populate this type of calendar.   For example, I know UTJH will be used for a final exam in one course, and I can get you the date once it’s published, but there are many courses that are using it for assignm

[2022-09-20 08:55] GeorgianaElena commented on #1439
- @byrcyb, it looks like you're missing the `pyppeteer` package in the user image.
The hub is currently using this custom user image and version that needs to be updated, I believe:

https://github.com/2i2c-org/infrastructure/blob/90512f22bd3f339266106f95b62c2f5b77c5c468/config/clusters/callysto/common.values.yaml#L31-L34

- Btw, 2i2c has this docs https://infrastructure.2i2c.org/en/latest/howto/c

[2022-09-20 08:55] #1439 closed

[2022-09-20 14:16] #1718 closed

[2022-09-20 15:25] colliand commented on #1684
Pending the PR, this issue can be closed.

[2022-09-20 15:38] colliand commented on #1620
I believe this event is over and the associated hub has been decommissioned. I am closing this issue.

[2022-09-20 15:45] colliand commented on #1621
This event has occurred. The associated hub can be decommissioned at the end of September. I am closing this issue.

[2022-09-20 15:45] #1621 closed

[2022-09-20 15:46] colliand commented on #1440
This hub can be decommissioned at the end of September. FYI @damianavila .

[2022-09-20 17:00] colliand commented on #1712
I looked for the email thread and did not quickly find it. Can the "fairly detailed proposal" be pasted into a comment here?

[2022-09-20 21:41] damianavila commented on #1687
The incident report was shared with Toronto folks.
I think we can close this one now.
Feel free to re-open if you disagree.

[2022-09-20 21:41] #1687 closed

[2022-09-20 21:48] damianavila commented on #1662
The postmortem was shared with UToronto folks in Freshdesk.
I guess the missing piece is to create GH issues for the improvements proposed, is there anything else I am missing from this one?  cc @yuvipanda @choldgraf @sgibson91

[2022-09-20 21:49] damianavila commented on #1662
Well, it seems https://github.com/2i2c-org/infrastructure/issues/1709 was opened after this one.

[2022-09-20 21:50] mabuice commented on #1621
The workshop went very well!  Thank you for all of your help!

[2022-09-20 21:51] mabuice commented on #1440
@yuvipanda It went very well!  Thank you for your help!

[2022-09-20 22:05] damianavila commented on #1662
And another one is related: https://github.com/2i2c-org/infrastructure/issues/1716.

[2022-09-20 22:19] damianavila commented on #1620
I reopened it because we need to merge #1721 and confirm some of the items listed above before closing it 😉.

[2022-09-20 22:29] damianavila opened #1722 "[Decommission Hub] allen-swdb"
### Summary

Confirmed the request for decommission on this comment: https://github.com/2i2c-org/infrastructure/issues/1440#issuecomment-1252551218

### Info

- **Community Representative:** @mabuice
- **Link to New Hub issue:** https://github.com/2i2c-org/infrastructure/pull/1585
- **Proposed end date:** Oct 3rd 2022

### Task List

#### Phase I

- [x] Confirm with Community Representative that t

[2022-09-20 22:31] damianavila commented on #1722
@mabuice, can you please confirm the following two items:

* Confirm with Community Representative that the hub is no longer in use and it's safe to decommission (double checking because of protocol :wink:).
* Confirm if there is any data to migrate from the hub before decommissioning

[2022-09-20 22:32] damianavila commented on #1440
Thanks @mabuice for your feedback!

Keeping this issue open until we merge: #1585.

Btw, I have created a decommission issue over here: https://github.com/2i2c-org/infrastructure/issues/1722.

[2022-09-20 22:54] damianavila commented on #1546
I have already talked with @GeorgianaElena about this one and she is going to lead the deployment and I will provide her support.

Two things we need to first figure it out first to start working on this deployment are:

* Cloud provider (from previous conversations in the lead issue it seems it will be AWS, but we need certainty).
* Auth

Can we please get these details first?
Access to the could

[2022-09-21 02:13] matthew-brett commented on #1485
So sorry for the delay - and that, because of the delay, we're running a bit tight.   The answers are below, let me know if I've missed something.

Important Dates

    Target start date: 2022-09-26
    Required start date: 2022-10-03
    Any important dates for usage: N/A

About the infrastructure

Hub Authentication Type ([reference docs](https://docs.2i2c.org/en/latest/admin/howto/manage-users.

[2022-09-21 02:31] matthew-brett commented on #1485
Can y'all let me know the Helm chart JupyterHub version so I can update in our images repo?

[2022-09-21 07:02] #1620 closed

[2022-09-21 07:04] GeorgianaElena commented on #1620
I've merged the PR and I confirm I followed all the manual decommissioning steps in the docs

[2022-09-21 12:33] damianavila commented on #1620
Thanks @GeorgianaElena!

[2022-09-21 13:03] GeorgianaElena commented on #1485
@matthew-brett, we recommend a `jupyterhub` version of at least `2.3.1`.

This is actually the version that we're using for the default 2i2c hub's user image too:

https://github.com/2i2c-org/2i2c-hubs-image/blob/69b1f9dff7c7725c01b9697fcbfe8851c4412ebe/requirements.txt#L31

[2022-09-21 14:49] matthew-brett commented on #1485
@GeorgianaElena - yes, that's correct about the Europe-base for the data - thanks for picking that up.  Does the new cluster have any implications for cost?

[2022-09-21 15:14] matthew-brett commented on #1485
I've updated the image to have JupyterHub 2.3.1:

Image tag and name: lisds/lisds-base:781af1c

[2022-09-21 21:33] damianavila commented on #1485
It usually does (although I am not sure about the specific of the contract negotiation on this specific case, cc @colliand @jmunroe who surely have more context than me on that topic): https://docs.2i2c.org/en/latest/about/sustainability/strategy.html#markup-for-running-on-dedicated-clusters.

[2022-09-22 16:02] GeorgianaElena commented on #1485
@matthew-brett, there's now a hub running at https://ds.lis.2i2c.cloud. You and anyone in the https://github.com/lisds org should be able to login. Can you please try it and let me know if it works?

The LIS logo it's not showing on the main page of the hub unfortunately. I think it's because it has a transparent background and it's made of white lines? Do you have another one we could use for the

[2022-09-23 04:47] matthew-brett commented on #1485
@LaCrecerelle - do we have another good icon to link to?

Our Github icon looks OK - is that the best one?  Do we have a more canonical URL than https://avatars.githubusercontent.com/u/95037064?s=200&v=4 ?

[2022-09-23 17:57] damianavila commented on #1088
From a support ticket where a conversation about the timeline for big changes happened:

And it seems they confirmed it is a good time for them, although I would argue it could be a hard time for us from a capacity point of view.

[2022-09-23 18:34] yuvipanda commented on #1088
Yeah, I agree - unfortunately that is often the only time to be able to do this (from personal experience at berkeley too). The goal is to spend the next 3 months staging and planning these, so first week of january is *just* rollout.

[2022-09-24 15:08] matthew-brett commented on #1485
@GeorgianaElena - thanks - I can access the JupyterHub now - but can I ask for help for our Github authentication?  At the moment I get:

[code]

Of course, I can (and have) asked @LaCrecerelle to allow me access via the Github interface, and I know that we can add individual Github users to the `config.yaml` file or equivalent - but could you give us advice as to the best way to authenticate all

[2022-09-26 08:56] GeorgianaElena commented on #1485
@matthew-brett, are you an admin of the https://github.com/lisds org?
This GitHub organization should have access to the hub, but an **admin** of the org must first grant access to the 2i2c GitHub OAuth app.
I believe the issue might be with the access of the 2i2c OAuth App to the org.

You can find more info and steps on how to fix this possible issue in these docs https://infrastructure.2i2c.org

[2022-09-26 14:03] matthew-brett commented on #1485
@GeorgianaElena - thanks.   Just to check - the organization should be:

https://github.com/lisacuk

and *not*:

https://github.com/lisds

Just to confirm - you are in fact using https://github.com/lisacuk ?

[2022-09-26 14:22] GeorgianaElena commented on #1485
Oh, I thought `lisds` was the correct org (from https://github.com/2i2c-org/infrastructure/issues/1485#issuecomment-1183223815). I just changed it now to allow https://github.com/lisacuk instead. Sorry for the misunderstanding.

[2022-09-26 14:32] GeorgianaElena commented on #1485
@matthew-brett, please let me know if the authentication works after this change?

[2022-09-26 14:34] matthew-brett commented on #1485
Yes - it works for me - thanks!

[2022-09-26 15:58] damianavila commented on #919
Thanks for the update, @sgibson91!!

Given the above general +1 from the jupyterhub team, what would be the next operational steps here?

1. Reply to the jupyterhub team about the differences (if there are any)
2. Setup a Binder on AWS with the Pangeo/Columbia grant
3. Add this Binder to the mybinder.org federation

What pieces am I missing? Not sure about the complexity of step 3, btw.

[2022-09-26 20:38] alexishunzinger opened #1731 "[EVENT] GES DISC User Working Group Workshop"
### Summary

 This is a 1.5 hour hands-on demo for the GES DISC User Working group's annual in-person meeting, focusing on cloud access of NASA data.

### Event Info

- **Community Representative:**  @alexishunzinger, @battistowx
- **Event begin:**   September 29, 2022
- **Event end:**  September 29, 2022
- **Active times:**  10:00am - 1:00pm Eastern
- **Number of attendees:**  25-35
- [**Hub Even

[2022-09-27 14:26] yuvipanda commented on #1731
/me waves at @briannapagan from GES DISC (I think?) with whom I'm working on other projects :)

I think for this number of users, a separate nodepool is not necessary. Should be ok I think.

Good luck with the event!

[2022-09-27 19:55] damianavila commented on #1731
Hey @alexishunzinger, the date of your event is getting close!

Could you please confirm that your hub environment is ready-to-go, and matches your hub's infrastructure setup, by ensuring the following things:
- [ ] Confirm that the "Event Info" above is correct
- [ ] On your hub: log-in and authentication works as-expected
- [ ] `nbgitpuller` links you intend to use resolve properly (in case you

[2022-09-27 20:25] sgibson91 commented on #919
I think there's a step 1.5 which is Ryan setting up an AWS account and adding the 2i2c engineering team.

Steps 2 and 3 are kind of the same since we will put helm chart config in the jupyterhub/mybinder.org-deploy repo. It's kind of complex because the mybinder.org helm chart isn't well documented and has extra features on top of the usual binder stuff, such as the events archive. I've found it's

[2022-09-27 21:37] damianavila commented on #919
That would be great!!

[2022-09-27 23:22] tsnow03 commented on #1702
Here's a few more odds and ends.

This is our final list of Community Organizers for now:
@tsnow03
@JessicaS11
@dfelikson

We would like to list funders as:
NASA Transform to Open Science program {https://science.nasa.gov/open-science/transform-to-open-science}, NASA Cryosphere program {https://earth.gsfc.nasa.gov/cryo}, NASA ICESat-2 Science Team {https://icesat-2.gsfc.nasa.gov/science_definition

[2022-09-27 23:42] colliand commented on #1702
Thanks @tsnow03 ! I @damianavila to see if he is aware of any other input required from @tsnow03 or other community organizers to set this hub up. I anticipate our engineers will need to share some input with Cryo folks to arrange for the DNS routing to make the hub appear at cryointhecloud.com.

[2022-09-28 12:03] GeorgianaElena opened #1734 "Match the `New Hub` Issue Template with current workflow"
### Context

Initially, the new hub issue was designed to be filled in by a community representative. But right now, this template is actually used by a 2i2c member instead.

This has generated new hub issues, where the actual information from the community representatives is gathered in follow-up comments and not encompassed in the top level form.

This makes it hard for someone in the engineer t

[2022-09-28 15:41] GeorgianaElena commented on #633
Yes, let's reopen. Sorry about it.

[2022-09-28 18:04] scottyhq commented on #919
We have $10k in AWS credits remaining from our original NASA ACCESS 2017 project and would love for 2i2c to use that account for prototyping and development of an binderhub on AWS. @yuvipanda still has access, we can connect on email or slack to coordinate access for others at 2i2c if that's helpful!

[2022-09-28 21:06] damianavila commented on #1697
@GeorgianaElena come up with a compromised solution in #1710.

In that PR I raised this comment:

When I saw the problem I was immediately thinking about customization of the templates at the user image level.
Now re-reading the first message of this thread, I understand there might be a second option to allow community customization but still own the template repo as we do with the [default-hub-h

[2022-09-28 21:39] damianavila commented on #1734
Parent and a more general issue live at #450.

But let's scope this one to accommodate (and improve a little bit) the existing situation

as @GeorgianaElena says above.

I agree (partially, see my comments below).

This is where we might change things a little bit and maybe have a Google-based document/form instead of a GH issue?

This should happen in the proposed gdoc/form (or alternatively, in

[2022-09-28 21:56] damianavila commented on #1734
Yeah... that is probably the proper +1 iteration.

[2022-09-29 13:24] damianavila commented on #1734
I like that idea! Because we are effectively splitting the process (and the new hub issue structure) and we have the ability to optionally introduce the gdoc/form for the first part of the process if we wish to take that step (and I think we should).

[2022-09-29 13:40] damianavila commented on #1722
@mabuice, just a gentle reminder about confirming the items I asked about above. Thanks!

[2022-09-29 13:44] damianavila commented on #1722
I also assigned this decommission to @yuvipanda since he is going to finish and merge #1585 before the decommission actually happens 😉.

[2022-09-29 13:46] damianavila commented on #1546
A little update here: there is currently an ongoing conversation between @jmunroe and people from the project Victor to fully understand the use case and, based on that, choose the proper cloud provider.

[2022-09-29 13:48] damianavila commented on #1650
@alisonrgray, do you have any updates about the definitive dates for the event?
We are trying to figure it out the best allocation of resources and the proper timeline to deploy this hub.
Thanks!

[2022-09-29 16:11] damianavila commented on #1702
@colliand @tsnow03, reading this whole thread, it seems we need to deploy a daskhub in AWS land.
Do we have an existing AWS account from the Cryo community we can use to deploy this hub? Or this will be an AWS account managed by us? More details about the differences live here: https://infrastructure.2i2c.org/en/latest/topic/cloud-auth.html#aws-access

[2022-09-29 16:13] alisonrgray commented on #1650
Hi @damianavila Sorry for the delay!

The event will be held Oct 31 - Nov 4.

[2022-09-29 16:38] damianavila commented on #1650
Thanks for the quick response!
OK, given those dates, we are targeting mid-October for the deployment.

In the meantime, we will try to collect all the information we need to be able to deploy the hub.
Looking at the description on this issue, it seems this is a daskhub living on AWS land (as opposed to the OHW hub which lives in our GCP cluster). For deployments on AWS, we either need access to a

[2022-09-29 16:41] colliand commented on #1702
According to my notes (please correct me if I am wrong @tsnow03!), 2i2c will manage the cloud account with costs passed through to be paid out of the Cryo community grant.

[2022-09-29 18:00] choldgraf commented on #1734
I think the general approach that @GeorgianaElena describes sounds good to me. This is similar to the oldest iteration of this process, where we used this google form to ask questions about the use-case:

- [link to "help us understand your use case"](https://docs.google.com/forms/u/1/d/1KHw-4Wdyoofv-6CENeiOSbnC62LKdx55QTcZmXQVkkc/edit?usp=drive_web)

We could either re-purpose that or build somet

[2022-09-29 18:29] damianavila commented on #1731
Hey @alexishunzinger, your event appears to be over 🎉

We hope that your hub worked out well for you! We are trying to understand where we can improve our hub infrastructure and setup around events, and would love any feedback that you're willing to give. Would you mind answering the following questions? If not, just let us know and that is no problem!

- Did the infrastructure behave as expected?

[2022-09-30 14:56] GeorgianaElena commented on #1734
Absolutely! I still think that this shouldn't add another thing to track for someone on the tech team, but rather be something that helps the members of the 2i2c team that are responsible for getting this info out of the communities.

So yes, it probably makes sense for @jmunroe and others on the leads team to agree or propose a process that works for them before moving forward?

From my perspecti

[2022-09-30 16:00] jmunroe commented on #1676
I was asked today by a UofT faculty member (as part of UofT community event) whether 2i2c is looking at "officially" support Canvas and integrate it with our Hub. I replied that it is on our product roadmap with no specific timeline.

In order to move this just a little bit forward, I checked out Infrastructure's (the company that that creates Canvas), Integration Partner program just to see how i

[2022-09-30 17:55] jules32 commented on #1731
Thank you all, we've heard good things about this successful event!

[2022-09-30 19:57] alisonrgray commented on #1650
HI @damianavila - For this event, let's do the latter - 2i2c fully controls the account on behalf of the community.
Thanks!

[2022-09-30 20:03] alisonrgray commented on #1650
Regarding the plan outlined above:

Perfect.

Yes!

This will depend a lot on funding.  I think 12-31-2022 would be the earliest, but hopefully we will be able to keep it going.  TBD.

[2022-09-30 20:12] alisonrgray commented on #1650
Also, can we add @dgumustel as an additional community representative?  Thanks :)

[2022-09-30 20:16] mabuice commented on #1722
@damianavila I think everything is good.  It's ok to decommission.  Sorry for the late response.

Thanks for everything; this was great.

[2022-09-30 21:04] yuvipanda commented on #1722
Thanks for confirming, @mabuice! This will destroy all user data in their home directories irretrievably, hope that's ok :)

Decomission will happen whenever https://github.com/2i2c-org/infrastructure/pull/1736 is reviewed and merged.

[2022-10-01 17:55] tsnow03 commented on #1702
Yes that is correct! There may be circumstances down the line where we use someone else's account for credits to be added, but 2i2c will manage our main line.

We have [www.cryointhecloud.com](http://www.cryointhecloud.com/) in hand. We also have our procurement number finally and are trying to get the next instruction on what they need to do to get a service agreement going. Procurement has been

[2022-10-03 10:09] GeorgianaElena opened #1738 "UTexas hub spawn and deploy issues"
### Context

There are three issues with the utexas hub that are probably related:

- The deploy on the 2i2c cluster fails for some time and it seems to be erroring for the utexas hub.

  - https://github.com/2i2c-org/infrastructure/actions/runs/3172778558/jobs/5167745829#step:4:74
  - https://github.com/2i2c-org/infrastructure/actions/runs/3161567755/jobs/5147401433#step:4:74
  - ....
  - https:/

[2022-10-03 13:16] damianavila commented on #1734
+100 on that idea!
I think we should focus this first step on making life easier for the engs whereas at the same time we leave the place open to push forward with a different model (introducing a google form or any other platform).
Even when I would love to have @jmunroe feedback on how we properly get info from the community representatives, this issue should be focused on setting up a base syst

[2022-10-03 13:34] damianavila commented on #1738
Accordingly to @colliand this hub can be decommissioned: https://github.com/2i2c-org/leads/issues/52#issuecomment-1155728242. Somehow it seems we lost track of that request!

So I will open a decommission issue for this hub and then this one should self-resolve.

[2022-10-03 13:36] GeorgianaElena commented on #1738
Oh, so this is why nobody complained I guess.

Thanks @damianavila. Can you please also add the `utexas-demo` old resources to the list of things to delete in that issue please?

[2022-10-03 13:41] damianavila opened #1739 "[Decommission Hub] University of Texas"
### Summary

The request for decommissioning comes from the lead issue: https://github.com/2i2c-org/leads/issues/52#issuecomment-1155728242. Also, the decommission will solve: https://github.com/2i2c-org/infrastructure/issues/1738

### Info

- **Community Representative:** @jameshowison
- **Link to New Hub issue:** https://github.com/2i2c-org/infrastructure/issues/968
- **Proposed end date:** Firs

[2022-10-03 13:42] damianavila commented on #1738
Created the decomission issue here: https://github.com/2i2c-org/infrastructure/issues/1739 and added the additional utexas-demo removal task.

[2022-10-03 13:45] GeorgianaElena commented on #1738
Thanks @damianavila!

[2022-10-03 14:39] jameshowison commented on #1739
Thanks.  As the community rep for this hub I confirm that it can be
removed.  I continue to evangelize for the 2i2c infrastructure, but this
particular hub isn't being used at present.

--J

On Mon, Oct 3, 2022 at 8:41 AM Damian Avila ***@***.***>
wrote:

[2022-10-03 15:18] choldgraf commented on #1440
I'm removing the "due date" for this issue because we've now deployed this hub. I believe that we can also close this issue (especially once https://github.com/2i2c-org/infrastructure/issues/1722 is complete) but will leave that to others to decide since you have more context than I do.

[2022-10-03 18:44] jmunroe commented on #1734
I agree with splitting up the process into two steps. The actually translation into an issue to provision the hub should be made by someone internal to 2i2c for consumption by 2i2c engineering. I'll add this comment to PR#1733 but it should have some reference to contract negotiation/quote that is related to this hub request.

I am not as clear on the role in the community rep in specifying the re

[2022-10-04 02:52] #1722 closed

[2022-10-04 02:58] yuvipanda commented on #1722
It is gone now!

[2022-10-04 02:59] yuvipanda commented on #1440
This is done!

[2022-10-04 02:59] #1440 closed

[2022-10-04 13:12] sgibson91 opened #1741 "Document how to create a new AWS project"
### Context

Currently, we only have documentation describing how to create new, 2i2c-managed cloud projects on GCP: https://infrastructure.2i2c.org/en/latest/howto/cloud/new-gcp-project.html
For https://github.com/2i2c-org/infrastructure/issues/1702, we will need also need to create a new AWS project (account) and connect it to our management account - so we should use this opportunity to documen

[2022-10-04 13:12] sgibson91 commented on #1741
Assigned myself to lead and Yuvi to help

[2022-10-04 13:46] damianavila opened #1742 "Update image for lis hub"
### Context

This request is coming through the following support ticket: https://2i2c.freshdesk.com/a/tickets/209.
Matthew already used the Configurator to update the image but he wants a more permanent change by now.

### Proposal

Change the current image source from:

`lisds/lisds-base:781af1c`

to:

`lisacuk/lishub-base:b183052`

And this is the relevant config: https://github.com/2i2c-org/in

[2022-10-04 13:50] damianavila opened #1743 "Pod sandbox warning on pod startup"
### Context

This is a report coming through support from the lis hub: https://2i2c.freshdesk.com/a/tickets/210

This is just a warning (no usage implication confirmed):

[code]

### Proposal

Investigate the warning cause in case it was a symptom of a problem that needed to be addressed.

### Updates and actions

_No response_

[2022-10-04 14:13] sgibson91 commented on #1743
This happens on new nodes when networking (from `calico`) hasn't been pulled yet. If I remember correctly from previous conversations with @yuvipanda, it resolves itself once the `calico` pieces are pulled onto the node and is harmless. But would be great to have that confirmed.

[2022-10-04 14:34] sgibson91 commented on #1742
I opened a PR: https://github.com/2i2c-org/infrastructure/pull/1744

We could also ask if they would like these kinds of PRs to be auto-opened using the action: https://github.com/2i2c-org/infrastructure/blob/master/.github/workflows/bump-image-tags.yaml

[2022-10-04 14:49] yuvipanda commented on #1741
@sgibson91 yes I love that! Let’s do it!

[2022-10-04 14:58] yuvipanda commented on #1743
Yeah, it is harmless 99% of the time and 1% of the time it means ‘this node is fucked, good luck m8’

[2022-10-04 15:42] sgibson91 commented on #1741
We had a screenshare meeting! Rough notes are here: https://hackmd.io/@sgibson91/SkSwppFGj I also recorded the meeting too to help when writing this up

[2022-10-04 15:44] sgibson91 opened #1745 "Change AWS Management Account setup so that verification emails for new accounts go to our support address"
### Context

During https://github.com/2i2c-org/infrastructure/issues/1741, the verification email for the new project we made was sent to Chris's email. This should go to support instead so that it is not a bottleneck.

I imagine this setting lives somewhere in the AWS Management Account: `2i2c-sandbox`

### Proposal

_No response_

### Updates and actions

_No response_

[2022-10-04 15:45] weiji14 commented on #1702
Hi there, just stumbled upon this while looking at options for an AWS cloud environment. I'm starting an [ESIP Machine Learning Tutorial](https://www.esipfed.org/lab/funding-opportunities/ml-rfp) project with @JessicaS11 and @wsauthoff that will be using [cloud hosted ICESat-2 data](https://nsidc.org/data/user-resources/data-announcements/data-set-updates-new-earthdata-cloud-access-option-icesat-2

[2022-10-04 15:51] sgibson91 commented on #1702
Just fyi @tsnow03, regarding the hub image: We provide some [documentation](https://docs.2i2c.org/en/latest/admin/howto/environment/index.html) and a [template repo](https://github.com/2i2c-org/hub-user-image-template) for automatically building and pushing images, using repo2docker, that are compatible with the infrastructure we will deploy. I realise you already have the https://github.com/CryoI

[2022-10-04 18:01] yuvipanda commented on #1741
@sgibson91 We should also do a quota check here, and request what we need early on

[2022-10-04 18:35] weiji14 commented on #1702
Thanks for the tip @sgibson91! Was going to write a long reply, but decided it might be better to discuss the 'Cryo' repo2docker image in a separate thread (see https://github.com/CryoInTheCloud/CryoCloudWebsite/issues/1). Will let this issue be focused on the JupyterHub 2i2c infrastructure :wink:

[2022-10-04 23:06] tsnow03 commented on #1702
Thanks @weiji14! That sounds great. I'm happy to help as well.

@sgibson91 It would be great to use this template. I was mimicking the Hackweek GitHub because we want to build a JupyterBook for the group but I have no attachments to anything. I am a nube to this part of the work. We do want all of this in our github so it is all together in one place.

[2022-10-05 07:07] sgibson91 commented on #1702
@tsnow03 No problem! You can place the repo wherever's best for you. We only need the image name and tag to reference from the hub :)

[2022-10-05 19:01] tsnow03 commented on #1702
@sgibson91 do you all need our image finished to build everything with AWS or does the building of the docker image happen after that occurs?

[2022-10-05 19:17] sgibson91 commented on #1702
So long as we have _an_ image to reference, we can deploy the hub, even if it's just a demo one. The image tag can be changed after the fact, either by us directly editing the config, or you will be able to change the image yourself using the configurator: https://docs.2i2c.org/en/latest/admin/howto/configurator.html

[2022-10-07 03:54] yuvipanda commented on #913
I *think* the bot has had the intended effect, so I'm going to close this :) Thanks for writing it, @choldgraf!

[2022-10-07 03:54] #913 closed

[2022-10-07 04:27] yuvipanda commented on #1662
I think GH issues are open for all the improvements proposed, and linked to from the PDF. Going to close this one.

[2022-10-07 04:27] #1662 closed

[2022-10-07 04:28] yuvipanda commented on #171
We have this now!

[2022-10-07 04:28] #171 closed

[2022-10-07 04:29] yuvipanda commented on #371
Done in https://infrastructure.2i2c.org/en/latest/howto/features/github.html

[2022-10-07 04:29] #371 closed

[2022-10-07 04:34] yuvipanda commented on #719
Apparently I forgot I had mentioned https://github.com/k8s-at-home/sops-pre-commit, wrote https://github.com/yuvipanda/pre-commit-hook-ensure-sops, and had it set up here. @sgibson91 and @consideRatio also set up an appropriate .gitignore setup as an added layer. I think this is good to be closed.

[2022-10-07 04:34] #719 closed

[2022-10-07 04:35] yuvipanda commented on #722
We do this now!

[2022-10-07 04:35] #722 closed

[2022-10-07 04:36] yuvipanda commented on #698
I think we have basically now moved to using GitHub authentication directly, and support Organizations / team based auth. We also support per-team profiles! Closing this one.

[2022-10-07 04:36] #698 closed

[2022-10-07 04:36] yuvipanda commented on #645
I'd say this is done

[2022-10-07 04:36] #645 closed

[2022-10-07 04:37] yuvipanda commented on #745
Definitely bumped up now, thanks to @consideRatio for making the releases!

[2022-10-07 04:37] #745 closed

[2022-10-07 04:38] yuvipanda commented on #1067
This was done!

[2022-10-07 04:38] #1067 closed

[2022-10-07 04:39] yuvipanda commented on #1156
The Farallon cluster is gone now!

[2022-10-07 04:39] #1156 closed

[2022-10-07 04:39] yuvipanda commented on #1120
We support this via GitHub Teams now https://infrastructure.2i2c.org/en/latest/howto/configure/auth-management/github-orgs.html#restricting-user-profiles-based-on-github-team-membership

[2022-10-07 04:39] #1120 closed

[2022-10-07 04:40] yuvipanda commented on #1511
I'm not sure what the next action item here is. Where in the docs do you think this should go?

[2022-10-07 04:41] yuvipanda commented on #1317
Carbonplan is no longer on Azure.

[2022-10-07 04:41] #1317 closed

[2022-10-07 14:53] #1734 closed

[2022-10-07 17:23] consideRatio opened #1754 "Adjust to modern dask-gateway Helm chart and avoid needing to manage an api token"
I've opened https://github.com/dask/dask-gateway/pull/612 and tried it out in the JMTE deployment with associated changes in the deployer script as found in [this commit](https://github.com/2i2c-org/infrastructure/pull/436/commits/2a0ff8ae116d9bbefec492351bfc83406ae42cc9).

I'm opening this issue to track the work item of:
- [ ] Bumping to using the dask/dask-gateway helm chart to `2022.10.0` and

[2022-10-07 17:28] yuvipanda commented on #1754
YESSSS I LOVE IT

[2022-10-10 14:31] tsnow03 commented on #1702
This is just about ready. Will it be ok for me to make www.hub.cryointhecloud.com our hub link so it will be a subdomain of our main page? I'm not sure what stages you all are at right now and how changing things can cause issues. Also please let me know what I need to do on my end to get things configured properly.

[2022-10-10 16:43] alexishunzinger commented on #1731
Thanks @yuvipanda, thanks @damianavila! A short, but successful event. We has no issues.

- _Did the infrastructure behave as expected?_
Yes!
- _Anything that was confusing or could be improved?_
No.
- _Any extra functionality you wish you would have had?_
No.
- _Could you share a story about how you used the hub?_
We hosted a mini-workshop (< 1.5 hours) for our User Working Groups members to show

[2022-10-10 16:43] #1731 closed

[2022-10-10 22:33] yuvipanda commented on #764
My current worry is that the nfs external provisoner seems a bit abandoned (https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/issues/106). @consideRatio got some patches into it, so he might have an idea on how active it is?

The other problem I have with it is that it generates directory names with randomized chars, so if we lose the PVC objects (by recreating the k8s

[2022-10-10 22:42] yuvipanda commented on #764
Here's a different approach to try:

## For shared clusters

1. Add a deployment to basehub that deploys an NFS server (`nfs-kernel-server` or `nfs-ganesha`). This would just attach to a PVC. So we'll have 1 NFS server per hub, which isolates hubs from trampling on each other in private spaces.
2. Assuming we use XFS for the PVC, we can have a sidecar that runs [xfs-quota](https://man7.org/linux/m

[2022-10-10 22:45] yuvipanda commented on #764
There is a lot of precedent for running this kinda 'nfs server in a pod' - https://github.com/appscode/third-party-tools/blob/master/storage/nfs/artifacts/nfs-server.yaml for example. It'll have to run as a privileged pod, but totally doable. It'll also allow us to monitor free space on the disk easily.

[2022-10-11 00:12] fperez commented on #1702
@tsnow03 - I'd suggest making the mnemonic link only hub.cryointhecloud.com (minus the www) so it's a bit shorter. Mentioning it now in case that URL ends up written down somewhere it matters :)

Thx all for the progress!

[2022-10-11 07:22] matthew-brett commented on #1485
Thanks for this!   I get a 404 not found for:

https://ds.lis.2i2c.cloud/

after a warning about "This connection is not private".

Just checking - do you mean that it authorizes against the lisacuk Github
org?  (not the lisds org)

On Thu, Sep 22, 2022 at 5:02 PM Georgiana Elena ***@***.***>
wrote:

[2022-10-11 09:39] sgibson91 commented on #764
Thank you for the proposal @yuvipanda! I like it for three reasons:

1. It resolves the systemic unfairness for storage on shared clusters
2. For dedicated clusters, I think Community Reps will really appreciate the grafana-based reporting structure you suggest, particularly around managing costs
3. It avoids putting unnecessary and difficult maintenance on the engineers

I believe we should try a

[2022-10-11 09:43] #1741 closed

[2022-10-11 10:48] sgibson91 opened #1757 "Restructure our infrastructure docs"
### Context

We are getting a lot of docs in infrastructure.2i2c.org now, and I think the "how-to" section is becoming a bit of a "catch-all" area, which ultimately makes the docs you need more difficult to find.

### Proposal

I'm proposing we refactor and split up the "how-to" section into the following, separate sections:

* **Hub Deployment Guide**
  * This contains all the documentation requi

[2022-10-11 10:57] sgibson91 commented on #1702
Given that you control the `cryointhecloud.com` DNS zone, not us, we will probably create the hub at `cryointhecloud.2i2c.cloud` and then the steps you will need to take are _roughly_ (depending on your DNS provider) the following:

1. Create a new record under the `cryointhecloud.com` domain
   * Name the record `hub`
   * Give the record a `CNAME` type (as opposed to `A record`)
2. Point this re

[2022-10-11 14:16] #1738 closed

[2022-10-11 14:16] #1739 closed

[2022-10-11 14:17] rabernat opened #1758 "Batch job support for Pangeo hubs"
### Context

Pangeo hub users often want to put a long-running job into the background. Instead, on our hubs today, they have to essentially keep a notebook open all the time for these long running jobs. This leads to awkward and inefficient workflows, such as postdocs not being able to close their laptops for days.

cc @paigem, @jbusecke

### Proposal

I propose we install [kbatch](https://github

[2022-10-11 15:22] yuvipanda commented on #1757
I LIKE!

[2022-10-11 15:44] jbusecke commented on #1758
This would be an awesome addition to the hub for pretty mich every project I am involved. Enthusiastic 👍, and happy to test!

[2022-10-11 15:46] tsnow03 commented on #1702
Ok perfect. We will do that. We are almost there on the docker image but need to work out the quay.io side of things to get it there.

[2022-10-11 15:48] sgibson91 commented on #1702
If you are using the `repo2docker-action` GitHub Action, then it knows how to push to quay.io and the manual steps for setting that up are documented here: https://docs.2i2c.org/en/latest/admin/howto/environment/hub-user-image-template-guide.html#connect-the-new-repository-to-quay-io

[2022-10-11 16:11] jmunroe commented on #1758
I agree that batch submission is an important class of computing for many problems. And it does appear that `kbatch` would be one way of providing that functionality.

But, from what I am reading, `kbatch` is a relatively simple wrapper for submitting a job to a kubernetes cluster that lacks features compared to something like slurm or prefect.  I think it makes sense to use for automatic running

[2022-10-11 16:37] damianavila commented on #1702
This request probably means having GitHub team memberships and the following setup: https://infrastructure.2i2c.org/en/latest/howto/configure/auth-management/github-orgs.html#restricting-user-profiles-based-on-github-team-membership

@tsnow03, can you confirm this is the configuration you are looking for? Do you have any preexisting GH organization/team?

[2022-10-11 18:16] #629 closed

[2022-10-11 22:09] damianavila opened #1760 "[Decommission Hub] Coessing hub"
### Summary

As per discussion in https://2i2c.freshdesk.com/a/tickets/185, this hun should be decommissioned.

### Info

- **Community Representative:** @paigem
- **Link to New Hub issue:** https://github.com/2i2c-org/infrastructure/issues/1516
- **Proposed end date:** Oct 14th

### Task List

#### Phase I

- [x] Confirm with Community Representative that the hub is no longer in use and it's safe

[2022-10-11 22:11] damianavila commented on #1760
@paigem, can you confirm again about these two items? Once we have that confirmation, we should be able to process the decommission. Thanks!

[2022-10-11 22:16] damianavila commented on #1693
They replied back in the ticket:

So I guess this is not something achievable right now. I would close this one now but feel free to reopen it if you feel we should fight back.

[2022-10-11 22:16] #1693 closed

[2022-10-11 22:24] damianavila commented on #1742
Thanks!!

Asked about it in the support ticket.

[2022-10-11 22:29] damianavila commented on #1743
Thanks for the quick feedback, folks!
I am going to close this one now since I think we have enough information about this warning.

[2022-10-11 22:29] #1743 closed

[2022-10-12 00:29] tsnow03 commented on #1702
Great thank you everyone! I'm hung up on the last step to build the docker image to quay.io. I don't think I am getting the repo2docker-action to trigger and push to quay.io with my pull request. Your documentation says NO_PUSH needs to be explicitly disabled. Where does this happen? I'm sure this is easy, but I haven't been able to figure out how to do that.

[7 hours ago](https://github.com/2i2c

[2022-10-12 09:06] arnim commented on #1382
We should also consider if the proposed new architecture allows for things to be used such as dynamic repository credentials (jupyterhub/binderhub/pull/1169) should they land in BHub or would this then better be integrated on the JHub side.

[2022-10-12 12:12] damianavila commented on #1757
Yep, I like it as well!

[2022-10-12 12:30] damianavila commented on #1382
I think https://infrastructure.2i2c.org/en/latest/howto/features/github.html might help with this ⬆️.
There is a blog post from @yuvipanda at https://blog.jupyter.org/securely-pushing-to-github-from-a-jupyterhub-3ee42dfdc54f.

[2022-10-12 12:37] damianavila commented on #1067
Did you update this manually, @yuvipanda?

[2022-10-12 12:43] damianavila commented on #1511
I think we might have enough information here: https://docs.2i2c.org/en/latest/data/git.html and here: https://infrastructure.2i2c.org/en/latest/howto/features/github.html?highlight=gh-scoped-creds, maybe?

[2022-10-12 15:29] betolink opened #1762 "Is resource usage being monitored?"
### Context

Last December we had an unauthorized access incident with the Openscapes hub and I was wondering if there are alerts in place in case one of our users gets hacked and starts mining bitcoin (hypothetical). A little related to this, it would be neat if in the admin dashboard we could see the instance type each user is running and maybe this already exist but another thing it would be ni

[2022-10-12 16:29] rabernat commented on #1758
All good questions @jmunroe. @yuvipanda worked quite a bit on kbatch and decided it was the sweet spot in terms of complexity. But happy to align whatever tools 2i2c wants to support here.

[2022-10-12 17:07] rabernat opened #1765 "Change GPUs to T4s on all Pangeo hubs"
### Context

Based on conversations with @ngam over in https://github.com/pangeo-data/pangeo-docker-images/issues/387#issuecomment-1276440089, we have decided that we would like to change from using K80 GPUs to T4 GPUs.

T4s have better support from the highly complex CUDA software stack. As you can see from the above thread, it is very difficult to maintain a functional docker image that allows M

[2022-10-12 22:47] yuvipanda commented on #1765
Here are things I've done on the m2lines hub today, in conjunction with https://github.com/pangeo-data/pangeo-docker-images/issues/387

1. Provision T4 GPUs alongside the current K80 GPUs
2. Cleanup the profile list so it shows up as dropdown options to be selected
3. Add ability to select which GPU driver should be installed for GKE - 'latest' or 'stable'
4. Switch m2lines to 'latest' GPU driver

[2022-10-12 22:57] tsnow03 commented on #1702
I believe we have the docker image in a state you can use. Is there anything else you need from us at the moment for it?

[2022-10-12 23:43] rabernat commented on #1765
Fantastic! Thanks so much Yuvi!

[2022-10-13 14:32] consideRatio commented on #1754
Dask gateway 2022.10.0 is out and can now benefit from this. As long as dask-gateway and jupyterhub is installed in the same namespace, api tokens doesn't have to be specified.

There still needs to be a hub.services.dask-gateway service defined at all, so let it contain `display: false` for example. An example of how to adjust to the new functionality can be found in https://github.com/dask/helm-

[2022-10-13 21:11] rabernat commented on #1230
I'm checking in on this issue. We continue to have requests from M2LInES and LEAP users to have a non-scratch bucket in which to store their data and share it with the hub team (but not the public).

[2022-10-13 23:33] tsnow03 commented on #1702
It is on both:
- the image name is: quay.io/cryointhecloud/cryocloudwebsite:2022.10.12
- also in docker: https://hub.docker.com/r/cryointhecloud/cryocloudwebsite/tags
- the tag is 2022.10.12

[2022-10-14 00:15] scottyhq commented on #1765
Is this only for m2lines? It would be neat to also expose this on https://us-central1-b.gcp.pangeo.io for people to try out GPUs if possible.

[2022-10-14 00:26] rabernat commented on #1765
That hub is currently open to the entire world. I'd worry about the costs and potential for abuse. That said, we don't have the ability to tie user activity to total hub costs, so it's hard to be quantitative here.

[2022-10-14 00:46] scottyhq opened #1771 "Report Docker Image in Login Page or JupyterLab UI"
### Context

Users of Hubs launch a session with a Docker Image but do not now which image is being used without some digging (like `echo JUPYTER_IMAGE` from a terminal). For troubleshooting problems with libraries this is very important information to have. See this discussion for example https://github.com/pangeo-data/pangeo-docker-images/issues/387#issuecomment-1276340879

![Uploading Screen Sh

[2022-10-14 02:29] yuvipanda commented on #1765
@scottyhq @rabernat unfortunately that hub is on us-central1-b, which actually has *no* GPUs at all. We'll need to redeploy it to us-central1-c to get any GPUs ;(

[2022-10-14 17:16] dhruvbalwada opened #1774 "ml-notebook does not have the 'SCRATCH_BUCKET' env variable is not set correctly"
The environment variable 'SCRATCH_BUCKET', which links to users scratch only seems to be configured on the regular notebooks and not the machine learning notebooks (I checked the tensorflow ones).

[2022-10-14 17:18] dhruvbalwada opened #1775 "dask dashboard does not produce the correct/accessible link in ml-notebooks"
The dask dashboard is not properly configured on the ml-notebook. When I do the following to be able to view the dashboard
[code]
I get the dashboard link http://127.0.0.1:46197/status, which not accessible on the cloud. It should instead be something like: https://m2lines.2i2c.cloud/user/dhruvbalwada/proxy/8787/status (as is the case for the regular notebooks).

[2022-10-14 18:28] yuvipanda commented on #1230
I've dealt with the specific issue here in https://github.com/2i2c-org/infrastructure/pull/1776 by making `PERSISTENT_BUCKET` a feature. That PR will enable that for LEAP and m2lines. How do we make sure that it doesn't baloon costs super high by users just unexpectedly leaving stuff there?

[2022-10-14 18:28] jmunroe commented on #1230
I am caught between two ways of solving this issue of creating cloud storage by admins on hubs.

1) It is "easy" to create buckets using the Google Console or the command like assuming you have the right permissions.  We could set it up to with instructions to default to "requestor-pays" and the give guidance on how to set life cycle rules.  It would solve the immediate problem of letting admins c

[2022-10-14 18:50] yuvipanda commented on #1592
@auraoupa just wanted to check-in - is this still desired? :)

[2022-10-14 18:50] yuvipanda commented on #1774
This is caused by https://github.com/2i2c-org/infrastructure/issues/1530 I believe.

[2022-10-14 18:50] yuvipanda commented on #1775
Probably caused by https://github.com/2i2c-org/infrastructure/issues/1530

[2022-10-14 19:02] yuvipanda commented on #1530
Should be fixed upstream by https://github.com/jupyterhub/kubespawner/pull/650

[2022-10-14 19:05] scottyhq commented on #1765
OK! In that case I'll make a request to try this profile list and nodegroup as well with https://snowex.uwhackweeks.2i2c.cloud since we got the GPU quotas on that AWS account bumped and I'd love to kick the tires :)

[2022-10-14 19:07] yuvipanda commented on #1765
@scottyhq yay great! Can you actually email to support@2i2c.org so it can go through our regular flow for these requests? Thank you!

[2022-10-17 08:37] GeorgianaElena opened #1784 "Provide NVIDIA T4 GPU support for `snowex.uwhackweeks` hub"
### Context

Checout the support ticket https://2i2c.freshdesk.com/a/tickets/219  and https://github.com/2i2c-org/infrastructure/issues/1765#issuecomment-1279360493 for context.

### Proposal

Offer access to [nvidia T4 GPUs](https://www.nvidia.com/en-us/data-center/tesla-t4/) to the https://snowex.uwhackweeks.2i2c.cloud as a profile option (similar to m2lines & LEAP hubs in https://github.com/2i2

[2022-10-17 09:58] auraoupa commented on #1592
Hi @yuvipanda, no need for GPU anymore, thanks for checking !

[2022-10-17 10:17] #1592 closed

[2022-10-17 12:31] choldgraf opened #1785 "Document how to programmatically access Grafana / Prometheus data"
### Context

We currently collect data with Prometheus to track various usage metrics across our hubs, and are lengthening that to a year. This information is accessible in [Grafana dashboards as documented here](https://infrastructure.2i2c.org/en/latest/topic/monitoring-alerting/grafana.).

However, I don't believe we have it documented how a person could access and use this data any other way th

[2022-10-17 21:15] #1754 closed

[2022-10-17 22:54] yuvipanda commented on #1785
@choldgraf we do have documentation here: https://infrastructure.2i2c.org/en/latest/howto/operate/grafana.html?highlight=grafana

Prometheus only collects and stores metrics, it is accessed via Grafana. Prometheus itself doesn't have any significant UI. Grafana dashboards are made of promql queries that talk to our prometheus instance to get the data.

I'm not sure if this is an issue about docume

[2022-10-17 23:24] #1775 closed

[2022-10-17 23:24] #1774 closed

[2022-10-18 00:49] yuvipanda commented on #1775
@dhruvbalwada try now?

[2022-10-18 00:49] yuvipanda commented on #1774
@dhruvbalwada try now?

[2022-10-18 01:46] yuvipanda commented on #1784
We have some docs in https://infrastructure.2i2c.org/en/latest/howto/features/gpu.html?highlight=gpu on how to do this for AWS!

[2022-10-18 01:54] yuvipanda commented on #1784
@GeorgianaElena i took this on since I'm steeped in GPU support over the last few weeks. I've cleaned up docs to remove some steps, and deployed this as well.

[2022-10-18 05:55] yuvipanda commented on #1592
Thanks for letting us know, @auraoupa!

[2022-10-18 10:45] sgibson91 commented on #1702
I think right now, our template is configured such that we can only list one funder. I will open an issue to rectify this. Until that is implemented, can we pick just one of these three?

[2022-10-18 13:34] dhruvbalwada commented on #1774
This works, closing now.

[2022-10-18 13:35] dhruvbalwada commented on #1775
This works.

[2022-10-18 14:06] #1784 closed

[2022-10-18 14:49] tsnow03 commented on #1702
Let's start with this one: NASA ICESat-2 Science Team {[https://icesat-2.gsfc.nasa.gov/science_definition_team}](https://icesat-2.gsfc.nasa.gov/science_definition_team%7D)

[2022-10-18 14:55] dhruvbalwada commented on #1771
A similar or even bigger issue came up in one of our group meetings yesterday as well.

Basically for people who have been working on the cloud, when they return to their projects they can easily lose the reproducibility of their own projects because the packages keep marching forward automatically.
(E.g. 1 I returned to the hub today morning, and already the things that were setup in the ml-noteb

[2022-10-18 15:39] sgibson91 opened #1793 "Enable Service Quota Request templates on our AWS accounts"
### Context

For pretty much every cloud account we open on any cloud vendor, we want to bump certain quotas so that usage is not restricted. E.g., total number of CPUs in the region/zone, total GPUs in the region/zone, etc.

AWS provide a [Service Quota Request templates service](https://docs.aws.amazon.com/servicequotas/latest/userguide/organization-templates.html) where a maximum of 10 quota in

[2022-10-18 16:20] arokem commented on #1500
Lemme know if you want to hear more about how we used this in NeuroHackademy.

[2022-10-18 16:42] yuvipanda commented on #1500
@arokem YESSSSS TELL ME!

[2022-10-18 17:36] arokem commented on #1500
Here's our use case: Because we had participants both in person and on zoom, and we sometimes had multiple rooms where activities were going on at the same time, we wanted one page that would have all the links to zoom, mapped to physical locations. So we used this website for that. The (rather unadorned) page had a list that looked roughly like:

[code]

[2022-10-18 17:49] damianavila opened #1794 "NetworkPolicy enforcement in AWS based (eksctl) clusters"
### Context

This is a "soft" pre-requisite for being able to deploy a shared cluster in AWS land.

We currently enforce it in the GCP clusters, AFAIK: https://infrastructure.2i2c.org/en/latest/topic/cluster-design.html#network-policy.

And @consideRatio confirmed we are not enforcing them on the EKS clusters (copying over from notes):

[code]

### Proposal

We may want to enforce it from scratch

[2022-10-19 08:43] choldgraf commented on #1760
Hey all - I think that we should just move forward with decommissioning this hub.

[2022-10-19 08:50] GeorgianaElena commented on #1760
Yes! I will do it today

[2022-10-19 10:46] sgibson91 commented on #1722
Just FYI, I noticed the GitHub OAuth apps and Namecheap entries for this hub are hanging around, so I will clean those up

[2022-10-19 12:36] sgibson91 commented on #1702
@tsnow03 Two hubs are now available at the following URLs:

* https://staging.cryointhecloud.2i2c.cloud
  * This is a good place to test out new images before changing them on the prod hub
* https://cryointhecloud.2i2c.cloud
  * This will be the hub you distribute to users

Please check everything is as expected and working as expected. Specifically, please ask someone who is only a member of the

[2022-10-19 12:37] sgibson91 commented on #1702
@GeorgianaElena when you've asked communities to setup CNAMES in their own domain, do we have to edit URLs in the hub config and OAuth Apps, or is it ok to leave everything as our `2i2c.cloud` domain?

[2022-10-19 12:49] sgibson91 commented on #1643
I noticed https://github.com/jupyterhub/kubespawner/pull/631 is now merged, but I don't think a release has been made including it yet, from the changelog: https://github.com/jupyterhub/kubespawner/blob/main/docs/source/changelog.md

[2022-10-19 13:01] sgibson91 commented on #1702
@GeorgianaElena Ah ok, thank you. Though tbh, we can keep our support stuff in our domain right? E.g. like the pangeo-hubs cluster:

- Support values: https://github.com/2i2c-org/infrastructure/blob/bf6ae45b97d27cf303c68379c35adf9d493097cf/config/clusters/pangeo-hubs/support.values.yaml#L4
- Hub domains: https://github.com/2i2c-org/infrastructure/blob/bf6ae45b97d27cf303c68379c35adf9d493097cf/confi

[2022-10-19 13:05] GeorgianaElena commented on #1702
Yes I believe

[2022-10-19 14:24] sgibson91 commented on #1702
These are actually not ready. I'm having a spawning issue.

[2022-10-19 15:15] tsnow03 commented on #1702
Ok. It looks beautiful so far! We are super close. Thank you so much for your work on this!

[2022-10-19 15:32] sgibson91 opened #1798 "Create template values files for a basehub and a daskhub"
It would be useful now to have some `basehub-common-template.values.yaml` and `daskhub-common-template.values.yaml` files that have the bare minimum required to copy from, since it is becoming more difficult to determine what is and what isn't customised just by inspecting _other_ hub's values files.

For example I believe when deploying the NASA cryo hubs, I faced some issues because I was copyin

[2022-10-19 15:53] damianavila opened #1799 "Transfer Pangeo infrastrcuture from Columbia into 2i2c territory"
### Context

After failure to get sustainable access to Columbia playground: https://github.com/2i2c-org/meta/issues/348, we decided we need to move forward with moving Pangeo infra to a 2i2c managed account.

We have an agreement from the community representative as per: https://github.com/2i2c-org/meta/issues/348#issuecomment-1279241994.

We need to figure out details about capacity involvement

[2022-10-19 15:57] GeorgianaElena commented on #1798
+100000000000000 on this

At some point I was actually thinking that we could have more charts than the basehub and daskhub charts. Something like: `edu-hub`, `pangeo-hub`, `database-hub`, and whatever other sub-types we identify. But that might have been too much. But the reasoning behind is the same.

[2022-10-19 17:55] yuvipanda opened #1800 "Get rid of cloud-user-sa in openscapes hubs"
Before we got https://infrastructure.2i2c.org/en/latest/howto/features/cloud-access.html and AWS IRSA for providing access to S3 buckets to users, we used a `cloud-user-sa` created by `eksctl` to make this happen:

https://github.com/2i2c-org/infrastructure/blob/bf6ae45b97d27cf303c68379c35adf9d493097cf/eksctl/carbonplan.jsonnet#L52 and https://github.com/2i2c-org/infrastructure/blob/master/config/

[2022-10-19 19:43] paigem commented on #1760
My apologies that I didn't see your post last week @damianavila! Thanks for your help in decommissioning this Hub!

[2022-10-19 20:40] jmunroe opened #1801 "Add Additional mount point to LIS hub to support return of graded materials"
### Context

A request was raised (https://2i2c.freshdesk.com/a/tickets/228) to allow a hub administrator to upload files directly to users accounts:

### Proposal

I think a solution is to add an additional NFS mount point to allow hub administrators read/write access to all folders on a Google Filestore.

This additional file access provided to hub administrators is not any more than they previo

[2022-10-19 21:02] yuvipanda commented on #1801
+1. We should also carefully tell them that this means they can completely delete everyone's work accidentally so BE CAREFUL

[2022-10-19 21:58] yuvipanda commented on #1765
We now have both T4 & k80 GPUs on all the hubs that have GPUs.

@TomNicholas @dhruvbalwada @rabernat @scottyhq can we get rid of the k80 now and just have T4s?

[2022-10-19 23:36] rabernat commented on #1765
Fine with me.

[2022-10-20 00:48] dhruvbalwada commented on #1765
Agreed.

[2022-10-20 09:49] GeorgianaElena opened #1803 "Update m2lines grafana"
### Context

https://2i2c.freshdesk.com/a/tickets/229

### Proposal

Enable GitHub Authentication for the m2lines grafana running at https://grafana.m2lines.2i2c.cloud and redeploy the https://github.com/jupyterhub/grafana-dashboards there to get the latest dashboards.

### Updates and actions

- [x] Enable GitHub Authentication (docs [here](https://infrastructure.2i2c.org/en/latest/howto/operate/

[2022-10-20 09:54] #1760 closed

[2022-10-20 10:49] sgibson91 commented on #1798
I think where we would like to head is that all of our different features are simply `enabled: true` flags to basehub(/daskhub) and template values files for `<hub-name>.values.yaml` or `common.values.yaml` helps us more easily setup things like: NFS IP addresses, annotations, etc.

[2022-10-20 11:07] sgibson91 commented on #1702
@tsnow03 The hubs are now ready to be tested! We had an auto-scaling issue that has since been resolved. Please make sure to check everything I mentioned in https://github.com/2i2c-org/infrastructure/issues/1702#issuecomment-1283947732

### Updated instructions for setting CNAMEs

For the hub to be available at hub.cryointhecloud.com:

1. Please create a CNAME record in your DNS zone
2. Call the C

[2022-10-20 14:36] sgibson91 commented on #1757
Need to ensure the refactor contains info on setting CNAMES when communities want to use their own DNS

[2022-10-20 15:38] jmunroe commented on #1575
I am assigning this to myself in the capacity as a "product" person.  I'd like to write out a requirements docs and user stories for what this feature will look like. Once that is scoped out, I'll reach out to the engineering team to work through any design/implementation requirements.

[2022-10-20 15:46] yuvipanda opened #1804 "Q4 2022 Goal: Monitoring & alerting for our infrastructure"
I want us to feel confident that our infrastructure exists in a state that is not on fire. This means we need monitoring and alerting in place to make sure we have *evidence* to believe that - that 'everything is ok'.

For this, we need to have good monitoring and alerting *that we trust*. We should be able to realistically say 'there are currently no alerts, so we believe there are no outages rig

[2022-10-20 16:15] tsnow03 commented on #1702
Thank you @sgibson91! The hub and staging.hub CNAME records are added now.

I am currently unable to get on the hub, receiving this error for both the hub and staging links:

[2022-10-20 16:22] sgibson91 commented on #1702
Hmmm, you are listed as an admin here:

- https://github.com/2i2c-org/infrastructure/pull/1768/files#diff-67a27eea3a5155ba5cdd45181ac7ec6f2870b6f1426ace75b86e60359b082880R47

I can see this in the error logs though:

[code]

We are restricting access to members of the `CryoInTheCloud:CryoCloudUser` and `CryoInTheCloud:CryoCloudAdvanced` teams. Are you a member of those? If not, I don't think you'l

[2022-10-20 16:22] tsnow03 commented on #1702
Everyone seems to be getting the same error.

[2022-10-20 16:23] sgibson91 commented on #1702
Are they members of the teams though?

[2022-10-20 16:24] tsnow03 commented on #1702
Everyone who has tried this out is on the CryoCloudUser team. And I am the one person on both user and advanced teams.

[2022-10-20 16:25] tsnow03 commented on #1702
<img width="324" alt="Screen Shot 2022-10-20 at 10 25 04 AM" src="https://user-images.githubusercontent.com/12904976/197005117-ea0ae711-e700-4435-afbb-93c17910368e.png">

[2022-10-20 16:26] sgibson91 commented on #1702
Can you try following the instructions here please? https://infrastructure.2i2c.org/en/latest/howto/configure/auth-management/github-orgs.html#follow-up-github-organization-administrators-must-grant-access If the OAuth app is not granted the right permissions, it will block everyone

[2022-10-20 16:48] sgibson91 commented on #1702
@tsnow03 We might have a capitalisation problem in the names of the teams. You provided the team name, which has capitalisation, but we need the team slug, which in this case doesn't have capitalisation, as indicated in the pic below

![cryocloud](https://user-images.githubusercontent.com/44771837/197009356-a8d3635c-e198-4c1e-8db5-4285d598edfd.jpg)

Is the CryoCloudAdvanced team the same?

[2022-10-20 16:54] sgibson91 commented on #1702
I am just deploying this change of capitalisation as a shot in the dark

[2022-10-20 16:54] tsnow03 commented on #1702
Hm yes that is weird, the Teams are capitalized but the handles are not for both of the teams.

For the instructions for granting access, I'm seeing instructions about creating an AuthO app first (we don't have one at the moment). Am I doing the right thing here?

[2022-10-20 16:55] sgibson91 commented on #1702
No, I created the OAuth App. You have to grant it the correct permissions in your org settings. But just hang fire and see if this redeploy works

[2022-10-20 16:56] sgibson91 commented on #1702
Ok, redeploy has completed, please try again

[2022-10-20 17:05] sgibson91 commented on #1702
@tsnow03 can you invite me as an admin of the CryoInTheCloud org please? I will check the permissions of the OAuth app

[2022-10-20 17:12] yuvipanda opened #1806 "Add hub engineer to GitHub org as admin to facilitate hub setup process"
When setting up a hub, we have to do an OAuth approval process that requires action from the admin of the GitHub org that is going to be used to log in. This requires a back-and-forth with the GitHub admin that can take sometime (see https://github.com/2i2c-org/infrastructure/issues/1702#issuecomment-1285882952) for example.

Instead, part of our hub setup process should include:

1. Add the hub e

[2022-10-20 17:13] yuvipanda commented on #1757
https://github.com/2i2c-org/infrastructure/issues/1806 should also be added as part of this

[2022-10-20 17:20] sgibson91 commented on #1702
I'm signing off for the night now, but will pick this back up in the morning if you can add me to the org as an admin.

[2022-10-20 18:06] tsnow03 commented on #1702
Thanks @sgibson91. Apologies I had to step away for a couple meetings. I've sent you an invite to our org.

[> In this case, they should go to the configuration page for this app within their GitHub organization and explicitly grant it access.](https://infrastructure.2i2c.org/en/latest/howto/configure/auth-management/github-orgs.html#follow-up-github-organization-administrators-must-grant-access:~

[2022-10-20 20:16] damianavila commented on #1530
The following PR: https://github.com/2i2c-org/infrastructure/pull/1777 should be reverted when the above upstream fix lands accoringly to https://github.com/2i2c-org/infrastructure/pull/1777#issue-1409767409.

[2022-10-20 20:36] damianavila commented on #1757
Another one proposed by @sgibson91: https://github.com/2i2c-org/infrastructure/pull/1780#issuecomment-1282096496

[2022-10-20 20:58] damianavila commented on #1771
cc @jmunroe who will be interested in these perspectives/requests from the communities.

[2022-10-20 21:13] damianavila commented on #1722
Thanks @sgibson91!

[2022-10-20 21:15] rabernat commented on #1771
My suggestion would be to focus on implementing #1253, which would allow the user to explicitly select their image at login time. Not only would that solve the need raised here (allow user to know what docker image they are using)--it would go further and allow them to actively choose the image they want.

[2022-10-20 21:18] JessicaS11 commented on #1702
@tsnow03 @sgibson91 Not sure about others, but I was able to start up a hub (non-staging) as of about 20 minutes ago...

[2022-10-21 09:33] sgibson91 commented on #1702
Yes, I reset the OAuth app permissions for the org last night from my phone, so this should be working now.

I eventually found this under "OAuth application policy", but I think this is a recent change and [GitHub's current documentation seems outdated](https://docs.github.com/en/organizations/managing-oauth-access-to-your-organizations-data/approving-oauth-apps-for-your-organization)

![finding-

[2022-10-21 09:58] sgibson91 opened #1807 "Update/change certain action steps in our workflows that are running old versions of Node"
### Context

On a recent CI/CD deployment run, I got the following warning(s):

[code]

I don't think `jitterbit/get-changed-files` is well maintained, so we may need to swap to the `dorny/paths-filter` action we use in our validation workflow which has similar functionality and _didn't_ trigger this warning.

### Proposal

_No response_

### Updates and actions

_No response_

[2022-10-21 10:00] sgibson91 opened #1808 "Replace set-output with Environment Files in GitHub Actions workflow"
### Context

On a recent CI/CD run, this warning was triggered:

[code]

We use `set-output` a lot to allow for sharing of variables between steps/jobs throughout various workflows. We should update to the proposed Environment Files workflow before this feature is disabled.

### Proposal

_No response_

### Updates and actions

_No response_

[2022-10-21 11:35] choldgraf commented on #1808
Relevant info from the post:

[2022-10-21 13:01] choldgraf commented on #1666
I believe that we can close this one, we are following up on the response to AWS here:

- https://github.com/2i2c-org/meta/issues/376

[2022-10-21 13:01] #1666 closed

[2022-10-21 13:31] tsnow03 commented on #1702
Everything is working beautifully! Thank you so much! And our users are only seeing the small and medium instances while advanced team are seeing all of them.

Thank you for the clarification on the instructions! I’m keeping notes on places that were super streamlined and parts that were more ambiguous so we can trade notes at any point once we get into the swing of this a little further.

[2022-10-21 14:13] sgibson91 commented on #750
I think the following issue should be rolled into the documentation of this feature:

* https://github.com/2i2c-org/infrastructure/issues/1245

Some of the screenshots I made here will be useful for documenting this feature:

* https://github.com/2i2c-org/infrastructure/issues/1702#issuecomment-1286706091

While, I realise this is user facing and will end up in docs.2i2c.org, I may take this on wh

[2022-10-21 14:14] sgibson91 commented on #1757
Another thing to document: "How to 'reset' GitHub OAuth apps when folk are seeing `403 Forbidden` errors" (providing you have access discussed in #1806)

[2022-10-21 14:47] choldgraf commented on #1167
I'd like to unassign myself from this one - I am more than happy to help with documentation, but I don't think that I will have the time to _spearhead_ any of the efforts on this one. I would be happy to be tagged-in as a support person though, or to review PRs etc.

[2022-10-21 15:31] damianavila commented on #1702
Given we have confirmation from the community representative that things are working as expected, I am going to close this one! Feel free to send any follow-up through our support channel at [support@2i2c.org](support@2i2c.org).

Thanks!

[2022-10-21 15:31] #1702 closed

[2022-10-24 11:00] GeorgianaElena commented on #1801
The hub admin asked for this feature asap, so I'm self-assigning this and tackle it in https://github.com/2i2c-org/infrastructure/pull/1811

[2022-10-24 16:36] GeorgianaElena commented on #1650
Hey @alisonrgray! I will be deploying the hub for the event soon (probably starting tomorrow morning), but I need some more info before, if could help me:

1.

Do you know which is the aws region where this data is hosted? Is it `us-west-2`? (deploying the cluster in the same region as the data, will help minimize the costs)

2.

Do you have a link to the registry where this user image is stored?

[2022-10-24 17:26] jmunroe commented on #1804
(I have a clear memory of already commenting here last week .. but perhaps I had neglected to click 'Comment' and lost my thought! Apologizes if I already typed this up somewhere else.)

We've received a [request](https://github.com/2i2c-org/leads/issues/95) to provide more analytics to our community partners. Specifically:

Since this Q4 2022 Goal is tackling 'monitoring', could it be expanded in

[2022-10-24 23:30] damianavila commented on #1650
Gently reminder for @alisonrgray to provide the requested information. Thanks!!

[2022-10-24 23:34] damianavila commented on #1804
I would avoid expanding the scope.

Your help will be always welcome, @jmunroe.
I would suggest opening a new goal issue for "Analytics and Reporting" and keeping it separated from this one.

[2022-10-24 23:52] jmunroe opened #1813 "Update 2i2c Demo Hub"
### Context

Our demo hub is currently running at https://demo.2i2c.cloud/

As indicated at the bottom of the page https://infrastructure.2i2c.org/en/latest/reference/hubs.html?highlight=list%20of%20hubs#, "This hub is primarily for the 2i2c team to try things out, and it may change or break occasionally. Team members should feel free to experiment with this hub and try out new functionality and f

[2022-10-25 05:45] #1801 closed

[2022-10-25 13:37] sgibson91 commented on #1813
@jmunroe You are now an admin on the demo hub.

All `staging` hubs are designed as places to freely test changes without worrying about interfering with users before rolling changes out to prod. So it can absolutely be used for testing. Demos maybe less so, as it could break at any moment depending on what dev work folk are doing.

[2022-10-25 14:34] yuvipanda commented on #1762
Hey @betolink! Yes we keep a look out, and we are also implementing more active alerts now (see https://github.com/2i2c-org/infrastructure/issues/1804). Sorry we missed this issue - we're mostly looking for support questions and what not from support@2i2c.org.

Perhaps we can give you access to the grafana instance for openscapes and that would help?

[2022-10-25 15:06] sgibson91 commented on #1757
Another clean-up operation: https://github.com/2i2c-org/infrastructure/issues/1815

[2022-10-25 18:02] alisonrgray commented on #1650
Hello @damianavila and @GeorgianaElena

Yes - AWS-west-2 .

I am working on this as we speak and will update asap.

Do you have a general recommendation about this?  We have a pretty small community right now, so I think manually adding people would be fine, but happy to do whatever you think is less problematic...

[2022-10-25 19:11] alisonrgray commented on #1650
Hi again

Regarding the hub image, do you recommend creating a new image from scratch using the template, or would it be okay to start from the image that this similar event (snowex Hackweek hosted by my colleagues here at UW) and make a few tweaks to that?  https://github.com/2i2c-org/infrastructure/issues/1309

What do you advise?

[2022-10-25 20:52] damianavila commented on #1813
Thanks for making @jmunroe admin on the demo one, @sgibson91.

Then, I guess we might want to have 2 demo hubs: one base one (the existing one) and another one based on a daskhub with the specification outlined above (resembling the JMTE experience).

Alterntively, we can just make [demo.2i2c.cloud](https://demo.2i2c.cloud/) the powerful one.

Thoughts?

[2022-10-26 09:59] GeorgianaElena opened #1816 "Not able to create another AWS account under the support email"
### Context

The instructions in https://infrastructure.2i2c.org/en/latest/howto/cloud-accounts/new-aws-account.html?highlight=aws#create-a-new-aws-account suggest that we should use the `support@2i2c.org` email address for the account owner, but this fails with `EMAIL_ALREADY_EXISTS`.

According to aws docs at https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_create.

[2022-10-26 10:51] GeorgianaElena commented on #1816
I have used my 2i2c email address for the gridSST Hack-A-Thon event. Not sure what kind of info is sent to the email address associated with the account, but having the entire tech team as admins should reduce bottleneck as much as possible.

But **this is not scalable** and we should find a way around it somehow.

[2022-10-26 10:58] sgibson91 commented on #1816
This is so weird. We were able to use the support email when Yuvi and I setup the nasa-cryo account. Or maybe it's _because_ we set that up that way that this is now blocking.

The more I learn about AWS, the less impressed I become.

[2022-10-26 11:45] #1684 closed

[2022-10-26 11:48] GeorgianaElena commented on #1816
I think their rule is just that we can't associate an email address that has already an aws account in the 2i2c organization account, with another one.

So, basically, Chris's, Yuvi's, support's and my 2i2c email address can't be used again for a new aws account. As a joke, we might need to hire new people soon to be able to use their email addresses if we'll need more aws accounts 🙄

I believe we

[2022-10-26 11:54] GeorgianaElena commented on #1757
The new cluster section also confuses me a bit.

There are two sections and it's not clear from the start that the `new-cluster` refers to gcp and azure only.

<img width="296" alt="Screenshot 2022-10-26 at 14 52 45" src="https://user-images.githubusercontent.com/7579677/198019415-34dbdf16-98d6-4c99-845c-e8ff9171611e.png">

https://infrastructure.2i2c.org/en/latest/howto/operate/new-cluster/new-cl

[2022-10-26 12:13] sgibson91 commented on #1757
@GeorgianaElena This is what it looks like in my new structure, is this an improvement or could it use further tweaking?

<img width="249" alt="Screenshot 2022-10-26 at 13 11 08" src="https://user-images.githubusercontent.com/44771837/198022762-bad009fe-8902-4edc-9c66-4d7231807dad.png">

I think the reason that it is not specific that it is GCP and Azure is because it is AWS that has the distinctl

[2022-10-26 12:17] sgibson91 commented on #1816
Can we change the email address after we create the project, and will that allow us to reuse an email address?

[2022-10-26 12:18] GeorgianaElena commented on #1757
It absolutely better! I would still like to have the `gcp and azure` part in the title though, since I believe that page strictly relates to these providers, right? If not, maybe it's worth to have the common part in an "index.md"?

[2022-10-26 12:24] sgibson91 commented on #1757
A _lot_ of the content is common though - basically all of it. We address the GCP or Azure-specific parts with tabs within that document like so (I think there are parts where these tabs are broken though, so thanks for drawing my attention to that):

<img width="780" alt="Screenshot 2022-10-26 at 13 22 47" src="https://user-images.githubusercontent.com/44771837/198025085-64399073-09c0-4bd6-8f55-a

[2022-10-26 12:27] GeorgianaElena commented on #1816
Hmm, I don't know if there is a way to change it... I just checked all the settings I could find related to the account and couldn't find anywhere 😕

[2022-10-26 13:15] sgibson91 commented on #1757
@GeorgianaElena Does this help?

<img width="1106" alt="Screenshot 2022-10-26 at 14 14 59" src="https://user-images.githubusercontent.com/44771837/198035453-f718e8e6-1240-48c8-bc9b-ad7cc20dafd1.png">

[2022-10-26 13:23] GeorgianaElena commented on #1757
@sgibson91, first of all, thank you so much for your effort for making this less confusing for me, I really appreciate it <3

I agree. What do you think about having the two doc pages be called something really simple like:
- Add Kubernetes clusters:
  - New  Kubernetes cluster on GCP or Azure
  - New  Kubernetes cluster on AWS

Adding `terraform` in the picture, made things even more confusing fo

[2022-10-26 13:30] sgibson91 commented on #1757
Yeah, not completely. This is complicated and sucks 😭 We don't deploy the cluster with Terraform, only stuff like storage buckets.

I guess I was trying to avoid singling out GCP and Azure because they are so similar and it's AWS that's the pain in the butt. But if it's not helping, let's just do it.

[2022-10-26 13:32] sgibson91 commented on #1757
I have also updated the "attention" box [here](https://infrastructure.2i2c.org/en/latest/howto/operate/new-cluster/new-cluster.html) to read "we do not deploy clusters to AWS _solely_ using terraform"

[2022-10-26 14:09] GeorgianaElena commented on #1650
Thanks a lot for the info provided @alisonrgray

There's no issue using either of the approaches from an infrastructure perspective.
We can also switch it later, if you change your mind. As long as we're not changing the authentication provider entirely (from GitHub to Google for example), the setup is pretty straightforward.

What do you think about starting with manually adding the allowed users

[2022-10-26 15:40] yuvipanda opened #1819 "Create a persistent storage bucket for AWI-CIROH"
Requested in https://2i2c.freshdesk.com/a/tickets/235.

https://infrastructure.2i2c.org/en/latest/howto/features/buckets.html?highlight=persistent#setup-object-storage-buckets has some more info on how to setup the `PERSISTENT_BUCKET`

[2022-10-26 16:01] damianavila commented on #919
1. @yuvipanda get access to @scottyhq AWS for 2i2c engs (will be assigned to @yuvipanda).
2. Reproducing Kube workflow in my binder-org repo (@sgibson91 to link hijacked issue)

[2022-10-26 16:02] sgibson91 commented on #919
I've been discussing this idea on this issue in the mybinder.org-deploy repo:

* https://github.com/jupyterhub/team-compass/issues/501

[2022-10-26 16:03] damianavila commented on #1055
This is done.

[2022-10-26 16:03] #1055 closed

[2022-10-26 16:08] damianavila commented on #1253
* Kubewspawner release (or pull a particular hash): https://github.com/jupyterhub/kubespawner/pull/640 (something can tackle on this sprint (@georgiana)
* Dynamically provide the list is the goal.

[2022-10-26 16:12] damianavila commented on #1500
@jmunroe, to make a decision on how to communicate this to the communities.

[2022-10-26 16:30] damianavila commented on #1794
Push the conversation forward but do not block the existing deployment.

[2022-10-26 16:45] yuvipanda commented on #1816
https://support.freshdesk.com/en/support/solutions/articles/37637-adding-multiple-email-addresses-to-freshdesk lets us create unlimited aliases that can work. @GeorgianaElena if you'd like, you can also delete & recreate that aws account if you feel like - we can't really do that *after* stuff starts getting used

[2022-10-26 20:40] sgibson91 commented on #1813
The point of the demo hub is that _anyone_ can create an account and start using it. I'd worry that enabling dask would make us more vulnerable to abuse.

[2022-10-26 21:22] damianavila commented on #1757
Another one that could be added to this one (since we are collecting multiple requests here): https://github.com/2i2c-org/docs/issues/100#issuecomment-925962073 as per recent a ccsf outage caused by a full disk.

[2022-10-27 09:28] sgibson91 commented on #1819
PR here:

- https://github.com/2i2c-org/infrastructure/pull/1820

[2022-10-27 09:42] sgibson91 commented on #1167
Ok, here's what _I think_ we already have covered in our docs. It may be that these docs don't quite cover what Chris and Yuvi had in mind when they came up with this list, or they are _outdated_.

| List item | Docs link |
| --- | --- |
| Howto: Find where something is configured | https://infrastructure.2i2c.org/en/latest/topic/config.html |
| Topic: Cluster design | https://infrastructure.2i2c.

[2022-10-27 11:38] #1819 closed

[2022-10-27 14:45] damianavila opened #1822 "Discuss the complexity around technical implementation for the NetworkPolicy enforcement in AWS clusters."
Ref: https://github.com/2i2c-org/infrastructure/issues/1794.

[2022-10-27 14:58] damianavila opened #1823 "Gets access to scottyhq's AWS for all the 2i2c engs"
Ref: https://github.com/2i2c-org/infrastructure/issues/919.

[2022-10-27 14:58] damianavila opened #1824 "Extract-replicate our AWS cluster creation workflow into the mybinder.org-deploy repo"
Ref: https://github.com/2i2c-org/infrastructure/issues/919

Upstream issue where the discussion is going to happen: https://github.com/jupyterhub/team-compass/issues/501.

@sgibson91, feel free to add any further details on this one.

[2022-10-27 15:02] sgibson91 commented on #1745
Georgiana found a path forward for changing the email address in: https://github.com/2i2c-org/infrastructure/issues/1816#issuecomment-1293656301

[2022-10-27 15:04] sgibson91 commented on #1824
The repo already has a workflow for deploying Binder - we need to extract our workflow for creating a cluster in AWS, i.e., eksctl and terraform.

[2022-10-27 15:07] damianavila opened #1825 "Deploy kubespawner from specific commit into our infrastructure"
Ref: https://github.com/2i2c-org/infrastructure/issues/1253

@yuvipanda suggested deploying from a specific commit because of breaking changes in kubespwner.

[2022-10-27 15:25] sgibson91 commented on #1757
I tried to tidy up the Topics section a bit since it was getting long, what do folk think of this?

![Screenshot 2022-10-27 at 16 24 11](https://user-images.githubusercontent.com/44771837/198332016-47fbf190-6c9d-4ce7-81ac-75ceaf1cbc54.png)

[2022-10-27 15:29] damianavila opened #1826 "Revisit our documentation to see if the checkboxes are actually relevant."
Ref: https://github.com/2i2c-org/infrastructure/issues/1167

These are the ones we need to check:

- [x] Setting up local environment
- [ ] Topic: Logging
- [ ]  Howto: Use Logging
- [ ] Howto: Find where something is configured
- [ ] Topic: Support charts
- [ ] Howto: Deploy, decom and look at charts of support charts
- [ ] Topic: Dask-gateway and dask
- [ ] Topic: Cluster design
- [ ] Topic: Hom

[2022-10-27 15:30] damianavila commented on #1826
Moved over a comment from @sgibson91.

---

Ok, here's what _I think_ we already have covered in our docs. It may be that these docs don't quite cover what Chris and Yuvi had in mind when they came up with this list, or they are _outdated_.

| List item | Docs link |
| --- | --- |
| Howto: Find where something is configured | https://infrastructure.2i2c.org/en/latest/topic/config.html |
| Topic: C

[2022-10-27 16:10] sgibson91 opened #1827 "Enable GitHub authentication to our Grafana dashboards for all *dedicated* clusters"
We should allow the Comm Reps/Hub Admins of any hub on a **dedicated** cluster to access the Grafana dashboards depicting monitoring info for their infrastructure.

**List of dedicated clusters:**

(I don't know which, if any, already have this feature enabled so please feel free to tick off those you know about)

- [ ] awi-ciroh
- [ ] callysto
- [ ] carbonplan
- [x] leap
- [x] m2lines
   - #1803

[2022-10-27 17:47] dhruvbalwada opened #1829 "Why hubs have kernel time limits"
Why do the kernels on the hub die if they have been sitting idle for a while? I would understand if the hub was killed to save resources, but it doesn't make sense to me why the kernel is killed. I am assuming there is a good reason for this, can someone please explain?

I am using m2lines hubs.

[2022-10-27 17:53] sgibson91 commented on #1829
Hi. We prefer questions like this to come through `support@2i2c.org` as we open a lot of issues here to track tasks and it's likely questions like this will get missed. Our support email has folk dedicated to watching it and responding to requests/questions there so we won't forget about it. Many thanks!

[2022-10-27 17:59] #1829 closed

[2022-10-27 21:05] damianavila commented on #1813
So let's keep the current base demo as is and create a powerful dask demo for our stuff.

[2022-10-27 21:19] damianavila commented on #1816
Another trick that might be useful here is using support+`name_of_hub`@2i2c.org, right?
AFAIK, that should still send emails to support but we have a different email address per hub... unless AWS does not like that one.

[2022-10-27 21:24] damianavila commented on #1824
@sgibson91, it is not clear to me if you intend to work on this one in this sprint or if you were just talking about referencing the upstream issue and having the discussion over there. Let me know what you think and I will update the sprint board accordingly. Thanks!

[2022-10-27 21:41] sgibson91 commented on #1824
I can't really work on this one until #1823 is done, so maybe for the next sprint

[2022-10-28 12:19] GeorgianaElena commented on #1650
Hey @alisonrgray. There is now a hub running at https://gridsst.2i2c.cloud that you can start testing it 🚀

A few things about it:

1. The user docker image it is currently using is the one below per your request.

     But you have full access to change it whenever you want using the `configurator`. There are docs about this at https://docs.2i2c.org/en/latest/admin/howto/configurator.html
[code]

[2022-10-28 12:44] alisonrgray commented on #1650
Hi @GeorgianaElena - Fantastic!  Thank you so much 😄

We will start testing right away.

Funding is NASA Physical Oceanography Program.  You can link to https://science.nasa.gov/earth-science/focus-areas/climate-variability-and-change/ocean-physics

I will get you a smaller logo.  You can link to https://gridsst-hackathon.github.io/

Would someone (you?) from 2i2c want to join our Slack during the

[2022-10-28 12:55] alisonrgray commented on #1650
![image](https://user-images.githubusercontent.com/12631887/198593014-83d1a09e-f66a-4f00-9dcb-da930f0e1912.png)

I'm not able to log on - I know I need to set up users through the admin panel, but I can't seem to access that myself.  Thanks for your help!

[2022-10-28 13:09] jmunroe opened #1831 "[Request deployment] New Hub: VICTOR"
### Important dates

- **Target start date**: Nov 4, 2022
- **Required start date**: Nov 11, 2022
- **Any important dates for usage**: N/A

### Hub Authentication Type

GitHub (e.g., @mygithubhandle)

### First Hub Administrators

Einat Lev, einatlev@ldeo.columbia.edu, @einatlev-ldeo
Sam Krasnoff, krasnoff@ldeo.columbia.edu, @SamKrasnoff

### Hub logo image URL

https://drive.google.com/file/d/1b7

[2022-10-28 13:41] GeorgianaElena commented on #1650
@alisonrgray, can you try logging in again now? I believe there was a typo in your username that should be fixed now.

The logo is also rendering after using this link https://gridsst-hackathon.github.io/_static/logo.png

[2022-10-28 13:43] alisonrgray commented on #1650
That worked!  Thanks :)

[2022-10-28 15:13] jmunroe commented on #1546
I closing this issue and continuing the conversation under

- https://github.com/2i2c-org/infrastructure/issues/1831

using the recently improved "[Request Deployment] New Hub" template.

[2022-10-28 15:13] #1546 closed

[2022-10-28 16:30] damianavila opened #1832 "[EVENT] gridSST Hack-A-Thon"
### Summary

Alison Gray, an oceanographer at the University of Washington, requests a hub to support an upcoming OceanHackWeek.
This event is actually going to be called the "gridSST Hack-A-Thon".

### Event Info

- **Community Representative:** @alisonrgray
- **Event begin:** Oct 31st
- **Event end:** Nov 4th
- **Active times:** US/Pacific?
- **Number of attendees:** up to ~40
- [**Hub Events Ca

[2022-10-28 16:35] damianavila commented on #1832
@alisonrgray, @dgumustel, do you have any link/page about the event?
Can you confirm the time zome and active hours.
Thanks!

[2022-10-28 16:36] damianavila commented on #1650
If you have any issues, you can email us at the support email: https://docs.2i2c.org/en/latest/support.html.
Btw, I have created an accompanying event issue to figure it out and follow some specifics about the event itself: https://github.com/2i2c-org/infrastructure/issues/1832.

[2022-10-28 17:28] alisonrgray commented on #1650
Sounds great, thank you!  I'll answer your questions on the other issue as well.

[2022-10-28 17:30] alisonrgray commented on #1832
The times for the event are 9 am - 5 pm Pacific Time.  Some participants may be working on the hub after hours as well.

[2022-10-31 09:39] GeorgianaElena opened #1834 "[Research Hubs] Disable kernel culling when kernel is still connected"
### Context

This has been raised in response to a ticket https://2i2c.freshdesk.com/a/tickets/243

### Proposal

On research hubs, don't kill kernels that are still "connected" but aren't actively running something.

More about the default culling configuration here deployed on 2i2c hubs👇🏼
https://infrastructure.2i2c.org/sre-guide/manage-k8s/culling/#kernel-culling-configuration

### Updates and

[2022-10-31 10:15] GeorgianaElena commented on #1570
Signaling the discussion in https://github.com/2i2c-org/infrastructure/pull/1830 which I believe is relevant for this one too

[2022-10-31 12:51] GeorgianaElena commented on #1650
I'll close this issue and move the conversation over in that issue to reduce confusion. I've also just merged the PR that officially deployed the hub. Thanks everyone!

[2022-10-31 12:51] #1650 closed

[2022-10-31 14:38] GeorgianaElena opened #1838 "Renew Grafana tokens for a few clusters"
### Context

When I first setup the grafana tokens for some of the clusters to use them in the CI, I made available for only 1y.

Some of those have expired and we need to re-generate them and add them to the repo encrypted.

The list of expired tokens is probably the same with the list of failing workflows here:
<img width="427" alt="Screenshot 2022-10-31 at 16 36 23" src="https://user-images.git

[2022-10-31 15:21] GeorgianaElena commented on #1832
@alisonrgray, I have just pre-warmed the cluster to eliminate the wait time for a new node spin off. There are 50 `m5.large` nodes waiting to be used by the users now 🚀

[2022-10-31 16:49] sgibson91 commented on #1757
I'm not sure I can include this one in my PR, mostly because _I_ don't know how to tell the difference between a WAL failure and an OOM in Prometheus, so someone with that knowledge will need to contribute this piece.

[2022-10-31 17:04] yuvipanda commented on #1757
@sgibson91 I don't either, and that prometheus is down again. I don't think we should block this PR on that. /cc @damianavila to help figure out how to track that the prometheus for pangeo-hubs is still down.

[2022-11-01 00:03] alisonrgray commented on #1832
Thanks so much @GeorgianaElena !

We had a successful first day of our hackathon, but actually spent most of the day on the  background info, project scoping and team formation.  Tomorrow morning we will be getting started on the Hub!

[2022-11-01 01:12] damianavila opened #1843 "[Incident] Prometeus is down in pangeo-hubs"
### Summary

* PageDuty incident: https://2i2c-org.pagerduty.com/incidents/Q0ZH5DBGBCSUNP (it says resolved but @yuvipanda confirmed this one has recurred).
* Dedicated Slack channel: https://app.slack.com/client/TKHFGBRC2/C046PBG348J

### Impact on users

This is not impacting the users, but we have zero visibility into usage on the pangeo-hubs.

### Important information

- Hub URL: us-central1-

[2022-11-01 01:24] damianavila commented on #1843
Some notes from @yuvipanda's investigation in Slack:

Stage 1:

* It's been dead for months at least, readiness probe fails and restarts server pod
* Deleted /data/wal and restarted pod, to see if that helps
  * WAL is Write Ahead Log, and is used to recover from crashes.
  * Clearly it isn't helping us here.
* That worked!
  * We still have missing data for a lot of time but the prometheus server

[2022-11-01 01:24] damianavila commented on #1757
I agree.

Yep, sorry for the delay on that one, I have created an issue to track that problem here: https://github.com/2i2c-org/infrastructure/issues/1843.

[2022-11-01 11:24] GeorgianaElena commented on #1825
Before going down this path, just want to first double-check with @consideRatio what's his feeling around a new `kubespawner` release and whether or not I can be of help.

@consideRatio, do you think now is a good time to push for a new `kubespawner` release? I believe I can help out with that.
If not, maybe I can help with pushing forward the blocking pieces of a release.

Nonetheless, I will be

[2022-11-01 11:29] consideRatio commented on #1825
If not, maybe I can help with pushing forward the blocking pieces of a release?

@GeorgianaElena do go for it! I think a key point about making a release is to figure out if it is a good time or not. I'd say its pretty much always a good time though - I'm thinking "why not make a release" and don't have a clear answer.

I think if you get started by creating a changelog, you will automatically end

[2022-11-01 13:07] GeorgianaElena commented on #1825
Thanks for the guidance @consideRatio!

After speaking with @damianavila, I believe the plan now is:
- get 2i2c on https://github.com/jupyterhub/kubespawner/commit/fa19acdbb056c8d105baab13bbaa2b8b59dfa962 version so we don't block the new profile list options
- get started on building the changelog for a new kubespawner release and see where or if it blocks in the review process. We can then see w

[2022-11-01 15:39] jmunroe commented on #1813
As a strategic priority for Product development and for Community/Partnerships it will be useful to have a full-featured "demo" hub available that showcases what is possible with our research hub.

[2022-11-01 20:13] alisonrgray commented on #1832
Also, I am probably not understanding something, but when users logged onto to the Hub today, everyone only had 1 GB RAM,
My understanding was that we were going to have "a minimum of 4 CPU, 16GB RAM, 10GB home directory per user" .   Can you let me know what I'm missing?

[2022-11-01 20:17] damianavila opened #1845 "[Incident] UToronto Hub Login failing with 500 errors"
### Summary

Looks like for UToronto we still store hub logs on the db disk and it's full.
The incident is over now thanks to @yuvipanda.

### Impact on users

Everyone, AFAIK.

### Important information

- Hub URL: jupyter.utoronto.ca
- Support ticket ref: https://2i2c.freshdesk.com/a/tickets/250 (and 249 which was merged here.
- PagerDuty incident: https://2i2c-org.pagerduty.com/incidents/Q166EM

[2022-11-01 20:21] yuvipanda commented on #1832
@alisonrgray working on it, gimme a sec.

[2022-11-01 20:22] damianavila commented on #1845
Logs (edited) from @yuvipanda's investigation:

* I looked at hub logs, and found `sqlite3.OperationalError: database or disk is full`.
* I gzipped the log file, I copied the gzipped file locally
* Changed the pvc to 60G
* I restarted the hub pod, after, which resizes the disk too
* I copied the jupyterhub.log.gz file back now

[2022-11-01 20:23] damianavila commented on #1845
PR in grafana-dashboards to check disk usage: https://github.com/jupyterhub/grafana-dashboards/pull/49.

[2022-11-01 20:25] damianavila commented on #1845
* [ ] We still need to write and post-mortem and send it back to UToronto.

[2022-11-01 20:27] yuvipanda commented on #1832
@alisonrgray try now?

[2022-11-01 20:28] yuvipanda commented on #1832
@alisonrgray might have to start / stop servers to get the new resource limits. I'm working on making that a smidgen faster.

[2022-11-01 20:37] yuvipanda commented on #1832
Server startups should also be faster now.

[2022-11-01 20:45] alisonrgray commented on #1832
Great, It is working now!  Thanks @yuvipanda

[2022-11-01 20:49] yuvipanda commented on #1832
yw, @alisonrgray!

[2022-11-01 22:26] alisonrgray commented on #1832
Hello again!  Is it possible to have docker installed in the JupyterLab environment so that we can build and run Docker containers?  @nikki-t and I were wondering 😄

[2022-11-01 22:36] yuvipanda commented on #1832
@alisonrgray great question! We can experimentally try it out (docker isn't just a package install, but needs a concurrent daemon running alongside). However, due to the way docker works, setting it up means loosening of some security boundaries - so technically, users can access each others' data.

What kinda containers were you thinking of building, and how would you be running them?

If we were

[2022-11-02 10:40] #1803 closed

[2022-11-02 12:22] nikki-t commented on #1832
@yuvipanda Thank you! I think it will be okay if users can access each others' data as I think we will be using Docker as a proof of concept. @alisonrgray Are you okay with users potentially being able to access each others' data if they run a Docker container?

While I think we are still working out the details of our algorithms, I imagine running Docker containers built from a Python base image

[2022-11-02 13:54] sgibson91 commented on #1806
I have documented this in commit [`53dfe3a` (#1814)](https://github.com/2i2c-org/infrastructure/pull/1814/commits/53dfe3a7cf8ec5a38a9409615dbb525120d427dd) of #1814, but I think to truly close this issue, we also need to update the "New Hub" issue(s) to ensure that this is a checklist item there.

In general, I don't think those issue templates are yet configured to capture whether a community wan

[2022-11-02 14:02] damianavila opened #1852 "Q4 2022 Goal: Documentation"
### Context

The idea behind this goal is to improve our internal technical engineering-focused documentation so our engineers can perform their duties (operations and support) in an easy way with clear references and specifications on how the tasks they face on a daily basis should be actually completed.

There is currently a dedicated tab in our [Eng and Prod backlog](https://github.com/orgs/2i2

[2022-11-02 14:09] damianavila opened #1853 "Q4 2022 Goal: Billing"
### Context

We acknowledge the fact we need to effectively bill our communities to be sustainable in the long term.

And there are some aspects of the billing process where Engineering can help with getting the usage data, aggregating that information, and automating the delivery.

We have different sorts of deployments (ie. dedicated vs shared) where usage computation is different and we should

[2022-11-02 14:20] sgibson91 commented on #1686
Found this in the docs:

https://docs.github.com/en/rest/overview/resources-in-the-rest-api#requests-from-github-actions

[2022-11-02 14:25] sgibson91 commented on #1686
We may need to update _all_ our workflows so that they swap out `GITHUB_TOKEN` for a PAT from our GitHub App: https://github.com/organizations/2i2c-org/settings/apps/2i2c-token-generator-bot

This code already implements this: https://github.com/2i2c-org/infrastructure/blob/72ae1c824b9c6021fc3cd3597c187c549a5f90c5/.github/workflows/bump-helm-versions.yaml#L39-L50

docs: https://docs.github.com/en/

[2022-11-02 14:43] sgibson91 commented on #1686
**Note:** Chris requested a free non-profit plan for us which would increase the number of requests per hour per repository we can make with `GITHUB_TOKEN`

[2022-11-02 14:59] sgibson91 commented on #1686
We could also refactor the [validation workflow](https://github.com/2i2c-org/infrastructure/blob/master/.github/workflows/validate-clusters.yaml) so that the step that inspects changed files (and hence uses `GITHUB_TOKEN`) is extracted from the matrix and only executed once, we then dynamically generate a matrix of clusters to validate, similar to the deploy-hubs workflow.

[2022-11-02 15:11] GeorgianaElena opened #1854 "Document pre-pulling user images on a node"
### Context

There is one more "warm up", optimization step that we could take for events besides spinning up up a number of nodes to be able to be used, i.e. pulling user images on the nodes that we spin, so that users don't wait for that to get downloaded.

More about this option inside the z2jh docs at https://z2jh.jupyter.org/en/latest/administrator/optimization.html#pulling-images-before-user

[2022-11-02 15:33] #1589 closed

[2022-11-02 16:17] GeorgianaElena commented on #1825
I'm reopening this because the new hub image deploy has broke the staging hubs that used profile options because of bug https://github.com/jupyterhub/kubespawner/pull/662 I've introduced :(

I hadn't time to check the entire changelog of kubespawner. @yuvipanda, do you know if there are any breaking changes for 2i2c hubs specifically there if I were to use latest main commit?

Otherwise, I was thi

[2022-11-02 16:21] alisonrgray commented on #1832
Hi @yuvipanda,
The data access issues aren't a problem for our group, I'm pretty sure.  But, after talking to @abkfenris , we don't think this is actually something we want to pursue after all.  Instead we're going to update our image to let users create their own environments.   Alex volunteered to help us out a bit, and I have also pointed @nikki-t to the appropriate docs for doing this.  Thanks

[2022-11-02 16:33] yuvipanda commented on #1832
@alisonrgray @nikki-t alright, that's good to hear :) Let us know if there's anything else we can do to help!

[2022-11-02 17:03] #750 closed

[2022-11-02 17:03] #1245 closed

[2022-11-02 17:15] #1757 closed

[2022-11-02 17:26] alisonrgray commented on #1832
Thanks for trying @abkfenris - really appreciate it.  We'll try to take a look too and see if we can make any headway...

[2022-11-02 17:28] alisonrgray commented on #1832
I do have a question for @yuvipanda though - our users would like to have access to more memory if needed.  Would it be possible to increase the default memory (64GB?) or allow users to select a memory size when they first log on (like Pangeo does).  If so, is it something we control, or you?

[2022-11-02 17:47] yuvipanda commented on #1832
@alisonrgray yeah, we can provide options for selecting memory. Hold on.

[2022-11-02 18:16] yuvipanda commented on #1832
@alisonrgray you should see this now:

![image](https://user-images.githubusercontent.com/30430/199570029-e5799356-ccbc-47fd-a9c8-71bc00f0188b.png)

[2022-11-02 18:29] alisonrgray commented on #1832
Beautiful!  Thank you @yuvipanda !

[2022-11-02 18:35] #1825 closed

[2022-11-02 18:35] #1643 closed

[2022-11-02 22:28] damianavila opened #1860 "Figure out a way to keep jupyterhub logs"
### Context

Ref: https://github.com/2i2c-org/infrastructure/pull/1847

The `extra_log_file: /srv/jupyterhub/jupyterhub.log` was used for analytics purposes, particularly to figure out nbgitpuller usage. However, by putting it on the same disk as the hub database, we can accidentally cause outages when the log file fills up the disk.

We removed that line in #1847, we should figure out a way to ke

[2022-11-02 23:29] alisonrgray commented on #1832
Hi again! A user is getting the following errors when trying to start a new server.  Any suggestions?

2022-11-02T23:02:53Z [Normal] pod didn't trigger scale-up: 4 node(s) didn't match Pod's node affinity/selector, 4 node(s) had taint {k8s.dask.org/dedicated: worker}, that the pod didn't tolerate, 1 Insufficient cpu
Event log
Server requested
2022-11-02T23:02:47Z [Warning] 0/9 nodes are available:

[2022-11-02 23:32] damianavila commented on #1845
The incident report was merged and shared through the support channel, I think we can close this one now.

[2022-11-02 23:32] #1845 closed

[2022-11-02 23:52] yuvipanda commented on #1832
@alisonrgray looking into it now

[2022-11-03 00:02] yuvipanda commented on #1832
@alisonrgray try now?

[2022-11-03 00:10] alisonrgray commented on #1832
Yep, that worked for me.  Thank you 🎉  @yuvipanda

[2022-11-03 06:35] yuvipanda commented on #1794
EKS basically doesn't offer any built-in networkpolicy enforcement, and their examples (https://github.com/aws/amazon-vpc-cni-k8s/tree/master/charts/aws-calico) are deprecated too. In https://docs.aws.amazon.com/eks/latest/userguide/calico.html, they recommend using https://github.com/tigera/operator - which IMO is pretty complicated for what we need to do. I'm sure there are other alternatives, b

[2022-11-03 06:35] yuvipanda commented on #1822
I left a response in #1794

[2022-11-03 06:35] #1822 closed

[2022-11-03 10:44] sgibson91 opened #1862 "[CI/CD] Refactor helm validation workflow to dynamically generate matrix list of clusters to validate"
We could also refactor the [validation workflow](https://github.com/2i2c-org/infrastructure/blob/master/.github/workflows/validate-clusters.yaml) so that the step that inspects changed files (and hence uses `GITHUB_TOKEN`) is extracted from the matrix and only executed once, we then dynamically generate a matrix of clusters to validate, similar to the deploy-hubs workflow.

_Originally posted by @

[2022-11-03 10:57] sgibson91 commented on #1808
This Stack Overflow answer demonstrates how we can replace the following statements in Python scripts by writing to a file: https://stackoverflow.com/a/70123641

[code]

[2022-11-03 14:55] GeorgianaElena commented on #1813
I noticed that there's a bit confusion about the 2i2c demo hub being opened to the world. It's not anymore:
https://github.com/2i2c-org/infrastructure/blob/f559fbb562302f371f01b0cdf6e1efcfa84101d0/config/clusters/2i2c/demo.values.yaml#L23-L24

I believe we made the auth more strict after some abuse happened. This shouldn't make any difference for the current decision about deploying a new one, but

[2022-11-03 15:51] nikki-t commented on #1832
@yuvipanda I have been working on trying to customize our user environment by following these instructions: https://docs.2i2c.org/en/latest/admin/howto/environment/hub-user-image-template-guide.html and have been able to get up to customizing the environment.yml section.

However I keep running into this error message when I try to build the repo:

"Encountered problems while solving:
    - packag

[2022-11-03 18:34] yuvipanda commented on #1832
@nikki-t I don't know enough conda to be able to understand what is going on there :| I took a quick look and it feels like what you have... should work. I've tried bumping the python to 3.9 (https://github.com/gridSST-hackathon/jupyter-docker-image/pull/1) to see if that helps...

[2022-11-03 18:36] yuvipanda commented on #1832
I don't have rights to that repo, so you'll have to 'approve' that PR workflow (and also probably gimme access to help debug?)

[2022-11-03 18:47] nikki-t commented on #1832
I just approved the pull requests and I imagine they will take some time to build. Alison also added you to the organization. Let us know if that gives you the right permissions to debug, thanks!!

[2022-11-03 19:23] yuvipanda commented on #1832
@nikki-t so I made 5 different PRs taking 5 different approaches, and it looks like https://github.com/gridSST-hackathon/jupyter-docker-image/pull/3 worked :D Wanna give that a go? Was there a specific reason you had those versions pinned?

[2022-11-03 19:32] yuvipanda commented on #1832
@nikki-t also opened https://github.com/gridSST-hackathon/jupyter-docker-image/pull/6 to see if that is the one causing issues.

Folks with more conda experience may have better ways of debugging this though :D I just scattershot make a bunch of different changes and hope for the best :D

[2022-11-03 19:40] nikki-t commented on #1832
@yuvipanda Thank you! I have merged #3 and will try building it myself and then pushing it to quay.io. I had copied the environment.yml file from the one used to stand up the environment for the hackathon and had just included the pinned version so I don't know that there is a need for the pins!

On a slightly unrelated note, we are trying out some machine learning do we have access to GPUs?

[2022-11-03 19:51] yuvipanda commented on #1832
@nikki-t ah cool, hope that works out re: image!

Unfortunately since we didn't start out with GPU requests, we didn't ask for GPU quota from AWS. I've just done so, and we can add them on once the quota request is approved. I've just asked for 4 T4 GPUs though, think that might be sufficient? They're often reluctant to give more...

[2022-11-03 19:59] alisonrgray commented on #1832
Awesome thanks @yuvipanda  and @nikki-t - 4 T4 GPUs would be great, in my opinion at least.

[2022-11-03 20:02] #1862 closed

[2022-11-03 20:14] nikki-t commented on #1832
@yuvipanda Thank you for all of your help!

I will defer to Alison on the number of GPUs but I think we will be happy to work with what we can get.

When we were running the code we were getting NVIDIA driver errors. If we do get the 4 T4 GPUs, do you know if there is anything special we need to install into our environment to take advantage of the GPUs?

[2022-11-03 20:19] yuvipanda commented on #1832
@nikki-t I know that the ml-notebook and pytorch-notebook in https://github.com/pangeo-data/pangeo-docker-images 'just work', so perhaps steal ideas from their environment.yml?

[2022-11-03 20:31] ianabc commented on #1678
This is going to come up for us in a couple of weeks. We have a series of workshops where various groups of users will be logging and and trying out the service. Right now, it looks like users are being whitelisted, but that might not be practical for those workshops. As far as I know, we have

* Nov 18th ~ 20-30 users
*  Nov 24th ~ 50-60 users
* Nov 25th ~ 180-190 users
* December 6th ~ 120 users

[2022-11-03 21:16] alisonrgray commented on #1832
Thanks both!  I think driver error has to do with not using a GPU?

@yuvipanda - do you have any idea of when AWS will respond?   Just wondering if I should wait or try a different solution before our event ends tomorrow.

[2022-11-03 21:23] yuvipanda commented on #1832
@alisonrgray it often takes a day at the least unfortunately :(

I know the snowex hub itself has GPUs already set up, so perhaps that's something you can reach out to the appropriate folks (@scottyhq maybe?) and check?

[2022-11-04 00:06] damianavila commented on #1794
Makes sense to me given all the other priorities in place right now.

[2022-11-04 00:13] yuvipanda commented on #1794
As additional context, Calico (what AWS suggests) is also what is used by GCP to provide networkpolicy enforcement, so using the same will help us here in avoiding excess complexity. However, we currently don't run *any* operators in any of our clusters, prefering direct helm charts instead. So that would have to be new, unless there also exists a calico helm chart (not the operator helm chart)

[2022-11-04 00:49] damianavila commented on #1794
Additional info: https://github.com/aws/eks-charts/tree/master/stable/aws-calico.

[2022-11-04 14:06] sgibson91 commented on #1808
Will be closed by:

* https://github.com/2i2c-org/infrastructure/pull/1865

[2022-11-04 14:36] choldgraf commented on #1808
Just want to say thanks @sgibson91 for doing this because I'll likely need to reference this PR in remembering how to do this in a few other projects too haha

[2022-11-04 14:39] sgibson91 commented on #1807
PR is here:

* https://github.com/2i2c-org/infrastructure/pull/1870

[2022-11-04 16:49] byrcyb commented on #1678
For the upcoming hackathons that @ianabc mentioned in November and December 2022, these will be with specific school divisions, is it possible to whitelist all emails associated with those school divisions instead of leaving the hub open for all to sign up? For example, whitelisting `xxxxx@schooldivisionA.ca, xxxxx@schooldivisionB.ca, xxxxx@schooldivisionC.ca, etc`

[2022-11-04 16:50] sgibson91 commented on #1686
Work proposed in the above comment has been completed I propose we wait and see if:

1. Chris's request for a gitHub non-profit plan is accepted
2. When we next hit this issue (frequency may drop if it doesn't disappear completetly?)

before we decide if further action needs to be taken and if so, what

[2022-11-04 17:05] #1808 closed

[2022-11-04 17:07] yuvipanda commented on #1678
@byrcyb @ianabc if those schools are part of CILogon (you can check via https://technical.edugain.org/entities and https://incommon.org/community-organizations/) we can restrict them to that.

@ianabc re: scale up, what do you feel about us making sure you have rights to trigger the warmup yourself from the cloud console?

[2022-11-04 17:53] byrcyb commented on #1678
@yuvipanda these are K-12 schools in Canada, so for eduGain via the Canadian Access Federation, these schools are only eligible to be service providers and I don't believe any (at least in Alberta) are participating. As well, I don't see any of the Canadian K-12 schools that will be participating in our hackathons on the community organization list either. I guess we won't be able to restrict then

[2022-11-04 17:59] yuvipanda commented on #1678
@byrcyb the other option I can think of is we use auth0's username / password signup, require email verification there (https://auth0.com/docs/manage-users/user-accounts/verify-emails) and *then* restrict the emails that can sign up. What do you think of that?

However, I think auth0 doesn't have a way to limit data to be stored purely in Canada - it comes across to the US. It will store list of u

[2022-11-04 18:06] sgibson91 commented on #1807
Reopening because there are other actions that are triggering this warning. They will be more difficult to swap out though, and we may need to wait for upstream releases.

- [azure/setup-helm](https://github.com/Azure/setup-helm)
- [azure/setup-kubectl](https://github.com/Azure/setup-kubectl)
- [mdgreenwald/mozilla-sops-action](https://github.com/mdgreenwald/mozilla-sops-action)
- [nick-fields/ret

[2022-11-04 18:40] sgibson91 commented on #1808
We are still seeing this error message, but I think this is due to code in the `Azure/setup-kubectl` action we depend on in `.github/actions/deploy-setup/`. Upstream issue below, no further action from us other than to consume the new release of the action when it's ready (which dependabot should tell us about...?... I might check that)

* https://github.com/Azure/setup-kubectl/issues/69

[2022-11-04 18:46] sgibson91 commented on #1808
<img width="1437" alt="Screenshot 2022-11-04 at 18 44 48" src="https://user-images.githubusercontent.com/44771837/200052116-085a485f-c97b-4f6c-9bc1-a89863e6efdc.png">

Also it seems like the `nick-fields/retry` action is causing it too

[2022-11-04 18:50] yuvipanda commented on #1832
@alisonrgray we just got approved, and I've deployed it to the prod hubs as an option. I've just provided two image options that are known good to work - you can temporarily install packages inside the notebook env with `!pip install <package>` or `!conda install -c conda-forge <package>` inside them if needed. Also happy to add any other image as an option if needed

![image](https://user-images.

[2022-11-04 18:55] sgibson91 opened #1875 "Update/change gcloud action to mitigate critical warning"
### Context

gcloud recently made a change regarding how it authenticates with kubectl and now requires an auth plugin. Probably all the engineering staff addressed this issue for their local installations weeks if not months ago - well we need to do the same for our CI as per the below warning message!

<img width="1437" alt="Screenshot 2022-11-04 at 18 44 48" src="https://user-images.githubuserc

[2022-11-04 20:42] byrcyb commented on #1678
Thanks @yuvipanda let me run the idea of using auth0 verification with the teachers on our team and that we're collaborating with, and I'll let you know. I'm currently less worried about the data storage / residency as even the most restrictive province's in Canada (British Columbia) seemed to have relaxed their policies recently.

The after hackathon question is really good. I imagine students an

[2022-11-04 21:25] alisonrgray commented on #1832
This is fantastic!  Thanks so much.  We're already up and running on the GPUs and it's working great.   Not too late at all ☺️

[2022-11-04 22:18] ianabc commented on #1678
Yep, that would be ideal. I found some of the plans in #787, but until that, being able to manually control it would work. @chealion do you already have access?

[2022-11-05 08:27] sgibson91 commented on #787
We should also document how calculate how many nodes you'll need to scale-up to

[2022-11-07 13:11] damianavila commented on #1807
@sgibson91, I just assigned you because you already started to work on this one, we can change the assignment if/when someone else picks this up later down the road.

[2022-11-07 13:12] sgibson91 commented on #1807
Wouldn't it be better to leave it unassigned so that we know someone needs to think about it? I'm worried if we leave my assignment it will just default to being my responsibility to solve.

[2022-11-07 13:21] damianavila commented on #1832
Hey @alisonrgray, your event appears to be over 🎉

We hope that your hub worked out well for you! We are trying to understand where we can improve our hub infrastructure and setup around events, and would love any feedback that you're willing to give. Would you mind answering the following questions? If not, just let us know and that is no problem!

- Did the infrastructure behave as expected?
- A

[2022-11-07 16:29] GeorgianaElena commented on #1831
There is now a cluster running at https://victor.2i2c.cloud 🚀

[2022-11-07 16:37] jmunroe commented on #1831
Thanks @GeorgianaElena! I'll let @einatlev-ldeo and @SamKrasnoff know and, assumming they are also able to access this new hub, I think we should be able to close this particular issue.

[2022-11-07 18:50] damianavila commented on #1807
That's a good point... let me just adjust the priority so we can quickly rediscover it.

[2022-11-07 18:58] damianavila commented on #1831
Lovely piece of work, @GeorgianaElena!

[2022-11-07 19:21] jmunroe commented on #1831
The administrators have been able to access this new hub. Assuming no further action is required, this issue can be closed.

[2022-11-08 02:13] yuvipanda commented on #1793
I've enabled the template, and added a default for asking for 4 GPU instances in us-west-2 by default.

[2022-11-08 02:14] yuvipanda commented on #1793
@GeorgianaElena when you craeted the gridsst hackathon project, did you request quota manually or were the defaults what they are now?

[2022-11-08 02:16] yuvipanda commented on #1793
and I've manually requested it for the victor project, just in case.

[2022-11-08 03:02] damianavila commented on #1831
Once the associated PR lands (get's merged), let's close it 😉.

[2022-11-08 03:13] yuvipanda commented on #1472
Sub-actions to be taken here:

- [ ] Move `deployer/cilogon_app.py`
- [ ] Move `deployer/update_central_grafana_datasources.py`
- [ ] Move `shared/keys/decrypt-age.py`

[2022-11-08 08:13] #1831 closed

[2022-11-08 08:14] GeorgianaElena commented on #1793
Thanks @yuvipanda! I didn't request for any of them, they were using the defaults

[2022-11-08 10:19] sgibson91 commented on #1793
Great thanks! Is there anything else to do to close this one? Maybe update the docs [here](https://infrastructure.2i2c.org/en/latest/hub-deployment-guide/cloud-accounts/new-aws-account.html#checking-quotas-and-requesting-increases) to say that this happens now?

[2022-11-08 14:17] choldgraf commented on #1785
Ah ok - I've re-named / scoped this issue then. My goal here is to be able to programmatically access the Grafana data, or download raw data to use in visualizations, notebooks, etc. I can't find that information anywhere in our docs.

[2022-11-08 14:35] choldgraf opened #1888 "Add Monthly Active Users to our Global Usage Grafana dashboard"
### Context

We track "global usage" in [this grafana dashboard](https://grafana.pilot.2i2c.cloud/d/global-usage-dashboard/global-usage-dashboard). Currently it consists of a single plot showing the total active users of the last 7 days for each cluster.

In a recent conversation we agreed that **Monthly Active Users** was one of the metrics we'd like to track to observe the growth of 2i2c's overa

[2022-11-08 17:19] #1765 closed

[2022-11-08 19:46] yuvipanda commented on #1888
Note that we removed the closest we had to this upstream recently as nobody found time to validate those metrics: https://github.com/jupyterhub/grafana-dashboards/pull/45

[2022-11-08 20:20] choldgraf commented on #1888
@yuvipanda are you saying that in order to implement this we will need to do our own validation?

[2022-11-09 04:28] yuvipanda commented on #1823
Sent to @sgibson91, @GeorgianaElena, @consideRatio and @damianavila via email. Please re-open if it doesn't work.

[2022-11-09 04:28] #1823 closed

[2022-11-09 04:36] yuvipanda commented on #1888
"Upstream" is a bit blurred as usual, given I'm the person who made that PR and merged it - primarily because we couldn't find time / resources on the berkeley side to actually validate that that dashboard isn't lying.

I think steps here are to:

1. Look at the queries in that dashboard
2. Validate them against a *source of truth* - which is *hub logs*
3. If these look valid, revert that PR
4. De

[2022-11-09 04:36] yuvipanda commented on #1046
We need to basically rip out the config-connector stuff completely, as we've moved all scratch bucket stuff to terraform. Unassigning myself as I'm not currently working on it.

[2022-11-09 04:39] yuvipanda commented on #1046
The tasks to do is:

1. Make sure the cloudResources config is removed from config for:
    - [ ] pangeo-hubs
    - [ ] dask-staging
    - [ ] ohw
    - [ ] catalyst-cooperative
2. Remove set of resources from our config, under `helm-charts/`
3. Remove custom code we have in our `values.yaml` to support this
4. Remove terraform code that supported setting up config-connector

[2022-11-09 04:40] yuvipanda commented on #1118
Removing myself as I'm not currently working on it. #1804 is related though, and I *am* working on that.

[2022-11-09 04:40] yuvipanda commented on #1118
However, to prevent the perfect from being the enemy of the good, please do consider that *anyone* on the team can always reach out to me at any time to escalate an outage.

[2022-11-09 04:46] yuvipanda commented on #1222
Currently blocked on https://github.com/jupyterhub/oauthenticator/pull/526 :(

[2022-11-09 05:49] yuvipanda opened #1889 "Expand documentation about our NFS server usage"
(child of https://github.com/2i2c-org/infrastructure/issues/1167)

We currently have *some* NFS docs at https://github.com/2i2c-org/infrastructure/blob/master/docs/topic/infrastructure/storage-layer.md. However, the following sections need to be added:

1. *Why* NFS?
2. NFS Server implementations
    1. Google Filestore
    2. AWS EFS
    3. Azure File (SMB, but close enough)
    4. Manual NFS set

[2022-11-09 05:52] yuvipanda commented on #996
We've mad a bunch of progress, particularly at https://github.com/2i2c-org/infrastructure/blob/master/docs/howto/features/gpu.md. Here's what is left to do:

- [ ] Document how to setup GPU nodepools for GCP (we only have docs for AWS at this point!)
- [ ] Document *requirements* for the *image* used in GPU nodes
- [ ] Document this as a feature users can request during hub setup (@damianavila)
-

[2022-11-09 06:25] yuvipanda opened #1890 "Document our logging setup"
(child of https://github.com/2i2c-org/infrastructure/issues/1167)

Logging is *the most* important part of debugging outages, and we need a lot more documentation for that. Here's an outline

- [ ] Looking at 'live' logs (currently running components) #1869 helps with this a little, but needs more docs
- [ ] Where logs are stored *longer term* if at all
   - [ ] GCP (Stackdriver)
   - [ ] AWS (Clo

[2022-11-09 06:27] yuvipanda commented on #1321
@erinmr I think this was done, right? Can you tell us what the eventual outcome here was?

[2022-11-09 06:34] yuvipanda opened #1891 "Expand documentation about our support charts"
(child of https://github.com/2i2c-org/infrastructure/issues/1890)

We currently have a bunch of 'support' charts (under `helm-charts/support`) that we install *once* on all clusters we maintain. We must document this better!

- [ ] nginx-ingress
   - [ ] Why was this picked over other ingress providers?
- [ ] cluster-autoscaler
   - [ ]  why only for AWS?
- [ ] prometheus
   - [ ] How to determine

[2022-11-09 06:36] yuvipanda commented on #1144
Closed by https://github.com/2i2c-org/infrastructure/blob/master/docs/topic/infrastructure/config.md

[2022-11-09 06:36] #1144 closed

[2022-11-09 06:54] yuvipanda opened #1892 "Document our cluster design choices"
We have made many specific choices in how we have designed our clusters, and these should be better documented.

- [ ] Choosing Highly Available Kubernetes cluster masters (across GCP, AWS, Azure)
- [ ] General node configuration considerations
   - [ ] Determining type of disk (spinning disk, ssd) of the nodes
   - [ ] Determining OS type (ubuntu, container optimized OS, bottlerocket, etc) of the

[2022-11-09 06:58] yuvipanda opened #1893 "Document our dask gateway setup"
(child of https://github.com/2i2c-org/infrastructure/issues/1167)

dask is one of the most popular things we offer, and we should document our set up some more.

- [ ] How dask is provisioned (our daskhub chart)
- [ ] Upgrading dask-gateway version when it comes out
- [ ] Requirements for user images to work with dask-gateway
- [ ] Default options we specify for dask-workers, and how users can cus

[2022-11-09 06:59] yuvipanda commented on #1826
I have gone through the original issue, and created subtasks with specific outlines for documentation that still needs to be created: https://github.com/2i2c-org/infrastructure/issues/1167#issue-1191044434. Thanks for these links, @sgibson91!

[2022-11-09 06:59] #1826 closed

[2022-11-09 08:28] choldgraf commented on #1888
To me the question comes down to whether we should we roll a "good enough for 2i2c" implementation and not consider the considerations of the broader JupyterHub team for now. And then plan to make an upstream improvement once we (and Berkeley as well?) have had the time to validate the numbers. Maybe we can be a test-case that validates the right implementation? IMO this is worth devoting 2i2c res

[2022-11-09 09:54] yuvipanda commented on #1785
I've edited the title, and here's some code that will:

1. Let you give it the *name of a cluster* (like utoronto)
2. Will figure out authentication to help you run arbitrary promQL queries against that cluster
3. Return pandas dataframes so you can do pandas things to it.

In this example notebook, I'm basically recreating this graph with pandas https://grafana.utoronto.2i2c.cloud/d/Qx58n92nk/clu

[2022-11-09 10:04] yuvipanda commented on #1888
Cross-referencing https://github.com/2i2c-org/infrastructure/issues/1785#issuecomment-1308494647 which might be helpful.

[2022-11-09 10:09] yuvipanda commented on #1888
@choldgraf an even more concrete proposal would be:

1. Look at the 'monthly active users' query in https://github.com/jupyterhub/grafana-dashboards/pull/45/files#diff-1cfe44f507c8820b1182391fb764aaf537c2eaf111c2ed73f720f4cf81ed4ec9L34
2. Run it against a couple of our hubs via the notebook referenced in earlier comment
3. **Validate** that the numbers produced by that query are correct, by lookin

[2022-11-09 10:15] choldgraf commented on #1888
That sounds great to me - I really appreciate the step-by-step nature of this proposal!

[2022-11-09 10:18] yuvipanda commented on #1888
https://github.com/berkeley-dsep-infra/datahub-usage-analysis/tree/master/notebooks has code for analysing hub logs to get *accurate* info on monthly active users as well! We can probably be much simpler than that - 'monthly active users' is really 'length of unique user names who have logged in in a given 30 day period', and that's easier to calculate as well.

[2022-11-09 10:36] yuvipanda commented on #996
Aaah, whoops sorry @sgibson91! In that case we should document that too, I'll edit my comment

[2022-11-09 11:42] damianavila commented on #1793
Yep, it should be documented.

[2022-11-09 11:48] GeorgianaElena opened #1896 "Allow a new member access to the leap grafana"
### Context

Access for a new user was requested in https://2i2c.freshdesk.com/a/tickets/261 to the leap cluster grafana.
Currently this grafana, has GitHub authentication enabled, but it authorizes users based on their `2i2c-org` membership.

### Proposal

Prioritize taking a decision about **https://github.com/2i2c-org/infrastructure/issues/1850**

### Updates and actions

_No response_

[2022-11-09 12:03] damianavila commented on #1832
OK, I will close this one now, but I invite you again @alisonrgray to provide feedback on this issue when you have some time to share your experience. Thanks!!

[2022-11-09 12:15] damianavila commented on #1826
Amazing work, @yuvipanda and @sgibson91! I have included them in the board with proper status, type, priority, and associated theme.

[2022-11-09 17:01] damianavila commented on #1742
Let's ping them again.

[2022-11-09 17:05] damianavila commented on #1088
Shapping this one is necessary, assigned to @yuvipanda.

[2022-11-09 17:14] damianavila commented on #1824
@yuvipanda will reply with more context on this one.

[2022-11-09 17:19] jbusecke commented on #1896
Hi. I am suspect that this was a ticket raised by my recent email? FYI, I have submitted a [PR](https://github.com/jbusecke/infrastructure/pull/1). Just wanted to mention that here.

[2022-11-09 17:21] yuvipanda commented on #1824
The *primary* reason we use eksctl is:

1. EKS managed nodegroups (similar to GCP nodepools) *can not* scale to 0: https://github.com/aws/containers-roadmap/issues/724
2. Managed Nodegroups are available via terraform (https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/eks_node_group) but *unmanaged* nodegroups are only available via a flaky terraform module that is fuckin

[2022-11-09 17:36] yuvipanda commented on #1896
I responded to your email, @jbusecke!

[2022-11-09 17:43] sgibson91 commented on #919
Current status:

* Yuvi granted me (and other 2i2c engineers) access to Scott's AWS account as mentioned in https://github.com/2i2c-org/infrastructure/issues/919#issuecomment-1261285423
* I will begin actioning #1824, but will mostly likely track the work in a (yet to be opened) issue on the mybinder.org-deploy repo for visibility with the mybinder operating team (I will update with a link when I

[2022-11-09 17:47] sgibson91 commented on #1824
Thanks Yuvi! I will ping you for review on the appropriate terraform config to extract :)

[2022-11-09 17:55] yuvipanda commented on #1824
@sgibson91 yay great! With a *super quick* look, I think there is not much (perhaps the CI/CD stuff) as most of the rest (scratch buckets, EFS, etc) aren't going to be needed on mybinder.org. I'd suggest looking at starting from scratch as a possibility too. Happy to help in whatever form!

[2022-11-09 19:03] erinmr commented on #1321
Hi @yuvipanda - Thanks for checking in. This is working. We haven't done much experimentation with it because our group's interest hasn't been around Matlab analysis. My limited use was that it was a big improvement from needing to spin up a virtual machine every time I wanted to use Matlab on AWS. Thanks for helping us with this!

[2022-11-09 19:06] yuvipanda commented on #1321
@erinmr yay, awesome! Glad it is useful :) I'm going to close this issue as done :)

[2022-11-09 19:06] #1321 closed

[2022-11-10 12:03] GeorgianaElena commented on #1742
Received a reply -> yes, enable it

[2022-11-11 10:13] sgibson91 commented on #1888
We received a support request regarding this issue: https://2i2c.freshdesk.com/a/tickets/269

As support steward I think we should bump the priority of this one. cc @damianavila

[2022-11-11 10:17] sgibson91 commented on #1742
@GeorgianaElena I don't actually see their affirmative reply in https://2i2c.freshdesk.com/a/tickets/216 did this message come to you elsewhere?

[2022-11-11 10:28] GeorgianaElena commented on #1742
It's in here https://2i2c.freshdesk.com/a/tickets/268
The replies broke the ticketing somehow 🤷🏼‍♀️

[2022-11-11 10:29] GeorgianaElena commented on #1742
Maybe we can merge them? At least we'll have them in the same place

[2022-11-11 10:31] sgibson91 commented on #1742
Thanks! I merged them

[2022-11-11 11:44] #1667 closed

[2022-11-11 13:06] Vaibhav1919 commented on #764
@yuvipanda
Is it possible to restrict EFS/NFS data per kubernetes pod?

[2022-11-11 16:33] choldgraf commented on #1888
+1 from me to bump the importance of that, it sounds like it would be useful for Toronto, Berkeley, us for internal metrics, and us because I suspect every decently-sized community will want to know the answer to this!

[2022-11-11 17:04] sgibson91 commented on #764
from https://2i2c.freshdesk.com/a/tickets/271

I think Yuvi has already lined up a great proposal above, and we just need to assign someone to try to implement that.

[2022-11-11 22:35] yuvipanda opened #1905 "[EVENT] UToronto Exam on JupyterHub"
### Summary

https://2i2c.freshdesk.com/a/tickets/220 has more information.

UToronto wants to try running a pilot, where they use the JupyterHub to run an exam for students. This needs a highly available JupyterHub, with a support engineer available during the specific time of the exams (I think they're about 3h).

### Event Info

- **Community Representative:**
- **Event time:** Wednesday Decemb

[2022-11-12 00:06] damianavila commented on #1843
Comment from @yuvipanda in Slack:

[2022-11-12 00:20] yuvipanda commented on #1843
@damianavila more detailed fix in https://github.com/2i2c-org/infrastructure/pull/1906

[2022-11-13 13:16] Vaibhav1919 commented on #764
@yuvipanda @sgibson91 @consideRatio
Do there exist a way through which we can use nfs external provisioned without pre-creating XFS volume from google PD and assigning quota for each user?

[2022-11-14 11:02] sgibson91 opened #1912 "Create a dask gateway dashboard link that respects named servers"
### Context

ref: https://2i2c.freshdesk.com/a/tickets/274

### Proposal

_No response_

### Updates and actions

_No response_

[2022-11-14 13:25] sgibson91 opened #1915 "[Incident] LIS hub cannot start user servers"
### Summary

### Impact on users

### Important information

- Hub URL: https://ds.lis.2i2c.cloud
- Support ticket ref: https://2i2c.freshdesk.com/a/tickets/277

### Tasks and updates

- [ ] Discuss and address incident, leaving comments below with updates
- [ ] Incident has been dealt with or is over
- [ ] Copy/paste the after-action report below and fill in relevant sections
- [ ] Incident title

[2022-11-14 13:28] sgibson91 commented on #1915
Matthew reported that the 2i2c-uk cluster wasn't scaling with a "backoff after failed scale-up" message. This usually means a quota problem. I inspected the quotas on the project and saw the Persistent Disk SSD quota was maxed out (500GB), I submitted a request to increase it to 1TB which was accepted but the problem persists. Matthew has some upcoming classes TODAY that he would like to use the h

[2022-11-14 13:34] sgibson91 commented on #1915
I used `deployer exxec-home-shells 2i2c-uk lis` to see if a student had eaten up the SSD. I ran `du -sh *` in the `home/` dir, but there wasn't anything suspicious looking, and the total size of that dir was 13GB so I don't think that's the problem.

[2022-11-14 13:51] sgibson91 commented on #1915
<img width="1629" alt="Screenshot 2022-11-14 at 13 51 34" src="https://user-images.githubusercontent.com/44771837/201676976-7a3ebd5a-fac5-4d85-9cbd-2432a4bda4c3.png">

From the console we've got one pvc with 100GB on it

[2022-11-14 13:53] sgibson91 commented on #1915
I've discovered this PVC is attached to the prometheus server

[code]

[2022-11-14 13:53] sgibson91 commented on #1915
Is this a WAL problem?

[2022-11-14 15:25] matthew-brett commented on #1915
Do you think there's any reasonable hope of this running in the next 30 minutes or so?  Otherwise we will have to scramble somehow.

[2022-11-14 15:40] sgibson91 commented on #1915
No I don't think so. PagerDuty has been pinging Yuvi since I opened the incident, but it's very early in the AM for him. We tracked some complaints from the configurator, and I just cleared the setting there, but don't know if that will help or not

[2022-11-14 15:50] sgibson91 commented on #1915
We have also found a `ZONE_RESOURCE_POOL_EXHAUSTED` error which is apparently GCP's "out of stock" message :(

[2022-11-14 16:33] sgibson91 commented on #1915
Hub is available again.

Here's what we think happened:

- There was an upstream (GCP-based) exhaustion of resources in the `europe-west2-b` zone. The cluster could not scale, because there were no available resources to scale into.
- The cluster was not set up as a zonal cluster, so only respected the zone it was configured to use.
- I hand-edited the nb-user node group in the GCP console, allowi

[2022-11-14 17:33] matthew-brett commented on #1915
Nice - thanks for fixing - and thanks for the explanation.    Would the situation have been different if this had been a regional cluster?

[2022-11-14 17:37] yuvipanda commented on #1678
@byrcyb yes, the students would need to create a new login / password for themselves, and verify that via email. So the information auth0 would store would be just their email addresses.

We can possibly unlock it temporarily for the duration of the event, but will need to keep an eye out for crypto miners :(

What would an ideal workflow look like?

In the past, what we have done for workshops el

[2022-11-14 17:45] yuvipanda commented on #1915
This is something I am hoping to document soon as part of https://github.com/2i2c-org/infrastructure/issues/1892.

Our clusters are set to be *regional* masters with nodes in only *one* zone. What does this mean?

1. There is *three* kubernetes masters, one per zone, in the region. This provides a highly available master, so the kubernetes API itself doesn't go down. We need this to spawn users
2.

[2022-11-14 17:48] matthew-brett commented on #1915
Right - thanks - that's very clear.

[2022-11-14 20:53] byrcyb commented on #1678
This should be possible, but might be tricky in practice as email permissions for K-12 students will vary by school district, with some not allowing any emails from outside of their own domain.

An ideal workflow would have the students login to the 2i2c callysto hub with their school email addresses (Google or Microsoft authentication) without having to create accounts via auth0 (or CILogon which

[2022-11-14 22:49] #1843 closed

[2022-11-14 22:49] yuvipanda commented on #1891
Per @sgibson91 in https://github.com/2i2c-org/infrastructure/pull/1906#issuecomment-1313451955, we should also document how to debug prometheus outages in more detail

[2022-11-15 00:07] byrcyb commented on #1678
That sounds promising! Yes, the vast majority of school districts are using Google or Microsoft, and sometimes both, for example Microsoft for administrative staff and Google for teachers / students. There's only been a couple of other cases that we've encountered so far that haven't been Google or Microsoft (one was Zimbra).

I'm not sure how restricting by domains works but we may need some flex

[2022-11-15 08:58] GeorgianaElena opened #1917 "Enhance the `deployer` to make us more efficient at deploying hubs"
## I. Context

Now that the `deployer` has been refactored https://github.com/2i2c-org/infrastructure/pull/1869, building on top of it has become more scalable.

We are currently using the `deployer` to automatize various manual tasks related to hub deployment and management and with each option added to it, the engineer team have become more efficient 👉🏼  https://github.com/2i2c-org/infrastructur

[2022-11-15 10:49] damianavila commented on #919
I do not fully understand your question, @sgibson91, can you elaborate a little bit more, thanks!

[2022-11-15 11:03] sgibson91 commented on #919
* We are setting up the Binder to replace the AWS Binder the Pangeo community were originally operating and funding it out of the Columbia grant
* There is only $10,000 USD on the account Scott gave us access to but it is not an active account. When that money is gone, it's gone. It's also not currently connected to the Columbia account.
* We need a long-term account that will be paid for by the C

[2022-11-15 11:05] damianavila commented on #1888
OK, I have raised the priority on this one so we pay attention to it in our next planning meeting.

[2022-11-15 11:21] sgibson91 commented on #1917
FYI, I don't think it's actually possible to programmatically create GitHub OAuth Apps from any sort of command line/REST API call - that is why we didn't broadly advertise the Teams/Orgs auth feature for a long time because it inherently requires manual setup and we wanted to judge how intrusive it was before 'going public'. However, I don't think it's _that_ intrusive and it is such a useful fea

[2022-11-15 11:51] damianavila opened #1918 "[EVENT] Callysto"
### Summary

We have a series of workshops where various groups of users will be logging and and trying out the service.
Ref: https://github.com/2i2c-org/infrastructure/issues/1678#issuecomment-1302631346

- **Community Representative:** @ianabc @byrcyb
- **Event begin:** (dates already updated)
  - Nov 24th ~ 50-60 users
  - Nov 25th ~ 180-190 users
  - December 5th ~200 students
  - December 6th

[2022-11-15 11:56] damianavila commented on #1918
There is currently a long discussion happening on an associated issue: https://github.com/2i2c-org/infrastructure/issues/1678.

* Self-warming of the cluster will be allowed as per this comment: https://github.com/2i2c-org/infrastructure/issues/1678#issuecomment-1304303297. We need to confirm they can actually do it.

* Authentication is being discussed, once we get into an agreement, that decisio