[2022-06-21 23:16] damianavila commented on #1440
@colliand request ack. I have added the issue to our backlog board and we will prioritize the hub deployment accordingly to available eng resources so we can deploy the hub on a timely manner.

@mabuice, @fcollman, we will ping you soon with some questions about the specific of the hub deployment.

[2022-06-21 23:18] damianavila commented on #1439
@colliand request ack. I have added the issue to our backlog board and we will prioritize the hub deployment accordingly to available eng resources so we can deploy the hub in a timely manner.

@ianabc @byrcyb, we will ping you soon with some questions about the specific of the hub deployment.

[2022-06-22 00:56] mmcky commented on #1364
@GeorgianaElena thanks for checking in on this. I can't seem to edit your check boxes.

- [x] confirmed to delete and no longer in use
- [x] you may remove and delete user home directories.

[2022-06-22 03:15] fcollman commented on #1440
Where can i read instructions about the requirements for the course docker image? (i.e. what should be running on what ports/etc?)

Will plan on putting materials and Dockerfile in this repo (just a stub for now)
https://github.com/AllenInstitute/swdb_2022

[2022-06-22 06:42] colliand commented on #1440
Hi Forrest! This and related pages in 2i2c's docs may help. Our engineers will likely have better pointers soon. https://docs.2i2c.org/en/latest/admin/howto/environment/index.html

[2022-06-22 09:31] sgibson91 commented on #1269
This is blocked by the fact that secrets are not available in pull requests opened from forks.

[2022-06-22 10:01] GeorgianaElena opened #1445 "Give access to central Grafana to @colliand"
### Context

In https://github.com/2i2c-org/infrastructure/issues/1438#issuecomment-1160731276, @colliand asked for access to the central grafana.

### Proposal

We should do this.

### Updates and actions
~Steps to be taken by @2i2c-org/tech-team:~
- [x] give access to GCP `two-eye-two-see` project
- [x] confirm with @colliand  that `colliand@2i2c.org` the correct address to use for access to the

[2022-06-22 10:02] GeorgianaElena commented on #1438
I opened https://github.com/2i2c-org/infrastructure/issues/1445 to discuss access to central grafana and to signal-boost the request

[2022-06-22 10:24] sgibson91 commented on #1422
I believe MEOM-IGE was fixed during the course of the below incident?

* https://github.com/2i2c-org/infrastructure/issues/1423

[2022-06-22 10:39] sgibson91 commented on #1422
I addressed the pangeo-hubs cluster here

* https://github.com/2i2c-org/infrastructure/pull/1447

[2022-06-22 10:46] #1334 closed

[2022-06-22 10:53] sgibson91 commented on #1280
I believe https://github.com/2i2c-org/infrastructure/pull/1404 is now ready to be reviewed/merged

[2022-06-22 10:54] sgibson91 opened #1449 "Make BinderHubs auto-deployable by CI/CD"
At the minute, BinderHubs will not be auto-deployed by our CI/CD pipeline. This issue is tracking the work needed to change that.

- Update deployer to recognise `helm-charts/binderhub/**` as a path the trigger updates for
- Update `deploy-hubs.yaml` to also watch the `helm-charts/binderhub/**` path

[2022-06-22 11:05] #1319 closed

[2022-06-22 11:58] choldgraf commented on #1118
Given that we have a PR open to define and incident commander and more complex response process:

- https://github.com/2i2c-org/team-compass/pull/422

Should we re-scope this issue to explicitly be about "pager-style" escalation practices? E.g., some system to ping a specific person via a non-Slack method if a particular problem emerges?

Or, should we consider https://github.com/2i2c-org/team-com

[2022-06-22 14:14] damianavila commented on #1445
Even when I know @colliand can handle all the technical steps, maybe it makes sense to give him the pass through another tool (ie. Bitwarden)? Otherwise, I feel it is a lot of toil for him...

[2022-06-22 14:19] damianavila commented on #1334
Thanks for addressing this one, @GeorgianaElena!!

[2022-06-22 14:34] damianavila commented on #1422
Both clusters were addressed, so closing here.
Thanks, @sgibson91!

[2022-06-22 14:34] #1422 closed

[2022-06-22 14:49] sgibson91 commented on #1280
I also now have config that successfully pushes the built images to GAR instead of my Docker Hub account! But I'd like to get #1404 merged first so I can rebase without force pushing anything.

[2022-06-22 15:07] choldgraf commented on #1445
I agree with @damianavila - I don't think that we should require all team members to understand `sops` and `gcloud` just to get access to a grafana dashboard. If we think that a service will be useful to people who aren't on the engineering team, we shouldn't require engineering practices to use them. (I'm also imagining future hires that may have much less engineering-specific experience than any

[2022-06-22 15:10] sgibson91 commented on #1445
While I don't disagree, with the password manager approach we then run into a source of truth issue. We store the grafana admin password in the repo because it is automatically read by our deployment infrastructure when we deploy the support chart. If we change that password for whatever reason, we then have a monumental task on our hands updating everyone's password managers.

[2022-06-22 15:11] GeorgianaElena commented on #1445
I'm working on https://github.com/2i2c-org/infrastructure/issues/1437, that should allow logging in with GitHub and we won't have to get through this steps. Shouldn't take long, but yeah, please feel free to send the password to @colliand anyway you feel is more appropriate

[2022-06-22 15:15] sgibson91 commented on #1445
So I think a good plan is:

- Short term access for Jim _right now_: Send password via a password manager
- Longer term access for future hires with less engineering-specific skills: The GitHub Auth integration Georgiana is working on

[2022-06-22 15:48] yuvipanda commented on #1253
blocked on https://github.com/2i2c-org/infrastructure/issues/1055

[2022-06-22 15:51] yuvipanda commented on #1055
I upgraded berkeley to master a week or so ago and it worked great.

[2022-06-22 15:53] yuvipanda commented on #1309
We got bigger GPU quota thanks to @cgentemann!

I think this issue can be closed now.

[2022-06-22 15:53] #1309 closed

[2022-06-22 16:22] choldgraf opened #1452 "[discuss]: creating cloud organizations for communities and cloud resource limits"
### Context

When deploying a recent hub for the first time, we ran into some issues with resource limit quotas on AWS when requesting more GPUs:

- https://github.com/2i2c-org/infrastructure/issues/1309

The issue arose because we had a relatively new AWS organization created for the community/event, I think with the goal of simplifying our billing process a bit. However, it's clear that creating

[2022-06-22 16:23] choldgraf commented on #1309
Follow-up: I opened up the following issue to discuss these issues around new AWS organizations and resource limits/quotas:

- https://github.com/2i2c-org/infrastructure/issues/1452

[2022-06-22 16:37] sgibson91 commented on #1012
Topics to discuss to follow-up this issue:

* Dependabot for Python is quiet because we don't pin a lot - should we?
* We can also bump terraform modules, but that often comes with issues around deprecated attributes, etc. We could do one of the following:
  * Implement terraform module bumps with dependabot and define a process where an engineer is assigned to review the PR making sure nothing li

[2022-06-22 16:48] sgibson91 commented on #1222
I think we could just enable GitHub Auth on the openscapes hub for now and tackle refresh_user separately?

I'd be interested in @yuvipanda's estimation of time/work and then @GeorgianaElena agreed to help me with this if no one else can take the lead.

[2022-06-22 20:14] sgibson91 commented on #1402
After a call Yuvi and I had "ignore basehub completely" meant "use the values Pangeo Binder was deployed with before" from here https://github.com/pangeo-data/pangeo-binder/blob/staging/pangeo-binder/values.yaml and not port across the templates just yet.

Closing this as this is not part of the MVP for the current BinderHub, we can reopen if needed.

Also closing:

* https://github.com/2i2c-org/i

[2022-06-22 20:14] #1402 closed

[2022-06-22 20:25] yuvipanda opened #1454 "[Decommission Hub] farallon.2i2c.cloud"
### Summary

@cgentemann reached out to me and said this hub can now be decomissioned, as the users have moved to an ESIP run hub.

### Info

- **Community Representative:** @cgentemann
- **Link to New Hub issue:** https://github.com/2i2c-org/infrastructure/issues/135 maybe
- **Proposed end date:**

### Task List

#### Phase I

- [ ] Confirm with Community Representative that the hub is no longer

[2022-06-23 00:52] jameshalgren commented on #1444
Thanks @colliand, @damianavila. Processing, will respond soon.

[2022-06-23 01:43] yuvipanda commented on #594
This is done now, thanks to @GeorgianaElena!

[2022-06-23 01:43] #594 closed

[2022-06-23 01:46] yuvipanda commented on #1238
@damianavila the setup-efs.py file is only used for kops, which only farallon uses. Everything else comes from https://github.com/2i2c-org/infrastructure/blob/master/terraform/aws/efs.tf which doesn't have backups enabled. So we don't really have anything :D

[2022-06-23 01:55] yuvipanda commented on #1012
With terraform, if we bump we'd also have to `terraform apply` across all our workspaces. So my inclination is to not.

[2022-06-23 02:08] yuvipanda opened #1455 "Allow access to multiple s3 buckets from the hub"
### Context

From https://2i2c.freshdesk.com/a/tickets/149,

### Proposal

_No response_

### Updates and actions

_No response_

[2022-06-23 02:08] yuvipanda commented on #1455
Tried to just grant access to the role specified in https://github.com/2i2c-org/infrastructure/blob/5951fb62599a55a8722b720a6ca534843449b371/terraform/aws/buckets.tf#L46 but that didn't work.

[2022-06-23 02:33] yuvipanda commented on #1154
I think this is closed by https://github.com/2i2c-org/team-compass/pull/422

[2022-06-23 02:45] yuvipanda commented on #1437
+1.

The other alternative to explore for per-cluster Grafanas is to allow authentication with JupyterHub itself. This is possible because Grafana supports generic OAuth2 authentication (https://grafana.com/docs/grafana/latest/setup-grafana/configure-security/configure-authentication/generic-oauth/) and JupyterHub (with a service token) can provide that.

[2022-06-23 02:53] yuvipanda commented on #1382
Here's a document I wrote almost a year ago now that might help https://hackmd.io/OXhKs4xyQra0KgBglegSBQ

[2022-06-23 02:56] yuvipanda commented on #1118
Yes! I think this is important as otherwise the 'currently awake' people can feel pretty overwhelmed sometimes.

I think specifically for outages, as a short-term non-scaleable measure, I'm always happy to be alerted via non-slack methods (I think most people have my phone number). I think that's an important senior engineer responsibility.

[2022-06-23 03:11] yuvipanda commented on #1432
@sgibson91 that is only required if we want to offer 'sub-options' inside a profile. The profiles themselves can each offer an image. See https://github.com/2i2c-org/infrastructure/blob/master/config/clusters/m2lines/common.values.yaml#L94

[2022-06-23 08:22] GeorgianaElena commented on #1278
Since farallon (last cluster without a support chart deployed) will be decommissioned soon, https://github.com/2i2c-org/infrastructure/issues/1454, I'll close this issue as completed.

[2022-06-23 08:22] #1278 closed

[2022-06-23 08:51] sgibson91 commented on #1432
@yuvipanda I know - I'm reading "They'd also like each environment to be paired with a few different machine types" as meaning they'd like user profiles with different images, with sub-options of machine types. But some clarity from the openscapes folks would be helpful here.

[2022-06-23 09:22] sgibson91 commented on #1280
Last task to close this issue:

* https://github.com/2i2c-org/infrastructure/issues/1449

[2022-06-23 09:25] #1449 closed

[2022-06-23 09:27] sgibson91 commented on #1280
Woohoo! I'm calling this one closed! 🎉

[2022-06-23 09:27] #1280 closed

[2022-06-23 09:30] sgibson91 commented on #919
We have a test Binder that is up and running on our pilot-hubs cluster! 🎉 All the infrastructure is there to make this repeatable, including auto-deployment through CI/CD. So the only thing blocking progress on reinstating the Pangeo Binder on GCP is the credits situation with Columbia.

[2022-06-23 09:54] sgibson91 commented on #1012
Agreed, but we can also run into unforeseen toil if we have to do this the next time we touch the terraform config. So one thing we could do is, from a project management POV, always allocate extra time to a task that touches terraform in case such an issue crops up. (People are always mad you're overdue but happy that you're early!)

[2022-06-23 10:56] #1437 closed

[2022-06-23 11:16] GeorgianaElena commented on #1445
https://github.com/2i2c-org/infrastructure/issues/1437 was merged, and we can now login into the central grafana using GitHub. Access is granted based on the membership in `2i2c-org` GitHub org.

@colliand, can you please try it out? Click on the `Sign in with GitHub` button at the bottom of the page at https://grafana.pilot.2i2c.cloud

[2022-06-23 11:34] choldgraf commented on #1445
Just a note that I agree w/ @sgibson91 and @GeorgianaElena's assessment above. My suggestion of sending via Bitwarden was just as a one-off, but I think that our long term focus should be on the guiding principle of:

I think the GitHub Auth login approach is great 👍

However I just tried to log in via this method, and after authorizing the github app, got:

![image](https://user-images.githubuser

[2022-06-23 11:44] sgibson91 commented on #1445
Same for me

[2022-06-23 12:26] choldgraf commented on #1445
it works for me too!

[2022-06-23 16:05] #1225 closed

[2022-06-23 16:15] choldgraf commented on #1455
Can you flesh out the issue title? It is unclear what "different" refers to...is it scratch buckets?

[2022-06-23 16:51] yuvipanda commented on #1455
@choldgraf no idea how those words went missing! Fixed

[2022-06-23 17:58] scottyhq commented on #1455
I’ll have to loop you into the emails with the NASA account admin to double check the settings on their end...

Last year we also had to add explicit permissions to the hub service account policy, see here https://github.com/snowex-hackweek/jupyterhub/blob/main/terraform/eks/s3-data-bucket.tf

Could also test with the following requester-pays bucket. I have no problem accessing this with full S3 p

[2022-06-23 18:02] scottyhq commented on #1455
Just noting that aws_iam_role.irsa_role[each.value.hub_name].arn ->
https://github.com/2i2c-org/infrastructure/blob/5951fb62599a55a8722b720a6ca534843449b371/config/clusters/uwhackweeks/snowex.values.yaml#L4

..rather than adding each specific bucket though it seems like all S3 list,read permissions could be default (just exclude permissions to create and delete buckets)?

[2022-06-23 21:21] damianavila commented on #594
For future readers, Farallon is being decommissioned here: https://github.com/2i2c-org/infrastructure/issues/1454.

[2022-06-23 21:27] jules32 commented on #1432
Pinging @betolink as the best person to speak to this :)

[2022-06-23 21:32] damianavila commented on #1154
I think there are some additional pieces on this merged PR: https://github.com/2i2c-org/docs/pull/143/

@choldgraf, do you want to keep this open for something else?

[2022-06-23 21:36] damianavila commented on #1118
I totally appreciate that @yuvipanda, BUT we need to find a way/process so we do not need to ping you at your personal phone number. So +1 on repurposing this one about the "pager-style" tool.

[2022-06-23 21:37] damianavila commented on #1278
Awesome work, @GeorgianaElena!

[2022-06-23 21:48] jameshalgren commented on #1444
Tagging @whitelightning450 @karnesh for situational awareness.

[2022-06-23 21:48] yuvipanda commented on #1454
I got confirmation from @cgentemann that it's ok to delete everything

[2022-06-23 21:48] #1454 closed

[2022-06-23 22:11] colliand commented on #1444
Hi James! Yes 2i2c has experience with the real-time-collaboration features in upstream Jupyter. Experiments have shown that feature is not ready for production deployments. There is ongoing work there and 2i2c will support RTC when we can do so securely and robustly.

Yes, our team is contributing to the "tantalizing future" you referenced. The pioneer work of the Pangeo community is an inspirati

[2022-06-23 22:12] damianavila commented on #1445
Since @colliand confirmed access we can call this one done. Awesome work @GeorgianaElena!

[2022-06-23 22:12] #1445 closed

[2022-06-23 22:27] damianavila commented on #1454
@yuvipanda, since you closed it I assume you remove the hub and clean up everything in the Farallon AWS land, can you confirm? Thanks!!

[2022-06-24 07:41] choldgraf commented on #1154
Let's say that https://github.com/2i2c-org/team-compass/pull/422 closes this one, and we can continue iterating in new / more focused issues from there?

[2022-06-24 08:03] choldgraf commented on #919
Wanted to note that I heard recently from @cgentemann that there are several communities within the NASA ecosystem that would also benefit from having BinderHubs for their workshops and events. This isn't quite the Pangeo community, but it's a useful datapoint to know where people would find value in these Binder services.

The only catch is that all of their data lives in AWS, not in GCP. I don't

[2022-06-24 08:24] choldgraf commented on #1118
OK I've re-worked the top comment in this one to focus more around Pager-style updates. Also added some links!

[2022-06-24 08:39] sgibson91 commented on #919
At the minute, it's very hacked together to specifically work with Google Artifact Registry for image storage. We should absolutely fix that, but I actually think we could use an eks cluster with a GAR since the cluster and registry are connected through a service account that is provided as a username/password in the hub config, rather than any k8s-level connection. It shouldn't be too much effor

[2022-06-24 08:46] sgibson91 commented on #1012
@damianavila Here's a scenario I'm imagining:

- There's a task on our backlog that involves adding some "feature" to our terraform config
- In the process of adding said feature, some terraform module needs bumping and that causes issues, like attributes being deprecated/changed
- This results in a new PR that is not addressing the original task and also has to be applied across all clusters
- Th

[2022-06-24 08:56] GeorgianaElena commented on #1279
The leap grafana, running at https://grafana.leap.2i2c.cloud/dashboards now has GitHub auth enabled. So everyone in the `2i2c-org` can login and checkout the usage report (it's under `Manage` -> `Jupyterhub Default Dashboards` -> `Usage Report`).

I believe this was the last piece that was missing, so I will close this issue as completed. Thanks everyone!

[2022-06-24 08:56] #1279 closed

[2022-06-24 09:06] choldgraf commented on #919
That's helpful context! So it sounds like:

- If it would be really beneficial to NASA communities, then it might be worth adapting this to run on AWS as well and deploy it for a few of those communities (with the expectation that things might change as https://github.com/2i2c-org/infrastructure/issues/1382 is addressed)
- So we should learn from @cgentemann how important this would be to do quick

[2022-06-24 10:18] #1364 closed

[2022-06-24 17:11] rabernat commented on #919
FWIW, we have _another_ zombie binder running on AWS, https://hub.aws-uswest2-binder.pangeo.io/. It is being run by a skeleton crew of @scottyhq.

As long as we are looking at AWS, I would be very happy to see a path towards moving this binder into a more stable situation. Perhaps we can kill multiple birds here.

[2022-06-24 18:08] damianavila commented on #919
Even when that is possible, it maybe makes sense to also explore AWS ECR as well? I guess there will be some benefits to having everything in AWS land at the time to retrieve/fetch images...

[2022-06-24 18:11] damianavila commented on #1012
I am usually in favor/biased towards pinning requirements.

[2022-06-24 20:26] yuvipanda commented on #1384
There were 27 users and 6G of home directory storage. am deleting it all now.

[2022-06-24 20:36] yuvipanda commented on #919
Specifying passwords as we have done is the only way binderhub can push to registries right now (I opened https://github.com/jupyterhub/binderhub/issues/1506), and that's also mostly ok in this context I think. I also don't think your GAR setup is too hacky, @sgibson91! It could be extended to AWS without too much difficulty I think.

If we have the money to run other binderhubs, I think we can no

[2022-06-24 20:46] yuvipanda commented on #1384
hub is gone!

[2022-06-24 21:04] yuvipanda commented on #919
I also did a tiny amount of cleanup in our base binderhub helm chart here: https://github.com/2i2c-org/infrastructure/pull/1467

[2022-06-24 21:13] yuvipanda commented on #1118
@damianavila totally agree this isn't long term sustainable! I just wanted to volunteer that right now as outages and escalations will continue to happen as we figure out the process.

[2022-06-24 21:45] damianavila commented on #1384
#1466 LGTM, so I think we can close this one when that one is finally merged.

[2022-06-24 21:54] #1384 closed

[2022-06-25 00:14] damianavila commented on #1418
@rabernat do you have any recommendations about where to deploy this cluster/hub given the fact they are trying to use data hosted in Pangeo Forge? cc @yuvipanda who might have thoughts as well.

[2022-06-25 00:39] damianavila commented on #1418
Assuming this is the data we are talking about: https://pangeo-forge.org/dashboard/feedstock/7, @khider can you confirm if this is the data we are talking about?
It seems it is handled by this bakery: pangeo-ldeo-nsf-earthcube and this one seems to be a GCS one: https://github.com/pangeo-forge/pangeo-forge-gcs-bakery.
So, it might be the case the data actually lives in GCS US central-1?
I am not f

[2022-06-25 00:54] khider commented on #1418
Yes, for the modern data. We also need to work with them to get the PMIP data onto Pangeo Forge, I assume at the same location.

[2022-06-25 08:12] TomNicholas commented on #1293
FWIW the issue I originally had in getting workers (which was why we raised the ticket) seems to be fixed.

[2022-06-26 14:21] colliand commented on #1440
Following a suggestion from @mabuice, I am adding [Saskia de Vries](https://alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/saskia-de-vries/) @saskiad to this issue thread and related email chains. Welcome Saskia!

[2022-06-26 14:54] rabernat commented on #1418
The data are actually being deposited in the OSN storage pod at NCSA, so not actual in any commercial cloud. They are fully public, with no requestor pays or other authorization required. I would place the hub in whichever cloud region is in closest network proximity to NCSA. Google cloud US-CENTRAL-1 has worked well for us in the past, but I'm sure there is a nearby AWS region too.

[2022-06-26 21:55] damianavila commented on #1418
OK, given this information, a GCP-based daskhub deployment in their own dedicated cluster seems to be the right choice.

@yuvipanda @sgibson91, do you agree with me on this assessment (since you have been lately interacting with new dedicated clusters on GCP, I think you may have good feedback here)?

[2022-06-27 02:19] yuvipanda commented on #1418
Yep, putting this on gcp at us-central-1 is the way to go. Let's put it on us-central1-c as that has most variety of GPU available (https://cloud.google.com/compute/docs/gpus/gpu-regions-zones) in case we need it in the future.

[2022-06-27 04:18] damianavila commented on #1418
OK, @khider, I think the next step would be to follow: https://docs.2i2c.org/en/latest/admin/howto/create-billing-account.html#billing-and-cloud-accounts, to create the GCP cloud billing account and add 2i2c engs to it.

[2022-06-27 04:32] damianavila commented on #1418
Btw, in step 2.5, could you please add the following emails: yuvipanda@2i2c.org, sgibson@2i2c.org, georgianaelena@2i2c.org, and damianavila@2i2c.org. Thanks!

[2022-06-27 09:39] GeorgianaElena opened #1471 "[Question] dask-staging helm release removal, intentional?"
### Context

When going to the https://dask-staging.2i2c.cloud, itreturns a 404 and I don't see any pods in the `dask-staging` namespace

### Proposal

_No response_

### Updates and actions

- [x] Redeploy the hub?

[2022-06-27 09:43] GeorgianaElena commented on #1471
Ok, hub is back up. Apparently the hem release was gone:

[code]

I'll just keep this issue open for the day in case the deletion was intentional, otherwise I'll close the issue as resolved since probably this was by mistake.

[2022-06-27 10:22] GeorgianaElena opened #1472 "Change deployer sub-scripts into deployer actions"
### Context

Currently, the `deployer` module has lots of useful functions, available as deployer actions https://github.com/2i2c-org/infrastructure/blob/master/deployer/README.md|

But there are also deployer "sub-scripts" like [`update_central_grafana_datasources.py`](https://github.com/2i2c-org/infrastructure/blob/master/deployer/update_central_grafana_datasources.py) or [`cilogon_app.py`](http

[2022-06-27 14:10] #1154 closed

[2022-06-27 14:10] #1155 closed

[2022-06-27 15:54] betolink commented on #1432
@yuvipanda @sgibson91 thanks for taking a look at this!

In an ideal case scenario we would like to see something like this:

![jhub](https://user-images.githubusercontent.com/717735/175978680-a5f6357c-2cc1-4350-a95f-e7f9348c852b.jpg)

Hub users could select which environment they want to use and then the machine type. These environments will be using whatever the latest tags are in the registry(D

[2022-06-27 16:46] sgibson91 commented on #1432
Thanks @betolink! #1253 is something we've been developing for the Pangeo hubs and basically allows the same thing (although I think the UI looks a little different). So a user can select an image tag from a drop-down and then merge that selection with a machine type.

Yes we have that which would be a good fallback option until we unblock the above issue and can roll out the UI you'd prefer.

[2022-06-27 17:24] betolink commented on #1432
Thanks @sgibson91 ! yeah it's basically the same. If that can be implemented in our hub it would be amazing! So far we have the Python and R images,(Matlab is next).  We can use `openscapes/python`(now called Corn) `openscapes/r` (we're building it this week) and `openscapes/matlab` from Docker hub.

[2022-06-27 19:17] choldgraf opened #1474 "Revert our use of "Collaborative hub service" temporarily"
### Context

In these two Pull Requests, I misunderstood a suggestion from @yuvipanda about our use of "Collaborative hub service" instead of "Managed hub service":

- https://github.com/2i2c-org/docs/pull/148
- https://github.com/2i2c-org/team-compass/pull/422

He suggested that we merge the changes *without using the term Collaborative Service* and I accidentally merged before reverting that bac

[2022-06-27 19:17] yuvipanda commented on #1474
opened PR https://github.com/2i2c-org/docs/pull/149

[2022-06-27 19:47] #1471 closed

[2022-06-27 20:13] yuvipanda commented on #1439
Who would manage the GCP billing account?

[2022-06-28 00:09] byrcyb commented on #1439
Thanks @GeorgianaElena and @yuvipanda. We (Callysto/Cybera/PIMS https://github.com/Chealion) are going to manage the billing account and are currently investigating which public cloud provider (AWS, GCP, Azure) can provide us with cost-effective options that are located at a Canadian data centre. If GCP is what we go with then Montreal seems like quite a reasonable choice. Are there any specific r

[2022-06-28 00:12] byrcyb commented on #1439
Note, I don't think our investigation will take too long as we already have a rough estimate from one provider and have conversations going on with the other two.

[2022-06-28 00:16] khider commented on #1418
And done! Everyone should now have access.

[2022-06-28 02:25] damianavila commented on #1439
For contextual/additional information about the above assignations, @GeorgianaElena will be the lead developer for this hub with @yuvipanda's assistance as secondary companion/helper/supporter. This is maybe already obvious from the above comments, just making it explicit :wink:.

[2022-06-28 02:27] damianavila commented on #1418
For contextual/additional information about the above assignations, @sgibson91 will be the lead developer for this hub with @yuvipanda's assistance as a secondary companion/helper/supporter.

[2022-06-28 08:09] sgibson91 commented on #1418
@khider to confirm, is the billing account you created called "LinkedEarth Jupyter Hub"?

[2022-06-28 09:05] sgibson91 commented on #1418
I have created the `linked-earth-hubs` project in our 2i2c.org GCP organgisation, attached the Linked Earth Jupyter Hub billing account, and given everyone on the engineering team access to the new project

[2022-06-28 14:15] GeorgianaElena commented on #1439
@yuvipanda, according to the [cilogon docs here](https://www.cilogon.org/oidc#h.p_o9EnYR279ivp) and [here](https://www.cilogon.org/oidc#h.p_ABWOaEJR9iv2), I believe so. They mainly talk about the cilogon `sub` claim which is of the form `http://cilogon.org/serverA/users/<id>` as matching these criteria and since all the other parts are const (I think), then `id` must also match it.

[2022-06-28 14:23] consideRatio opened #1480 "Update cert-manager to modern version"
We use cert-manager 1.3.1 currently, but we should upgrade to a somewhat modern version to avoid getting issues with things. For example, note this comment from the 1.5.0 cert-manager changelog.

We upgraded things in mybinder.org-deploy, and the issue tracking that was https://github.com/jupyterhub/mybinder.org-deploy/issues/2183. Looking at the release notes from 1.3.1 upwards, is it sufficient

[2022-06-29 12:08] sgibson91 commented on #1418
@khider can you confirm if you would prefer CILogon authentication (username@institution.edu) or GitHub authentication please?

[2022-06-29 13:43] arnim commented on #1382
This is great news. Thank you @damianavila for helping with this 🎉

[2022-06-29 14:50] sgibson91 commented on #1381
I wasn't sure what the manifest URL for dask-gateway was and couldn't find an example in the docs, so I only updated cert-manager for now, but happy to do dask-gateway as well.

[2022-06-29 15:17] consideRatio commented on #1381
@sgibson91 I made a note in the changelog for 2022.4.0 when an update was needed: https://gateway.dask.org/changelog.html#breaking-changes

[2022-06-29 15:18] consideRatio commented on #1381
Feel free to ping me for review @sgibson91!

[2022-06-29 15:31] choldgraf opened #1485 "[New Hub] London Interdisciplinary School"
This is an issue to collect information and coordinate deploying a new hub! We should:

- [ ] Fill out the missing information below in collaboration with the Community Representative
- [ ] Assign an engineer to the hub and deploy it in the cloud

### Roles

- Hub shepherd: @choldgraf
- Hub engineer: `{{ @XXX }}`
- PR for deployment: `{{ XXX }}`

### About the community

**Community Representative

[2022-06-29 15:33] choldgraf commented on #1485
ping to @LaCrecerelle and @matthew-brett - we can use this hub to coordinate around the information needed to deploy the hub in your community. There are a number of missing fields above, could you take a quick look and help us fill in the missing information? When that's done, we can get started

[2022-06-29 17:00] khider commented on #1418
CILogon preferred

[2022-06-29 17:08] sgibson91 commented on #1418
Thanks! And what's the institution domain please? The institution.something part?

[2022-06-29 19:42] #1381 closed

[2022-06-29 19:52] sgibson91 commented on #1432
@betolink we are unfortunately blocked on deploying that particular UI until we migrate all our hubs to z2jh/JupyterHub 2.0, but we can set you up with some "good enough" profiles for now while we push the migration forward? Or would you prefer to stick with what you have until we've upgraded?

[2022-06-30 03:22] damianavila commented on #1485
One of the main pieces from the above list is the cloud provider where the cluster/hub will be deployed.

This is confusing to me... in fact, I think we prefer GCP deployments (although we are able to deploy in AWS and Azure as well). Can you clarify what you are trying to describe on that line, @choldgraf?

[2022-06-30 08:03] choldgraf commented on #1068
I'm going to close this one and say it was completed by merging the following PR:

- https://github.com/2i2c-org/team-compass/pull/422

We can continue to iterate on these team processes over time!

[2022-06-30 08:03] #1068 closed

[2022-06-30 08:50] choldgraf commented on #1485
Yep - if I recall @LaCrecerelle expressed concerns about Google privacy implications relative to the other two cloud providers.

The 2i2c team generally has a preference for Google Cloud as well, from an "ease of service and support" perspective - their Kubernetes service is just generally more stable and straightforward to maintain. But we'll defer to the community representatives on this one. Pe

[2022-06-30 09:30] sgibson91 commented on #1480
I needed to bump cert-manager in order to unblock #1476 (and the swathe of chart bumps that come with it). I went straight from 1.3.1 to 1.8.2 with no issues in commit [`2435282` (#1476)](https://github.com/2i2c-org/infrastructure/pull/1476/commits/2435282bb06a048ca66c4fdccc071d1925163666)

[2022-06-30 12:56] sgibson91 commented on #1418
The hubs are located at:

- https://staging.linkedearth.2i2c.cloud
- https://linkedearth.2i2c.cloud

[2022-06-30 18:45] khider commented on #1418
I can add it to the image, and since we're using the latest tag, it should pull automatically, correct? Which version should I use? It seems like I need to same as what's on the server according to: https://gateway.dask.org/install-user.html

[2022-06-30 18:51] sgibson91 commented on #1418
@khider, I need to know your `institution.domain`  (e.g. `berkeley.edu`) so I can add it to the CILogon config. At the minute, only folk with 2i2c.org Google accounts can log in.

I will find out what version of dask_gateway you need to install into your image

[2022-06-30 18:55] sgibson91 commented on #1418
Yes and no - it's generally not advised to use latest as it's not clear exactly how the infrastructure behaves. I think we could turn on continuous pre-pulling to reduce the chance of old images lying around, but you could end up with a node running the old image because it hasn't been told to pull a new one yet.

[2022-06-30 22:11] khider commented on #1418
I was advised to leave it at latest so we can update as needed. But I pushed a new container. Let me know if this solve the problem.

Re: logon. We will have people from multiple institutions, so not sure I can anticipate all the domains. I'm guessing this is why GitHub might work better unless we do something as generic as Google.

[2022-07-01 05:47] fperez commented on #1444
@jameshalgren I haven't seen (which doesn't mean they don't exist, obviously) examples of hubs tightly integrated with ODCs.  But from a quick look at the ODC setup, I see a key element of this is having an accessible Postrgres server to manage the actual data catalogs and serving.

Coincidentally, as part of the Jupyter Meets the Earth effort, with @consideRatio and @yuvipanda we're looking right

[2022-07-01 08:46] sgibson91 commented on #1480
I believe this was closed with the merge of #1491

[2022-07-01 08:46] #1480 closed

[2022-07-01 08:48] sgibson91 commented on #1418
Ok, please let me know which GitHub org you would like to use and I will work on switching the auth method over.

[2022-07-01 09:23] matthew-brett commented on #1485
Just for my reference - here is the relevant Berkeley data hub discussion page: https://docs.datahub.berkeley.edu/en/latest/admins/cluster-config.html

[2022-07-01 09:55] LaCrecerelle commented on #1485
Hi all - just to clear up any confusion - as long as data remains in the UK I'm happy to use whichever cloud provider that 2i2c & @matthew-brett think is best. Our direct relationship is with 2i2c and I'm super happy with your privacy and other terms, but as discussed on the phone with @choldgraf our data must remain UK bound.

My meaning of data, for avoidance of ambiguity, refers specifically to

[2022-07-01 09:59] matthew-brett commented on #1485
Thanks @LaCrecerelle - then my vote would be for GKE.

[2022-07-01 10:35] sgibson91 commented on #1485
From [this documentation](https://cloud.google.com/compute/docs/regions-zones), we would need to deploy into GCP zone `europe-west2` which is based in London and has 3 regions.

[2022-07-01 16:15] sgibson91 commented on #1418
Yes

[2022-07-01 17:38] CommonClimate commented on #1418
Hi! @khider will be on vacation next week so I'll try to fill in for her, with the caveat that I know precisely NOTHING about cloud things, but I am eager to learn!

[2022-07-01 17:39] sgibson91 commented on #1418
I am an vacation next week too, so you will be in the capable hands of @yuvipanda!

[2022-07-01 18:47] khider commented on #1418
So I tried to login with my GitHub but was never asked to add LinkedEarth as an org. So it went to the 403:Forbidden screen. Any way I can add it directly into my org settings?

[2022-07-02 20:40] sgibson91 commented on #1269
I worked from some examples in [GitHub's security blog](https://securitylab.github.com/research/github-actions-preventing-pwn-requests/) and the PR is now unblocked and ready for review 🙌🏻

* #1424

[2022-07-04 09:44] sgibson91 commented on #1418
@khider I suspect this is because you tried to login when we were using CILogon. I'd try clearing your browser cookies and/or logging in from a private/incognito browser. The docs I linked to above also contain information on how to resolve the 403 error

* https://infrastructure.2i2c.org/en/latest/howto/configure/auth-management.html#follow-up-github-organization-administrators-must-grant-access

[2022-07-04 11:23] GeorgianaElena commented on #1439
@byrcyb do you have any updates about the cloud provider preference? Thanks!

[2022-07-04 16:50] byrcyb commented on #1439
The person who's in charge of this is on vacation until Wednesday of this week. So, unfortunately, no new updates. I'll be in touch shortly once I hear anything.

[2022-07-04 23:31] damianavila commented on #1293
Going to close this one since it seems to be a non-issue by now, feel free to reopen it if you disagree.

[2022-07-04 23:31] #1293 closed

[2022-07-05 00:02] damianavila commented on #1474
The reversion was done, do we want to keep this open because of https://github.com/2i2c-org/docs/pull/149#pullrequestreview-1020670366 (team-compass references?). Otherwise, I would suggest closing it.

[2022-07-05 09:27] #1474 closed

[2022-07-05 13:48] GeorgianaElena commented on #1222
Since I'm currently blocked waiting for more info about the Callysto hub I spent a bit of today documenting about the upstream side of this task, i.e. implementing `refresh_user` in `oauthenticator`.

So, I was planning to self-assign this and come up with an initial implementation for the upstream issue or at least a plan to push this forward hopefully tomorrow.

### A short summary of the curren

[2022-07-05 18:26] choldgraf commented on #1300
Can somebody on the @2i2c-org/tech-team please answer @arokem's question above? cc @damianavila in case we need to track this one in our board.

[2022-07-05 18:27] yuvipanda commented on #1300
@arokem we can figure a way out to do that, but if it is on the hub home page, wouldn't it be publicly visible anyway?

[2022-07-05 18:27] arokem commented on #1300
Thanks for re-raising @choldgraf! And just to add that by "landing page" we don't necessarily mean that this has to be the page that users see when they first navigate to the website. This can also be a webpage that is displayed in some easy-to-find location within the jupyterlab interface. That is, it can be pulled from a repo in the same manner that we will want to pull down the curriculum mater

[2022-07-05 18:28] arokem commented on #1300
So, it's a page that users of the hub can see only after they've authenticated.

[2022-07-05 18:31] choldgraf commented on #1300
Since this needs to be accessible *after* a log-in, I wonder if we could use our "hosted documentation service" functionality for this?

https://docs.2i2c.org/en/latest/admin/howto/content.html#serve-static-web-content-with-your-hub

[2022-07-05 18:34] arokem commented on #1300
Yes. That looks right! Does the documentation in this case come from a repo that can be updated frequently into the static web page? Can that repo by private, and this webpage be behind the authentication? If the answers to these are all yes, then this would work well.

[2022-07-05 18:50] choldgraf commented on #1300
I'm not sure - but perhaps that's something worth exploring. I believe that @GeorgianaElena was the one that set up this functionality so maybe she could provide some guidance?

[2022-07-05 18:53] choldgraf opened #1500 "Make it possible to host *private* documentation via a hub"
### Context

Our [hosted documentation service](https://docs.2i2c.org/en/latest/admin/howto/content.html#serve-static-web-content-with-your-hub) describes how people can point the hub to a github repository branch with HTML files that it then serves as a service.

However, there are a few things unclear from the documentation:

1. Will the hosted documentation be hidden from users until after log-

[2022-07-05 19:49] yuvipanda commented on #1300
@choldgraf the hosted documentation functionality isn't behind auth.

[2022-07-05 20:28] choldgraf commented on #1300
Ah hmm, so then that wouldn't solve our problem either. Would it be possible to do this?

Alternatively: what is the best way to let a community representative provide private, authenticated, one-way, highly visible, regularly updatable content their users?

[2022-07-05 21:01] consideRatio commented on #1300
Note that there is a jupyterhub "announcement" feature available as well - could be relevant. I think that is post-login but im not sure.

[2022-07-05 21:13] damianavila commented on #1222
Thanks for taking the lead on this one, @GeorgianaElena!
The plan LGTM.

[2022-07-05 22:07] yuvipanda commented on #1300
@arokem @choldgraf nbgitpuller can support pulling from private repos! So we can do that?

[2022-07-05 22:29] yuvipanda commented on #1432
@betolink awesome! lmk once these are published and I can set these up

[2022-07-05 23:14] arokem commented on #1300
@yuvipanda : yes, I think that an nbgitpuller setup from a repo that just has a markdown file with the relevant links could work.

@consideRatio : can you point out documentation about the "announcement" feature? Could be useful for many other things, even if we end up with an nbgitpuller solution for the zoom link page.

[2022-07-05 23:52] yuvipanda commented on #1300
@arokem perfect - we can just set up nbgitpuller to have private repo access when we set up the hub, and that should take care of this.

[2022-07-06 00:54] yuvipanda commented on #1222
Thanks a lot for taking this on, @GeorgianaElena!

[2022-07-06 04:29] choldgraf commented on #1500
Is it possible for us to add a `start` script, similar to what we do in Binder? Then we could make a command run every time somebody's session starts, and this could pull down the latest version of content via `nbgitpuller` and display it or something.

The challenge I see with this approach is that the content will be attached to an event, and the organizers will want it to update quickly and som

[2022-07-06 05:37] yuvipanda commented on #1500
The 'right' way to do this is to use https://oauth2-proxy.github.io/oauth2-proxy/ and have that authenticate against the JupyterHub as a service. We need to do that properly once and then it can be reused elsewhere!

More specifically, we'll need to:

- [ ] Replace the current nginx server we use in docs-service with https://oauth2-proxy.github.io/oauth2-proxy/
   - [ ] Use it to serve static file

[2022-07-06 07:29] consideRatio opened #1501 "Consider use of JupyterHub's `announcement` template variable influencing default templates"
It could make sense to explore if/how the not well documented announcement feature of jupyterhub's html templates could be used to help hub champions communicate smaller messages, for example via the [JupyterHub Configurator](https://github.com/yuvipanda/jupyterhub-configurator) where they can configure some things for themselves.

These announcement snippets can be configured via `c.JupyterHub.te

[2022-07-06 07:38] consideRatio commented on #1300
@arokem I couldn't find documentation about it, but I opened https://github.com/2i2c-org/infrastructure/issues/1501 with regards to the idea of using JupyterHub announcements with notes about it. @2i2c-org/2i2c-team this issue could be used to consider if the idea of using `announcements` can be a sustainable feature to for other 2i2c hubs as well.

[2022-07-06 08:54] yuvipanda commented on #1500
Note that this now enables two new use cases:

1. Integrating as auth with *any* multi-user software (wordpress, discourse, drupal, etc) that supports OIDC as auth layer
2. Putting *any* piece of web app (doesn't need to have authentication itself) behind auth here. This is basically a different tack to the problem jupyter-server-proxy solved.

[2022-07-06 14:52] damianavila commented on #1500
This is great, @yuvipanda!!

[2022-07-06 23:04] yuvipanda commented on #1418
I've requested a quota increase from Google Cloud as well, so you can expand to more users when necessary. I've asked for 256 total CPUs and 64 total nodes.

[2022-07-07 08:24] GeorgianaElena commented on #328
This issue has become quite big, so I'm going to close it now since the monitoring infra is mostly in place and track the alerting part in different issues.

### Get context and track progress
The `Updates and ongoing work` section in the initial comment has info about what has been achieved and links to still opened issues. There's also a project board for this project here [Updates and ongoing w

[2022-07-07 08:24] #328 closed

[2022-07-07 12:16] consideRatio commented on #1296
With https://discourse.pangeo.io/t/access-dashboard-for-localcluster-on-pangeo-deployments/2171/10?u=consideratio and #1503 i conclude this can be closed as resolved.

[2022-07-07 12:16] #1296 closed

[2022-07-07 12:30] consideRatio commented on #927
@choldgraf I'm looking at https://2i2c.freshdesk.com/a/tickets/37 about following up who is the community representative for this hub. To your knowledge, is that decided? If so, I can resolve that ticket finally.

[2022-07-07 14:44] rcthomas commented on #1501
Hi!  I came across this while looking at the Hub issue tracker for a different reason.  But reading your considerations and some of the other issues I wondered if you'd seen/considered this Hub service I made a few years ago, and have been using in my deployment for alerting users to issues, maintenances, etc:  https://github.com/rcthomas/jupyterhub-announcement

To my surprise people besides myse

[2022-07-07 15:13] choldgraf commented on #1501
that is super cool @rcthomas ! One thought: you should post a screenshot of what the announcement looks like! I see screenshots of what the admin-facing UI looks like (which is nice!) but no idea of what the end result looks like!

[2022-07-07 18:08] betolink commented on #1432
Hi @yuvipanda!

The Python and R images are now available in Docker hub, if you don't mind setting them up in our [staging hub](https://staging.openscapes.2i2c.cloud/hub/) that would be great! Matlab will have to wait for now. Thanks a lot!

`openscapes/python`
`openscapes/rocker`

the latest tags are using the last commit hash and `main` (maybe we should change it for `latest`)

[2022-07-07 19:59] yuvipanda commented on #1432
@betolink awesome! I'll get to this soon.

[2022-07-07 20:45] damianavila commented on #328
Thank you for all the hard work you have done on this one, @GeorgianaElena!

[2022-07-07 21:08] damianavila commented on #1439
@byrcyb, do you have any updates?

Btw, can you confirm the "real" usage will start by the Fall term (by the end of August, am I correct)?
I am trying to get a better sense of the timeline so we can better accommodate (and secure) the technical resources to fulfill this new hub request in a timely manner.
Thanks!

[2022-07-07 21:23] damianavila opened #1505 "[New Hub] NeuroHackademy 2022"
### Hub Description

A general description of the hub requested lives here: https://github.com/2i2c-org/infrastructure/issues/1300#issue-1232600616

### Community Representative(s)

@arokem

### Important dates

- **Target start date**: July 15th
- **Required start date**: July 22th
- **Any important dates for usage**:
  - Event begin: July 25th
  - Event end: August 5th

### Hub Authentication Ty

[2022-07-07 21:28] damianavila commented on #1505
Event issue ref: https://github.com/2i2c-org/infrastructure/issues/1300

[2022-07-07 21:33] damianavila commented on #1505
@arokem, do you have any preference for the name of the hub? Any logo image link that you want to share with us?

[2022-07-07 21:35] damianavila commented on #1505
@GeorgianaElena is going to lead on this deployment with @yuvipanda as a helper resource (in fact he is already helping/building new functionality for this one with https://github.com/2i2c-org/infrastructure/pull/1502)!

[2022-07-07 21:37] damianavila commented on #1300
A new hub dedicated issue for this event was opened here: https://github.com/2i2c-org/infrastructure/issues/1505

[2022-07-07 21:51] jmunroe commented on #1444
Assuming the National Water Model will be a key dataset used by this hub, I'll note a few other links

- About the [The National Water Model](https://water.noaa.gov/about/nwm) from the Office of Water Prediction
  - Includes links to HTTP and FTP sites of the last two days output of the NWM.
- Amazon Web Services (AWS) Open Data Sponsorship Program Datasets:
  - [NOAA National Water Model CONUS Re

[2022-07-08 03:22] arokem commented on #1505
Hey @damianavila - thanks for kicking this off. And hello @GeorgianaElena : excited to work with you on this! And always glad to have @yuvipanda on board!

If neurohackademy.2i2c.cloud works as a name for the hub (is that what you meant?) that would be great.

Here is the logo we use for our Slack/etc:

![image](https://user-images.githubusercontent.com/118582/177910655-a2403aeb-9c08-44fd-94a8-543

[2022-07-08 07:37] choldgraf commented on #1438
A quick thought from me, I think that we should put the "how to log in / use / etc" information in a different place than https://infrastructure.2i2c.org/en/latest/howto/operate/grafana.html . The information on that page is very engineering-heavy, and talks about things like Kubernetes, Helm Charts, etc. We want the documentation about how to use and understand this Grafana to be discoverable for

[2022-07-08 12:49] GeorgianaElena commented on #1505
Hey @arokem! I just did an initial deployment of the hub at https://neurohackademy.2i2c.cloud (PR here https://github.com/2i2c-org/infrastructure/pull/1507) 🚀

## Initial setup of the hub
Right now the neurohackademy:
- uses CILogon for authentication and only allows and shows GitHub identity provider as an option
- hub admins are 2i2c folks + @arokem
- user image is currently the default 2i2c one

[2022-07-08 15:32] colliand commented on #1444
Thanks @jmunroe! I'll add @jameshalgren here in case he can share any other input on important data sets for the emerging CIROH community.

[2022-07-08 15:37] colliand commented on #1439
Thanks @beakkay! 2i2c regularly launches hub service on Google cloud so a review engagement with our engineering team will not be required on our side. We will just need access to the account to set up the hub infrastructure. This [page in our documentation provides insights into cloud cost forecasting](https://docs.2i2c.org/en/latest/about/sustainability/costs/cloud.html). Callysto collaborator @

[2022-07-08 22:33] jameshalgren commented on #1444
Thanks @colliand and @jmunroe. I've jotted down a few thoughts/responses to launch the weekend:

It will be __the__ key dataset used in this hub, together with observation data initially from USGS, but from any valid source.

I think it is [http](https://nomads.ncep.noaa.gov/pub/data/nccf/com/nwm/prod/) only at this point. There are ftp-versions using the LDM protocol for direct sharing of data be

[2022-07-09 15:44] rcthomas commented on #1501
D'oh that would make sense wouldn't it @choldgraf?  I've put that on the README fix-up list and I'll add that.

But the spoiler is that if you follow the example in the README and just extend the default JupyterHub templates it'll end up looking like the banner @consideRatio showed at the top of the issue here.

I think the appearance is OK but it seems at odds with the default JupyterHub style.

[2022-07-09 21:15] arokem commented on #1505
Hello!

Looks great! How do we add multiple new users to the hub? Can we manage a user-list somewhere on github? This could even be a public page -- something like [this](https://github.com/neurohackademy/nh2021-jupyterhub/blob/main/deployments/hub-neurohackademy-org/config/common.yaml#L11-L22)

Confirmed!

Sorry about this, but could we change the logo image to this instead?

<img width="545" alt

[2022-07-09 21:19] yuvipanda commented on #1505
@GeorgianaElena may I suggest using GitHub authentication + a GitHub org for authentication rather than using GitHub via CILogon? That should make maintaining a list of allowed users easier. I think we should default to this for workshop and research hubs, reserving CILogon for educational hubs.

[2022-07-10 15:11] consideRatio commented on #1505
I don't remember, but I'll confabulate that it could have been because we wishes for it to be mostly like pange/pangeo-notebook was, and then just add a few things to that.

[2022-07-11 11:01] GeorgianaElena commented on #1505
@yuvipanda, actually @arokem's answer from a previous issue was why this is not using GitHub org based authentication -> [*"We'd actually rather not do that and use individual GitHub user-names instead, if that's OK.*"](https://github.com/2i2c-org/infrastructure/issues/1300#issuecomment-1128126597)

@arokem, you can manually add users from the admin panel (multiple users at once too). There are do

[2022-07-11 13:14] GeorgianaElena commented on #1505
I've updated the hub at https://neurohackademy.2i2c.cloud with latest logo image and funding info.

So I believe that the next steps need your input @arokem:

- [ ] 1. Decide whether or not to use GitHub organization or GitHub teams membership to authorize users
- [ ] 2. Create a new repository for this hub's user-image using the [template repo](https://github.com/2i2c-org/hub-user-image-template/

[2022-07-11 14:07] GeorgianaElena opened #1510 "2i2c datasource showing up twice in central grafana"
We currently use the script at https://github.com/2i2c-org/infrastructure/blob/master/deployer/commands/grafana/central_grafana.py to add all the (authenticated) prometheus servers as datasources of the central grafana.

However, since the central Grafana is actually the 2i2c grafana, its default datasource is set through the config at https://github.com/2i2c-org/infrastructure/blob/7a1e75a1b8bb72

[2022-07-11 15:45] TomNicholas opened #1511 "git permission denied when using gh-scoped-creds to push from hub to repo"
### Context

Hi, I'm trying to push some notebooks from the leap hub to a [repo](https://github.com/TomNicholas/hero-calc/tree/main), but getting git permission denied errors.

I followed [these instructions](https://docs.2i2c.org/en/latest/user/storage.html#using-git-github), which told me to run `gh-scoped-creds` in a terminal on the hub (fine) and follow the prompts. This is what happened:

[co

[2022-07-11 16:16] yuvipanda commented on #1511
@TomNicholas assuming this is the LEAP hub, you need to go to https://github.com/apps/leap-hub-push-access and 'install' it on the github repos you want to push to. gh-scoped-creds should've given you that link when you tried to authenticate - maybe the leap hub is using an older version?

[2022-07-11 19:37] damianavila commented on #1505
Using #1502 instead of what is currently described in the docs. I am sure you already know that @GeorgianaElena, just clarifying for other readers 😉.

[2022-07-11 21:12] rabernat commented on #1511
FYI I got it working following these instructions.

I think one challenge here is that this was an org repo and not all org members have the rights to install the app for the org.

[2022-07-11 22:00] yuvipanda commented on #1511
Right, I think that's part of the security process I think - so org admins have visibility into which remote systems (like this hub) can push there. In these cases, I'd suggest pushing to a fork and then merging into the upstream repo if pushing directly isn't an option.

[2022-07-11 22:52] khider commented on #1418
Sorry all, was taking some time off.

I was able to logon but I was never asked to allow LinkedEarth as an org. I'll try to add other people in the org that have the same level of power over authenticating.

On another note, I'm getting the following:

<img width="1281" alt="image" src="https://user-images.githubusercontent.com/11758571/178371940-16ba9b98-57b7-4da9-b5c7-9a34bb91ab06.png">

[2022-07-12 03:35] arokem commented on #1505
Let's not. I can add them through the hub admin panel.

Done! https://github.com/neurohackademy/hub-image-2022

OK. I will if I spot anything, but it looks good for now.

I have created a repo at https://github.com/neurohackademy/zoom2022. The file to render is https://github.com/neurohackademy/zoom2022/blob/index/index.html

[2022-07-12 11:18] GeorgianaElena commented on #1505
Yay! Thanks for all this work @arokem ✨

There is one more small step to be taken for in order to host the zoom links repo, which is to [grant access to the 2i2c github app that will read the content in the private repo that you just setup](https://infrastructure.2i2c.org/en/latest/howto/features/static-sites.html?highlight=static#grant-access-to-the-private-repo) by installing the https://github.

[2022-07-12 17:07] colliand opened #1515 "[New Hub] OceanHackWeek 2022"
### Hub Description

OceanHackWeek 2022 will take place August 15-19. This event is under the umbrella of eScience Institute.

### Community Representative(s)

- @paigem
- @ocefpaf
- @abkfenris

### Important dates

- **Target start date**:  July 25th, 2022
- **Required start date**:  August 1, 2022
- **Any important dates for usage**: August 8-26, 2022

### Hub Authentication Type

GitHub Authent

[2022-07-12 17:11] colliand commented on #1515
An email  was sent to hello@2i2c.org by Alex Kerney today. I've transcribed some of the content into the hub request fields above. Further details need to be processed. I invite 2i2c Engineering Team to consider the questions posed below.

---

Hi 2i2c,

We’re getting ready for OceanHackWeek 2022, so we thought it might be time to start talking about getting our hub up to speed.

The event is Augu

[2022-07-12 18:25] colliand opened #1516 "[New Hub] COESSING Pangeo-Style Hub"
### Hub Description

This is a request for a new hub to support the  upcoming [Coastal Environment Summer School in Ghana](https://coessing.org/). The school runs August 1-5, 2022 so this is a hot request. 2i2c supported last year's version of this event. The 2022 edition will take place in Nigeria. This summer school is scoped under the Columbia Moore grant led by @rabernat.

### Community Repres

[2022-07-12 21:07] paigem commented on #1516
**Repository for user image:** https://github.com/coessing/coessing2022-hub (empty for now, but will be populated over the next couple weeks)
**URL to Hub image:** https://coessing.org/2022-school-in-nigeria/#jp-carousel-510

[2022-07-12 23:59] damianavila commented on #1382
@arnim, how does your calendar looks-like for a meeting next week? I can send a when2meet link for next week if you are available. 2i2c eng resources should be available to meet next week as well.

[2022-07-13 00:09] arnim commented on #1382
Do you have a preferred day? Usually around this time would work for me well :)

[2022-07-13 00:21] arnim commented on #1382
@damianavila Typically somewhere between 12:00 UTC and 23:59 UTC should work

[2022-07-13 02:03] khider commented on #1418
Also, I'm able to login but not anyone from the GitHub organization. I was never asked to authenticate the app and it doesn't show on my GitHub apps page. Any advice on adding it manually?

[2022-07-13 03:18] arokem commented on #1505
I believe I just did that!

It's on `master`

Sounds good!

[2022-07-13 07:07] GeorgianaElena opened #1517 "Static web content URLs behave differently with trailing slash or not `/`"
The static web content is available at https://staging.2i2c.cloud/textbook/ but not at https://staging.2i2c.cloud/textbook (note the missing trailing slash)

I would have expected a redirect from https://staging.2i2c.cloud/textbook to https://staging.2i2c.cloud/textbook/ and then see the content.

Maybe something is missing from the nginx config?

[2022-07-13 08:57] GeorgianaElena commented on #1505
Thanks @arokem! ✨ I just deployed the latest changes and the hub is running at https://neurohackademy.2i2c.cloud/hub/login 🚀  Also, the zoom links from the private repo are available at https://neurohackademy.2i2c.cloud/zoom/

Please check it out and let me know if you can login ok and have access to the admin panel and if everything works as expected

[2022-07-13 13:27] matthew-brett commented on #1485
What is the best way to fill in the information above?   Via copy-past into new cells here?

@LaCrecerelle - do we have a LIS Github organization?   Would you like to be an admin on https://github.com/lisds - that's what I am using for my textbook.  I can make a matching dockerhub account - unless we already have something?   Do we have some logo URLs to use here?

I suggest we go for a start date

[2022-07-13 13:27] matthew-brett commented on #1485
Can I ask about the implications of "Scalable Dask Gateway Cluster" vs the standard cluster?

[2022-07-13 14:26] arokem commented on #1505
Thank you! Yes: I can login, though it's still going through CILLogin and I have access to the admin panel.

Questions:

- How often does the static webpage at https://neurohackademy.2i2c.cloud/zoom/ update, or how soon after a push to the `master` branch on the designated repo? I pushed a change about 10 minutes ago and not seeing it propagate yet.
- Could you please set this to the "lab" view pe

[2022-07-13 15:34] consideRatio commented on #1505
@arokem I think you can get this very conveniently out of the box in a 2i2c provided hub. There will be a `shared` folder available to everyone mounted in a readonly state, and then a `shared-readwrite` folder - the same folder as `shared` - that only jupyterhub admins will be able to see that they can use to also write data to.

I did some work to optimize performance of that data, making it copi

[2022-07-13 18:37] GeorgianaElena commented on #1505
I think there was a small bug with the sync. Should be fixed now. @arokem, can you confirm that you can now see the changes?

[2022-07-13 18:59] arokem commented on #1505
And thanks @consideRatio for pointing out the `shared` and `shared-readwrite` folders. That should do the job.

[2022-07-13 20:53] arokem commented on #1505
The configurator doesn't seem to be working for us. I did as instructed above, and I even see this when I return to the configurator page:

<img width="1312" alt="Screen Shot 2022-07-13 at 1 52 11 PM" src="https://user-images.githubusercontent.com/118582/178832284-a88e74d4-1d1e-4af4-85c2-f2f58da557c4.png">

But I still see the "tree" view when returning to my server, even after logging in and out

[2022-07-13 21:19] consideRatio commented on #1505
@arokem / @yuvipanda could this be a configurator-bug? Does it need the image set as well?

[2022-07-13 22:06] damianavila commented on #1382
OK, I have create a when2meet event so we can find a slot that works for everyone involved in this conversation: https://www.when2meet.com/?16135851-mYuiB

@consideRatio @yuvipanda @sgibson91, I would appreciate it if you can join this meeting. Please check the link and drop your availability. Thanks!

[2022-07-13 22:10] damianavila commented on #1418
@khider, did you follow the advice from Sarah on this message: https://github.com/2i2c-org/infrastructure/issues/1418#issuecomment-1173598394?

@sgibson91, do you have any further thoughts besides the instructions you shared before?

[2022-07-13 22:10] damianavila commented on #1517
cc @yuvipanda

[2022-07-13 22:26] yuvipanda commented on #1517
Fixed in #1520 :)

[2022-07-13 22:36] arokem commented on #1505
How long should it take between an update to the `main` branch of the hub image repo (https://github.com/neurohackademy/hub-image-2022) and until I can start using the new image specifications? I pushed a change more than 30 minutes ago, and I can see that the change was also pushed to quay, but still not seeing the software dependencies added in the hub (i.e., getting import errors for things lik

[2022-07-13 22:46] colliand commented on #1485
Hi @matthew-brett! The scalable cluster is described here: https://docs.2i2c.org/en/latest/about/distributions/research.html

Based on your anticipated usage, I suggest you launch the service without Dask.

[2022-07-13 23:44] khider commented on #1418
Yes. And that solved the issue for me. I was able to access it. But I can't add anyone else, they get a 403 permission error as well.

[2022-07-14 00:44] consideRatio commented on #1505
@arokem there is no longer automation regarding updating the hub to use the new image - it was coupled to a redeployment of the helm chart that isn't done as part of building the image any more. So, after the image is built you need to visit /services/configurator/ again and write in your new image name:tag.

If you declare that the "latest" tag should be used, you can avoid this - the downside is

[2022-07-14 02:44] arokem commented on #1505
Looks like I broke it :-/

I tried to enter `arokem/nh-jhub-2022:latest` in there, which I think made it look for `docker.io/arokem/nh-jhub-2022:latest`, which doesn't exist and now the thing is stuck in `Error: ImagePullBackOff`.

I did try to change that to `quay.io/arokem/nh-jhub-2022:latest` (is that the correct format for this? And yes, quay.io does have a `latest` tag:  https://quay.io/repos

[2022-07-14 02:53] arokem commented on #1505
Sorry! Looks like I spoke too soon. After finally timing out, I was given the option to relaunch the server and that seems to have done the trick. It found the right image/tag and launched successfully. So, I am back on track setting things up in terms of software/environment.

[2022-07-14 09:17] matthew-brett commented on #1485
@colliand - so - if I understand correctly - the scalable cluster is the addition of a second cluster, in addition to the normal also-scalable JupyterHub user cluster, on which the user pods can execute dask-zarr jobs?

[2022-07-14 09:58] GeorgianaElena commented on #1505
I don't think it's configurator's fault. I can see in the logs that the correct interface is being set on the spawner (plus, I've made `/lab` the default anyway).

After investigating this morning and not finding anything obviously wrong, I remembered that we recently bumped `z2jh` and that required us to bump the `jupyterhub` version in the user images too otherwise, [@yuvipanda noticed that the

[2022-07-14 13:13] matthew-brett commented on #1485
Right - but am I right that the difference is that the "scalable cluster" is the addition of an extra vertically scalable cluster, that users can tap into if they need?  So I guess that can be added later, with the associated cost?

[2022-07-14 13:21] sgibson91 commented on #1485
Not quite. It's a different helm chart - so we would have to tear down and redeploy.

[2022-07-14 13:44] GeorgianaElena commented on #1438
Actually, thinking about it now, how about instead we create these docs upstream, in `jupyterhub/grafana-dashboards` and reference it from 2i2c?

[2022-07-14 15:30] #1517 closed

[2022-07-14 16:17] sgibson91 commented on #1269
Reopening this until it is documented as suggested in https://github.com/2i2c-org/infrastructure/pull/1424#pullrequestreview-1035871194

[2022-07-14 16:36] sgibson91 commented on #1516
@paigem We still have your image from last year if it would be useful to reuse/build off of that? https://github.com/2i2c-org/coessing-image

[2022-07-14 17:37] abkfenris commented on #1515
I was reminded that our undergraduate program starts a week earlier and goes a week later, so the event is longer (August 8-26), though that is going to be about a tenth of the users as we will have from 15-19 for the HackWeek itself.

[2022-07-14 17:42] damianavila commented on #1485
That will work, I can update the first post with the answers you provide on the full thread.

It depends. If there is no migration of users' content, then it should be a short downtime that we would need to coordinate. If we need to migrate users' content, then it could take more time depending on the amount of users' content.

There is more information about the migration process in case you are

[2022-07-14 18:31] damianavila commented on #1485
An additional point from the linked documentation:

[2022-07-14 18:36] betolink commented on #1432
our matlab image is now available at `openscapes/matlab`, when you have time to get to this we'd like to include it in the profile as well.

[2022-07-14 19:30] damianavila commented on #1516
@yuvipanda is colocated with @paigem at SciPy so he is going to work with her on this one!
I added @GeorgianaElena as a secondary helper in case additional help is needed.

[2022-07-14 22:23] yuvipanda commented on #1432
Great! I've it working looking like this:

<img width="601" alt="image" src="https://user-images.githubusercontent.com/30430/179098429-8d084357-b90a-46df-ba95-5db7a25da958.png">

Will get it setup shortly, am a little busy at SciPy.

[2022-07-14 23:09] jules32 commented on #1432
Hi @yuvipanda this is awesome, and thanks for thinking about it in between SciPy!

Would it be possible to re-name the "Rocker" one to R? On our side, we named it "Rocker" because Docker wouldn't allow a single letter ("R"). Not sure that's a constraint here (and I realize it's an extra step to rename it here), but just thinking that many R users likely won't understand "Rocker" to mean R

[2022-07-14 23:35] yuvipanda commented on #1432
@jules32 absolutely, no problem. Would you want the R one to start on RStudio by default or JupyterLab?

[2022-07-14 23:37] yuvipanda commented on #1432
Can also have the matlab variant start in matlab.

[2022-07-14 23:46] yuvipanda commented on #1432
<img width="812" alt="image" src="https://user-images.githubusercontent.com/30430/179119345-148b640e-c9a8-4086-8e6a-ce925ebb2fcb.png">

[2022-07-14 23:50] yuvipanda commented on #1432
Unfortunately whenever you update the docker image, you've to make a PR to this repo updating the tags here: https://github.com/2i2c-org/infrastructure/pull/1524/files#diff-3e6a6aaa229aa8ec507fc308feb5b502a0683705283d6c0497e3d991339f6a0fR80. The configurator doesn't support profiles yet :(

[2022-07-15 02:46] jules32 commented on #1432
Thanks @yuvipanda ! Let's have R start in RStudio, thanks.

Is the PR for tags because of this rename to "R" from "Rocker"? I think @betolink was expecting a PR but wanted to confirm it's the same

[2022-07-15 04:26] arokem commented on #1505
I am now getting a 403 error for the zoom webpage:

<img width="1392" alt="Screen Shot 2022-07-14 at 9 25 22 PM" src="https://user-images.githubusercontent.com/118582/179150229-be4092e1-baf8-410b-a82a-8b344883992e.png">

Did something change?

[2022-07-15 05:56] yuvipanda commented on #1432
It isn't because of the name change. The configurator ui just doesn't support profiles yet, so the PR is unfortunately necessary until that is added.

[2022-07-15 09:16] sgibson91 commented on #1432
@yuvipanda I can setup the bump-jhub-image-action to automatically open the PRs for these

[2022-07-15 12:51] GeorgianaElena commented on #1505
@arokem, the 403 should be fixed now. I also noticed that the redirect to `/lab` also works now, yay 🚀

Is there anything else I could help with on the hub env side of things? Please let me know if I missed anything ✨

[2022-07-15 16:51] rabernat opened #1529 "Enable Coiled Analytics for Dask Gateway clusters"
### Context

We are using Dask heavily but don't have a lot of visibility into how exactly the clusters are being used. I'm sitting with @mrocklin at SciPy, and he just told me about [Coiled Analytics](https://docs.coiled.io/user_guide/analytics.html):

This would be super useful to all of the 2i2c hubs that run Dask and Dask Gateway

### Proposal

We configure our Dask Gateway clusters to report

[2022-07-15 18:21] khider commented on #1418
Do I need to publicly list the members? I assume I can do that an as owner or is it locked to a user's preference?

[2022-07-15 19:10] sgibson91 commented on #1418
@khider I changed the scope so it should work without people listing their membership publicly now. But each person would have to change it on their own profile, you wouldn't be able to do it for them.

[2022-07-15 19:18] khider commented on #1418
Thanks! Was able to get people to log in.

[2022-07-15 22:39] yuvipanda commented on #1432
@sgibson91 perfect!

[2022-07-15 23:02] damianavila commented on #1515
Yes, we can support that.

Yes, that is possible.

Can you be more specific with this question?
The image you are launching should be compatible with Dask Gateway to be able to use it, so it would work on the python image (modulo dask and dask-gateway are installed), but not with the R image, AFAIK. @consideRatio might have more details about this topic.

The configurator does not work with profil

[2022-07-15 23:18] damianavila commented on #1515
If you are planning to use Dask capabilities, this one should be a daskhub from the very beginning.

So, you are OK with decommissioning that hub and creating a new one for the event? You are no longer using that hub?

I presume you are OK about having the hub in a shared cluster (the existing one lives in the 2i2c shared cluster, for instance)?

If that is the case we may tweak the existing hub i

[2022-07-15 23:20] arokem commented on #1505
No - looks like smooth sailing from here on out! Thank you! I'll plan to start adding participants early next week, so they can start taking a look around.

[2022-07-15 23:34] damianavila commented on #1444
A few questions for all of you 😉

OK, so starting with the pangeo-notebook image is enough to start with, I presume. Can you confirm?

IIRC, @yuvipanda set up this feature for the Jack Eddy symposium.

Are we talking about a dedicated cluster here? Or are you OK with the hub being deployed in a shared cluster?
(@colliand do you have any more information about this aspect from the lead process? Tha

[2022-07-16 07:44] consideRatio commented on #1515
They are unrelated to what workers you can create via dask gateway. The image used by workers will be the same as the one started via the profile in case different profiles has different images.

The scheduler pods cpu/memory is hardcoded in size/capacity atm so something quite significant to avoid running out of memory.

[2022-07-16 13:43] consideRatio opened #1530 "Avoid overriding all other environment variables in pods with AWS GPUs"
I think all user pods with GPUs started by an AWS based hub will get its other environment variables scrapped by a `kubespawner_overrides` configuration.

https://github.com/2i2c-org/infrastructure/blame/a1dc1184249c033f9834f33c6242476e425a0173/docs/howto/features/gpu.md#L77-L98

It seems fine to set that in `singleuser.extraEnv` no matter what, at least in AWS based hubs, based on experience with

[2022-07-18 08:52] #1505 closed

[2022-07-18 09:00] GeorgianaElena opened #1532 "Pre-warm the neurohackademy hub"
We should pre-warm the neurohackademy hub before the start of the event on July 25th.

### Checklist before the event:
- [x] create a separate nodepool only for this hub to use https://github.com/2i2c-org/infrastructure/pull/1554
- [x] decide upon the minimum nodes it should have
- [x] decide when to do the actual pre-warm (Friday/over the weekend/Monday morning)
- [x] decide if we should keep it

[2022-07-18 09:15] sgibson91 commented on #1515
I actually don't know for certain. But I expect membership of subteams is inherited, so all subteams of a team listed in `allowed_organizations` would be granted access. We could try it and see?

[2022-07-18 11:35] consideRatio commented on #927
Now that there is a community rep defined, this issue can be considered resolved.

There is an action point not resolved, but that is covered by another issue:

---

For reference, this is the response from Jim on Slack: https://2i2c.slack.com/archives/C028WU9PFBN/p1657296960339779

[2022-07-18 11:35] #927 closed

[2022-07-18 11:55] consideRatio opened #1534 "Intermittently unresponsive user server timeout issue - not yet understood"
## Background

@rabernat reported the following in [a freshdesk ticket](https://2i2c.freshdesk.com/a/tickets/153):

## Logs

### Logs from user server

[code]

### Logs from proxy pod

The [CHP](https://github.com/jupyterhub/configurable-http-proxy) running in the `proxy` pod, and proxies all traffic to the user server, did not restart during this time or show errors or warnings, and also no chang

[2022-07-18 14:34] jmunroe commented on #1529
I'm aware of users who have asked for this level of transparency on costs. I agree it is worthy the time to explore it.

[2022-07-18 15:54] byrcyb commented on #1439
@damianavila in terms of "real" usage, yes, Fall term is what we are aiming for but end of September is more the target date than end of August.

[2022-07-18 16:00] abkfenris commented on #1515
Fantastic.

I wanted to make sure that the dask workers would use the same image as the profile.

Great. I think our R users would like us more if we send them directly into RStudio. I'm still not sure why....

Ok.

I believe we are ok with decommissioning it. After each event we tell people that they are welcome to keep using it until the funding runs out and we have to shut it down (a different

[2022-07-18 22:16] paigem commented on #1516
The Hub has been set up thanks to the amazing @yuvipanda! 🙏

@yuvipanda I confirmed that we *do* need a Julia kernel. Let me know if you need any more info to set one up.

[2022-07-18 22:57] paigem commented on #1516
I am getting an error when adding any new users:
<img width="759" alt="image" src="https://user-images.githubusercontent.com/26591824/179630682-12f9d396-fa53-4e1f-922b-ccb5dd9584ad.png">

Looks like I am set up as an admin already - have I missed a step in the setup? @yuvipanda @GeorgianaElena

[2022-07-18 23:13] yuvipanda commented on #1516
@paigem ah, interesting. let me look.

I'll add Julia to the image over the next few days.

[2022-07-18 23:14] yuvipanda commented on #1516
Hmm, so looking at the hub logs when trying to add users, i see:

[code]

[2022-07-18 23:30] paigem commented on #1516
I am copying and pasting Google email addresses into the "Add Users" box when I click the "Add Users" button from the admin control panel. Is there something I'm missing?

I've tried numerous different email addresses, and all of them seem to fail...

[2022-07-18 23:41] yuvipanda commented on #1516
@paigem unfortunately this looks like a JupyterHub bug - https://github.com/jupyterhub/jupyterhub/issues/3983. I'm working on resolving it, will keep you posted.

[2022-07-19 00:05] damianavila opened #1536 "Automatically run script to clone a git repo on user server startup"
### Context

This is a requirement for the upcoming event #1300.

In https://2i2c.freshdesk.com/a/tickets/155, Ariel Rokem asks that the hub is configured in a way so that user pods starting will automatically run a script doing a certain thing - namely using gitpuller CLI from nbgitpuller python package to clone a fresh repo into a folder.
It may merit some discussion on how to do that technicall

[2022-07-19 00:42] consideRatio commented on #1536
The approach of using a postStart lifecycle hook is a bit problematic and I wanted to highlight that so it doesn't come as a surprise later.

If a [k8s `postStart` lifecycle hook](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/) fail, it means pod startup will be considered failed. So, if the script does something like accessing a github repo, and github is intermittently

[2022-07-19 01:30] yuvipanda commented on #1516
I've fixed up the issue! PR coming up soon. Me and @paigem added the users who needed to be admin, and they were accepted.

[2022-07-19 03:43] damianavila commented on #1532
That sounds OK to me.

[2022-07-19 04:02] damianavila commented on #1536
So... more in favor of the `singleuser.extraFiles` option...

[2022-07-19 04:04] damianavila commented on #1536
cc @GeorgianaElena, I would be she will be interested because she deployed this hub in https://github.com/2i2c-org/infrastructure/pull/1507.

[2022-07-19 08:49] GeorgianaElena commented on #1536
I believe the `singleuser.extraFiles` is just an alternative to make the script available in the singleuser pod rather than an alternative on how to run it.

I have two questions that will help me better understand things. @consideRatio, maybe you can help me? ✨

1. This script should do the same thing nbigitpuller does, but automatically, without the users clicking any ngbitpuller links? If so, d

[2022-07-19 09:22] sgibson91 commented on #1444
This sounds like we should create a new billing account and not just use the two-eye-two-see one, no?

[2022-07-19 11:53] consideRatio commented on #1536
Yes 100%, this is a matter of both providing the relevant logic to execute, and having a way to execute it!

---

Yepp, options could be to ask users to click the nbgitpuller-link and/or to run a command in the terminal whenever they wanted it updated.

Here are options I think all are reasonable:

1. We provide script files via singleuser.extraFiles, and **we configure** a `postStart` hook to run

[2022-07-19 14:55] arnim commented on #1382
@damianavila Should we say **Thursday, 21th July, 2022 at 17:15 UTC** (or [your timezone](https://arewemeetingyet.com/UTC/2022-07-21/17:15/Dynamic-Image-Building))?

Video - Jitsi: https://meet.jit.si/DynamicImageBuilding

[2022-07-19 15:12] colliand opened #1546 "[New Hub] Project Victor"
### Hub Description

This issue gathers information to create a **DaskHub** for Project Victor. This Project will assemble a community of researchers focused on volcanology.

### Community Representative(s)

@einatlev-ldeo
Others?

### Important dates

- **Target start date**:  ~2022-08-23~ TBD
- **Required start date**:  ~2022-09-15~ TBD
- **Any important dates for usage**:

The project timeline

[2022-07-19 15:23] damianavila commented on #1382
@armin, I was finalizing the survey of availability and I was going to propose **Wed 20th at 17 UTC**, instead.
Can you make it?
Btw, I can offer a 2i2c zoom room in the invite I am going to send if Zoom is OK for you.

[2022-07-19 15:28] damianavila commented on #1382
Can you tell me the email to use in the invite? I will post the details here as well in case you do not want to share your email here.

[2022-07-19 15:29] arnim commented on #1382
arnim dot bleier at gmail ...

[2022-07-19 15:32] jmunroe opened #1547 "Hyperlink to demo.2i2c.cloud incorrect"
### Context

In our docs outlining the "List of running of hubs", we reference the url of our demo as "demo.pilot.2i2c.org" in a Note. Need to update that to be demo.2i2.cloud

### Proposal

_No response_

### Updates and actions

_No response_

[2022-07-19 15:35] damianavila commented on #1382
Thank you (some people use dedicated calendars for meeting invites, this is why I explicitly asked).
Invitation sent! cc @2i2c-org/tech-team

[2022-07-19 15:48] damianavila commented on #1382
Details.
When: **Wed 20th 17 UTC**
Where: **2i2c zoom room**
Agenda (dropping some points that we can change if we want/need to):
  1. Quick presentation
  2. State of the problem
  3. Exploration/design phase
  4. Implementation
  5. Provision
  6. Status updates

[2022-07-19 16:24] #1547 closed

[2022-07-19 18:01] arnim commented on #1382
Can we send @MridulS an invite in case he wants to join?

[2022-07-19 18:42] yuvipanda commented on #1536
How about we make the defaultUrl be a pointer to the nbgitpuller URL? That way, users can login to the hub and it'll treat them exactly like they clicked the nbgitpuller url

[2022-07-19 18:44] yuvipanda commented on #1536
And if there is a GitHub failure or anything, it just shows the nbgitpuller error page with useful info. They can also click out to go to lab / notebook

[2022-07-19 20:07] jameshalgren commented on #1444
Link to that hub for reference?

[2022-07-19 22:16] jameshalgren commented on #1444
@whitelightning450, @hellkite500, @aaraney, @karnesh, @mgdenno -- have been meaning to loop you in here so you can follow the development here.

@quebbs -- hello! -- tagging you ahead of upcoming discussion. This may be a tool to put to use.

[2022-07-19 23:59] damianavila commented on #1382
Sure, @MridulS do you have any email preference for the invite?

[2022-07-20 00:10] damianavila commented on #1536
What about running a [Jupyter Docker Stack start-up hook](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/common.html#startup-hooks) if we want to automate this one?
This option would avoid the pod post-start hook and keep this customization in the userland.

[2022-07-20 00:20] MridulS commented on #1382
seth dot mridul [at] gmail dot com

[2022-07-20 00:23] damianavila commented on #1418
Given the last message from @khider, I consider this one ready to be closed.
Thanks @sgibson91 for leading this effort.

If you have any other issues, @khider, feel free to reach out to the support email.

[2022-07-20 00:23] #1418 closed

[2022-07-20 00:49] damianavila commented on #1382
Invitation sent!

[2022-07-20 09:09] choldgraf opened #1549 "User welcome or landing pages"
### Context

There are many cases where a community wants to have a central place to provide information, updates, links, etc to their users. For example:

- Workshops might want to provide updated schedules or links to zoom rooms
- Persistent groups might want to provide announcements and information about upcoming changes or dates
- Communities might want a more configurable / user-friendly plac

[2022-07-20 10:37] sgibson91 commented on #1444
Ok, I have created a new GCP account to deploy this into. I have connected the 2i2c billing account for now, and we can decide to change that later if needed.

[2022-07-20 13:02] sgibson91 commented on #1444
Can we be a bit more specific about this please? The NWM data is multi-regional in the US: so is `us-central1-b` ok? Do we envision this hub wanting to use GPUs in the future (then we should go with `us-central1-c`)?

[2022-07-20 13:36] damianavila commented on #1444
@colliand was that piece part of the conversation? @jameshalgren, any input about this one?

[2022-07-20 13:40] damianavila commented on #1432
Since #1533 is merged, I think we can close this one now.

[2022-07-20 13:40] #1432 closed

[2022-07-20 14:08] choldgraf commented on #1549
@jmunroe I think you make a good point that something relatively minimal (like "auto-open `welcome.md` if it exists") is probably a good way to get a majority of the benefit without a lot of extra complexity like embedding IFrames and Jupyter Books and such :-)

I feel like this is somewhat related to the issue around automatically git-pulling a repository on session launch:

- https://github.com/

[2022-07-20 14:14] jameshalgren commented on #1444
I think we want to avoid f-35 syndrome. Let me check with a couple of others but I think for the moment we can do plenty with GPCPUs for now.

[2022-07-20 14:15] jmunroe commented on #1536
Will the design for this feature allow for more than one repo to be pulled? Or is it restricted to choosing just one?

I ask because I am thinking about more generic 2i2c "starter" material that could be pulled from git *in addition* to any community specific notebooks that need to made available.

[2022-07-20 16:09] consideRatio commented on #1012
I've not read through this issue, but here are three strategies for three situations that I've come to appreciate:

1. dependabot for bumping referenced github actions' versions in a repo's .github/workflows
2. pre-commit.ci for bumping .pre-commit-config.yaml referenced pre-commit hooks
3. using a github workflow/job to re-freezing pip installable dependencies for docker images in a requirements.

[2022-07-20 17:00] arnim commented on #1382
@damianavila do we need a passcode 4 zoom?

[2022-07-21 04:43] choldgraf opened #1551 "Document the minimal cloud requirements we need to work with another community's infrastructure"
### Context

In many cases we work with communities that wish to run their own cloud infrastructure projects / accounts / etc. For example, they might have their own billing account or a cloud project that already exists, and they wish to provide 2i2c access to it in order to manage the resources via our CI/CD repository.

However, in some cases this comes with extra restrictions, and we should do

[2022-07-21 10:14] GeorgianaElena commented on #1536
I've updated the `Updates and actions` section in the top comment with all the proposals here. Thanks everyone

### My opinion

I believe all the proposals here are very valuable and they all make sense ❤️

But each of them comes with their own pros and cons and open up the gate to various possible new features and use cases. So, I believe choosing between them is a matter of thinking what use-cas

[2022-07-21 15:16] GeorgianaElena commented on #1536
Then, @arokem do you want to install [`nbgitpuller`](https://github.com/jupyterhub/nbgitpuller) into the user image so we can give ⬆️ a try? ✨

[2022-07-21 18:55] arokem commented on #1536
Should be installed now!

[2022-07-22 13:40] sgibson91 commented on #1444
@jameshalgren Can you please provide the list of GitHub Teams you would like to have access to the hub?

[2022-07-22 14:30] sgibson91 opened #1555 "[BUG] Central grafana datasource script behaves strangely"
### Context

<img width="1556" alt="Screenshot 2022-07-22 at 14 31 37" src="https://user-images.githubusercontent.com/44771837/180460754-b4d62a93-b1d9-4060-8888-5589e7c26be7.png">

When I've added new clusters to the central grafana, I get strange error messages from the script. First run through says the new cluster was added successfully but there was also an error, though no error messages appe

[2022-07-22 14:35] GeorgianaElena commented on #1532
@damianavila, I opened https://github.com/2i2c-org/infrastructure/pull/1554 with I **think** should be what needs to happen before the event.

However, I didn't do a pre-warming before, and according to https://github.com/2i2c-org/infrastructure/issues/787 we don't have yet docs around best practices around this 😬 so I'll be flying blind a bit 😅 (I also don't have terraform setup on the new laptop

[2022-07-22 14:40] damianavila commented on #1555
cc @GeorgianaElena in case she has a quick hint about it!

[2022-07-22 14:45] damianavila commented on #1532
In that issue (#787), which we need to address sooner than later, there is a reference to a previous warming PR: https://github.com/2i2c-org/infrastructure/pull/573 (you probably already saw it, but just in case).

New laptop! Nice... although I agree it might be fun 😛

[2022-07-22 14:51] damianavila commented on #1532
Yes, that is true... and I think it makes sense to do it on Friday or on Monday morning... but we should avoid asking people to work on Sunday (my bad to suggest that in a previous message, it will not happen again unless it is absolutely necessary!).

If you think you need more time (or want to be more conservative) and IF you have the cycles, just do it today!
Otherwise, Monday morning should be

[2022-07-22 14:52] GeorgianaElena commented on #1532
I have that documentation task in the checklist of this issue 🚀
I saw that PR and others similar, but I don't think there's enough info about best practices around this. I'm saying this because I saw some mention setting the nodepool to 0 and then modifying it from the GUI during the event. So I'm not sure about what's the "recommended" way of doing things and what to expect.

[2022-07-22 14:57] damianavila commented on #1532
@yuvipanda surely has the better practices on his mind, we just need to pull that info from his head 😜!

[2022-07-22 14:58] damianavila commented on #1532
@consideRatio surely has some thoughts on this specific case because of his previous experience with this event.

[2022-07-22 15:11] consideRatio commented on #1532
@damianavila could you clarify what you looked for input about?

[2022-07-22 15:57] arokem commented on #1536
Hi! Is this now implemented in the hub? Otherwise, do you have a sense of the timeline for this to be implemented? The event starts on Monday, so if we don't anticipate having it implemented by Tuesday morning, we'll need to come up with another plan for how to have participants access these materials.

[2022-07-22 16:09] sgibson91 commented on #1536
@arokem As soon as https://github.com/2i2c-org/infrastructure/pull/1552 is merged, you're good to go.

[2022-07-22 16:18] arokem commented on #1536
Aha gotcha! With apologies, I did not have notifications about that PR. Looks like it just got merged 🎉

[2022-07-22 16:26] GeorgianaElena commented on #1536
I've just merged the PR @arokem! Once the deploy finishes, the nbigitpuller redirect should show up on server start-up. Once the repo is pulled, then the user will be redirected to `/lab` in the directory containing the repo contents, i.e. `nh2022-curriculum`.

Small note about this though: any changes to the default interface through the configurator, will overwrite the `nbgitpuller` link that we

[2022-07-22 16:46] arokem commented on #1536
OK - looks like we're back online and nbgitpuller is working as expected. Thanks!

[2022-07-22 16:51] GeorgianaElena commented on #1536
Sorry for the disruption @arokem, but I noticed the nbgitpuller defaultUrl setup didn't work as expected in the first time.
So I've tried a bunch of other things and ended up opening https://github.com/2i2c-org/infrastructure/pull/1557 and manually deployed it.

This should have been done the trick and the nbgitpuller option should show up in the configurator.

[2022-07-22 17:01] arokem commented on #1536
Yes. I see this option in the configurator now. This works fine!

Tiny adjustment request is that I would prefer it if the launch directory of the lab interface was `~/` instead of (as currently configured) `~/nh2022-curriculum`.

[2022-07-22 21:25] mabuice commented on #1440
Adding @aamster and @morriscb, representatives from the Allen Institute Technology team to this thread.

[2022-07-22 21:35] mabuice commented on #1440
Hub repo is here:  https://github.com/AllenInstitute/swdb_2022_hub_image

(I have not yet gone through the steps in the instructions other than creating this repo.)

Content repo is here:  https://github.com/alleninstitute/swdb_2022
The content repo contains the necessary splash logo:
![](https://github.com/AllenInstitute/swdb_2022/blob/main/resources/cropped-SummerWorkshop_Header.png)

If I under

[2022-07-23 12:02] damianavila commented on #1532
@consideRatio, if you remember (don't worry if you do not have those details) from the previous event if there was some recognizable usage pattern that can be served better with particular pre-warming conditions (ie. specific peaks, etc).

[2022-07-23 13:52] consideRatio commented on #1532
Last time it was an open online event with more users etc, now its different enough to say anything based on experience from past event.

I suggest a single node is started ahead of time via a node-sized user-placeholder pod, and each node fits approx 30 of the 120 estimated users. See https://github.com/2i2c-org/infrastructure/pull/1554#discussion_r927732666.

Users may end up waiting for image p

[2022-07-23 15:35] yuvipanda commented on #1532
Sorry for missing this, @GeorgianaElena and @damianavila. @GeorgianaElena's checklist up top sounds good to me!

[2022-07-23 15:43] yuvipanda commented on #1536
https://github.com/2i2c-org/infrastructure/pull/1557 I left some suggested comments there to make the user launch into ~.

Thanks a lot for figuring this out, @GeorgianaElena!!!

[2022-07-23 15:54] yuvipanda opened #1559 ""ModuleNotFoundError: No module named 'markdownTable'" when running deployer locally"
I tried installing things from `requirements.txt` but that didn't help either.

[code]

[2022-07-24 19:02] arnim commented on #1382
Hi @consideRatio,

you mentioned last time that you were working on a similar proposal. Do you think you would have some time to chat? I would love to understand this better :)

[2022-07-24 23:05] arokem commented on #1300
Hello! Is this the place to post questions and/or raise issues about the hub? Or should I send an email to "support"? I just realized that we never discussed resources per user, and I also just realized that we have the hub configured to ~1GB RAM per user. Can we increase that? Users of the hub are likely going to be working with large image datasets that can take up a lot more than that. I'd like

[2022-07-24 23:36] yuvipanda commented on #1300
@arokem we've https://github.com/2i2c-org/infrastructure/pull/1554 figuring out resources! Giving users 4GB guarantee and an 8GB limit. I'll get that merged now. Unfortunately this can't be set in the configurator yet...

[2022-07-24 23:40] yuvipanda commented on #1300
@arokem set up to have a 8G limit and 4GB guarantee now!

[2022-07-25 00:06] arokem commented on #1300
Thanks @yuvipanda! Works great.

[2022-07-25 03:50] damianavila commented on #1300
@arokem, yes. That is the canonical channel to report problem to us.
Please, report any new hub issues (or questions) via the support email.
If you ask here, we will surely and eventually reply, but the response time should be definitely better via the canonical channel. Thanks!!

[2022-07-25 04:09] damianavila commented on #1382
@arnim, curious to understand if you are trying to get additional context about @consideRatio's previous experience with BinderHub-like and/or JHub-like deployments or if you want to understand better the general idea we talked about (proposed) in the meeting.

Btw, I am planning to get the team together this week to start working in depth on the technical proposal (and some experimentation to sup

[2022-07-25 06:01] arnim commented on #1382
Not at all, but if you send me an infinite, I would come by from time to time :)

Generally speaking, I'm still fully trying to understand the proposal. I'm in summer school this week, but if you have some time @damianavila, maybe you help me to understand it a bit better. It's probably just me being slow.

[2022-07-25 08:47] #1555 closed

[2022-07-25 10:49] sgibson91 commented on #1559
I will look into this, but... This code shouldn't be running locally anyway. Pretty certain I put it behind a `if CI is True` flag, where `CI` is an environment variable set by the GitHub Actions runner.

[2022-07-25 10:52] sgibson91 commented on #1559
Also, what version of Python are you using? I just create a fresh env with 3.10 and it worked fine

[code]

[2022-07-25 13:20] sgibson91 commented on #1444
I am struggling to install TurboVNC with the provided code snippet and receiving the following error:

[code]

PR: https://github.com/2i2c-org/awi-ciroh-image/pull/1

[2022-07-25 13:32] sgibson91 commented on #1012
We already have dependabot setup to watch requirements.txt files, it just wasn't generating any PRs since none of the packages listed in our requirements files are pinned:

https://github.com/2i2c-org/infrastructure/blob/04b6501f700b99d2c70d2d62ab21241afed7e039/.github/dependabot.yaml#L33-L44

Given https://github.com/2i2c-org/infrastructure/issues/1559, I just went ahead and pinned stuff: https:/

[2022-07-25 13:39] consideRatio commented on #1444
@sgibson91 seems like you have the exact same code snippet and a similar base image as in https://github.com/pangeo-data/jupyter-earth/blob/master/hub.jupytearth.org-image/Dockerfile. So, maybe the `apt install` step crashes because of something missing, such as `build-essential`?

Hmmm, googling on the errors, I see notes about `apt clean` etc. Also, I note that you have a step before using `apt

[2022-07-25 13:45] GeorgianaElena commented on #1515
Hey @abkfenris! I've started updating the existing `ohw` hub at https://ohw.pilot.2i2c.cloud as per the new requirements.
I've temporarily manually deployed the changes related to authentication and user profiles if you want to give it a try.

I just want to double check a couple of things to make sure I got them right.
- Is it correct that the two profiles you'd like are one for a Python image an

[2022-07-25 14:01] sgibson91 commented on #1444
I added the clean-up step to the earlier `apt update` invocation, and that produced a new error related to "held broken packages". So I added an `apt update` and the clean-up step to the TurboVNC step and now it builds successfully 🤷🏻

Final commit looks like this: [2i2c-org/awi-ciroh-image@`6d4f05c` (#1)](https://github.com/2i2c-org/awi-ciroh-image/pull/1/commits/6d4f05c85272c33e489a77cadf2b8a250

[2022-07-25 14:21] jameshalgren commented on #1444
... that is a link to a __NASA ICESat-2 Hackweek__ quote.

[2022-07-25 14:23] sgibson91 commented on #1444
These are args, I was under the impression you wanted specific _teams_ to have access? E.g. the tech-team that is a member of the 2i2c org -> https://github.com/orgs/2i2c-org/teams/tech-team

[2022-07-25 14:25] sgibson91 commented on #1444
Ah pardon me, I think I'm misremembering another hub setup where a question was raised about subteams

[2022-07-25 14:47] jameshalgren commented on #1444
@sgibson91
10-4 -- we may refine later, but I'm assuming that is a simple process.

[2022-07-25 14:50] sgibson91 commented on #1444
Absolutely.

The hubs are available here:

- https://staging.ciroh.awi.2i2c.cloud
- https://ciroh.awi.2i2c.cloud

Please note these docs about authorising the GitHub app for the first time: https://infrastructure.2i2c.org/en/latest/howto/configure/auth-management.html#follow-up-github-organization-administrators-must-grant-access

[2022-07-25 14:55] sgibson91 commented on #1444
@consideRatio are there any other setup steps regarding the VNC/Linux desktop? I would've expected a button on the Lab Launcher saying "Desktop", but it's not there. Also changing `/lab` to `/desktop` in the URL returns a 404 😕

[2022-07-25 15:06] consideRatio commented on #1444
This is what is done in the JMTE image, which is based on a pangeo-notebook base image: https://github.com/2i2c-org/infrastructure/issues/1444#issuecomment-1187405324. I don't think anything else is needed!

[2022-07-25 15:08] sgibson91 commented on #1444
🤔 Hmmm ok, maybe Yuvi can help me debug when he's online then

[2022-07-25 15:16] consideRatio commented on #1444
@sgibson91 I would suspect https://github.com/2i2c-org/awi-ciroh-image/commit/7b080bef9a29e7d791e62058229f1946812f403a#diff-dd2c0eb6ea5cfc6c4bd4eac30934e2d5746747af48fef6da689e85b752f39557R32-R33 could be to blame. I don't understand how jupyter-server-proxy registers things, but jupyterlab presents icons for notebook / kernels etc, and maybe there is a common mechanism in play related to removing

[2022-07-25 15:18] sgibson91 commented on #1444
Yeah, tbh, I'm just guessing and used https://github.com/2i2c-org/coessing-image/blob/main/Dockerfile as a starting point

[2022-07-25 15:53] jameshalgren commented on #1444
Awesome! Does this mean we can get in a start trying things out (I assume this will begin to incur cloud costs...)?

[2022-07-25 15:55] sgibson91 commented on #1444
@jameshalgren yes and yes :) I'm still trying to figure out the VNC/Linux desktop feature though

[2022-07-25 16:06] sgibson91 commented on #1444
I made some progress in PR https://github.com/2i2c-org/awi-ciroh-image/pull/3 I now have the Desktop icon on JupyterLab's launcher (I'm testing this on the staging hub).

However when I click on it, I see "Something went wrong, connection is closed"\

Logs from my user server show:

[code]

[2022-07-25 16:22] mabuice commented on #1440
Alright, I've followed the instructions on this page:  https://docs.2i2c.org/en/latest/admin/howto/environment/hub-user-image-template-guide.html#hub-user-image-template-guide-how-to up to step 6, which unless I've misunderstood something is as far as I can go.

[2022-07-25 16:34] abkfenris commented on #1515
Hi @GeorgianaElena , Awesome! It looks like I still have access and can use the profiles, and I've asked a few others to test. Right now the Python profile goes to /notebook rather than /lab, but I'm guessing that's because the jupyterhub version is off.

I'm currently working on splitting apart our monster image and getting the dependencies updated, so I'll let you know what those images will be.

[2022-07-25 18:28] yuvipanda commented on #1559
@sgibson91 yeah, I commented out the import and everything works fine. The code is definitely not used locally, but the module is imported locally.

I'm on python 3.10, and here's list of packages:

[code]

[2022-07-25 18:37] sgibson91 commented on #1559
I fear this may be a deep package mismatch somewhere as I am not able to reproduce this locally 😔 I will share my list of packages when I'm back at my laptop

[2022-07-25 23:58] paigem commented on #1516
Just checking in on the status of adding Julia to our Hub @yuvipanda @GeorgianaElena

Also, is it easy to replace the Pangeo logo with the [COESSING logo](https://coessing.org/2022-school-in-nigeria/#jp-carousel-510) on the main landing page? Is this something I can do myself?

[2022-07-26 07:36] sgibson91 commented on #1516
Julia was added yesterday by Simone! I wil change the logo today.

[2022-07-26 09:24] choldgraf commented on #1516
Also just to clarify there @paigem - any hub administrator can add any other user, including other hub administrators! See these docs for reference:

- https://docs.2i2c.org/en/latest/admin/howto/manage-users.html?highlight=add%20user#to-add-users

[2022-07-26 10:42] sgibson91 commented on #1444
@GeorgianaElena suggested some missing packages in https://github.com/2i2c-org/awi-ciroh-image/pull/3#pullrequestreview-1050597105 and now the desktop feature is available!

[2022-07-26 16:42] abkfenris commented on #1515
Any chance that we could update our domain? Would oceanhackweek.2i2c.cloud be possible?

I've got a draft image for the python profile if we could git it a shot [`ghcr.io/oceanhackweek/python:363f75c`](https://github.com/oceanhackweek/jupyter-image/pkgs/container/python/29837720?tag=363f75c)

[2022-07-26 17:35] paigem commented on #1516
Thanks @sgibson91!! Didn't realize Simone added Julia already - amazing! (For some reason I thought we needed some backend help to make that happen.)

And thanks @choldgraf! I clearly should have specified that the I want the _language_ Julia added to our Hub. 😉

[2022-07-26 17:41] abkfenris commented on #1515
Can `@oceanhackweek/ohw22-mentor-helper-presenter` also get access permissions?

[2022-07-26 17:44] choldgraf commented on #1516
LOL omg I feel like I just had an "out of touch old person" moment, how embarrassing 🤦

[2022-07-26 18:22] yuvipanda commented on #1516
@choldgraf this is extremely funny because when me and @paigem were chatting about this in person at SciPy Julia Signell was nearby and kept getting confused in the same way...

[2022-07-26 19:08] mabuice commented on #1440
@damianavila Are there any further steps you are waiting on from us?  When is a reasonable timeline to expect an initial hub to be up and running?

[2022-07-26 19:31] abkfenris commented on #1515
Ok, I've now got updated images for both Python and R to try:
- Python: [`ghcr.io/oceanhackweek/python:e7303ce`](https://github.com/oceanhackweek/jupyter-image/pkgs/container/python/29849868?tag=e7303ce)
- R: [`ghcr.io/oceanhackweek/r:e7303ce`](https://github.com/oceanhackweek/jupyter-image/pkgs/container/r/29849834?tag=e7303ce)

[2022-07-26 20:30] damianavila commented on #1440
@mabuice, this new hub request is currently in the pipeline of new hubs to be deployed.
I am trying to secure resources to make this happen as soon as possible.

Accordingly to the initial request, the event is happening by the end of August, can you confirm?
Can you also clarify how much time you might need to interact with the hub and get ready? Is a few days before the event enough?

Btw, I wil

[2022-07-26 22:16] mabuice commented on #1440
The event itself starts August 20th.  We were hoping to have the initial hub up and running by the end of July so that we can iterate on the environment and test the various parts we need to incorporate (data from AWS, MySQL server for one dataset, etc.) as well as making sure we can get TAs and staff comfortable with administering the environment and fix our course materials beforehand.  We would

[2022-07-27 00:13] damianavila commented on #1382
Sure thing, I will send you an invite soon.

No problem at all! Given that you are in summer school this week, maybe we can meet next one?

[2022-07-27 00:16] arnim commented on #1382
Thank you @damianavila :+1:

[2022-07-27 08:44] GeorgianaElena commented on #1515
@abkfenris, I've added the new team to the list of allowed teams, changed the profile user images to point to [ghcr.io/oceanhackweek/python:e7303ce](https://github.com/oceanhackweek/jupyter-image/pkgs/container/python/29849868?tag=e7303ce) and [ghcr.io/oceanhackweek/r:e7303ce](https://github.com/oceanhackweek/jupyter-image/pkgs/container/r/29849834?tag=e7303ce). Also, the hub is now running at htt

[2022-07-27 09:09] sgibson91 commented on #1559
Here's my list of packages:

[code]

[2022-07-27 09:16] sgibson91 commented on #1559
This is the diff of our two lists using the command `diff --ignore-all-space --suppress-common-lines --side-by-side yuvi-list.py sarah-list.py`: (Lord knows why I saved them as .py files instead of .txt?)

[code]

[2022-07-27 10:23] GeorgianaElena commented on #1515
Hey @abkfenris. Today, @sgibson91 and me wanted to double-check the sub-teams membership access and this what we discovered:
- if an user is only a member of a sub-team but not a member of the parent team that's explicitly given access into the hub, then they won't be able to login.

A workaround for this (apart from having a few very big teams) could be to explicitly allow the sub-teams into the

[2022-07-27 11:11] sgibson91 commented on #1516
@paigem In general, we try to give communities control over their own images, both because this underpins our Right to Replicate and so that image updates don't bottle neck on the strained capacity of the engineering team. That being said, if a particular image customisation is too difficult, we will of course help out!

[2022-07-27 11:40] abkfenris commented on #1515
Awesome! Thank you!

Hmm, [it should be in there](https://github.com/oceanhackweek/jupyter-image/runs/7527325521?check_suite_focus=true#step:6:192). I'll do some snooping around this morning.

[It looks like we bumped it to 7/8 GB memory last year](https://github.com/2i2c-org/infrastructure/issues/549#issuecomment-891307408). I can't remember which tutorials required that, but then again we don't

[2022-07-27 16:18] colliand commented on #1440
I updated the `Required start date` in the top entry of the issue to 2021-07-31.

[2022-07-27 16:22] colliand commented on #1444
Thanks @jameshalgren. I fixed the link to point to the intended slide [deck](https://docs.google.com/presentation/d/1opgB5tpkuoxxwICh-kf9c_UKk1y0L6lGo13YQyBPAzs/edit#slide=id.p1) created by Fernando.

[2022-07-27 21:24] damianavila commented on #1559
Wondering if we should be more strict at the time to define the environment... 🤔

[2022-07-27 21:48] damianavila commented on #1440
@mabuice, thanks for the additional information!
I have assigned the task to @yuvipanda who is the engineer who is going to deploy the new hub.

I moved that date to be the target date and I add a few more days to the required date.
Realistically, I think we are going to be closed to the target date but I do not want to promise something if there is a chance of delays, and given the fact that toda

[2022-07-27 21:54] mabuice commented on #1440
For hooking up the right AWS account I’m going to connect @yuvipanda with @aamster and @morriscb.

[2022-07-27 22:07] yuvipanda commented on #1440
ty, @mabuice! I'm at yuvipanda@2i2c.org for an invite.

[2022-07-28 03:49] abkfenris commented on #1515
Ok, lets take a shot at some tweaked images:

- ghcr.io/oceanhackweek/r:f6f8b9f
- ghcr.io/oceanhackweek/python:f6f8b9

[2022-07-28 04:18] #1516 closed

[2022-07-28 09:43] sgibson91 commented on #1559
I'm not sure. I have a sinking feeling this is a deeper, system library issue. Maybe trying with a fresh conda environment would help?

[2022-07-28 10:54] GeorgianaElena opened #1570 "Allow access to uwhackweeks grafana outside of 2i2c"
### Context

We recently received a request for Grafana access https://2i2c.freshdesk.com/a/tickets/158.

Currently, the way to do this is to enable GitHub authentication for that particular cluster Grafana and allow access to the community rep either by adding them to our 2i2c org and adding this org to the allowed list, or allowing another organization entirely, where the community rep has acces

[2022-07-28 15:24] abkfenris commented on #1515
Wooot! RStudio is working, along with allowing users to create their own conda environments!

There are a few more fiddly bits I want to try to clean up on the images, then then last minute flood of additional packages that our presenters throw our way.

[2022-07-28 17:44] aamster commented on #1440
@yuvipanda I just granted you access. Let me know if you have what you need.

[2022-07-28 20:53] yuvipanda commented on #1440
@aamster can confirm I have access! \o/

I'll also grant access to the other 2i2c engineers shortly. Hub should be up in a day or two. Thanks!

[2022-07-29 11:59] consideRatio opened #1574 "Remove default nodeSelector configuration for dask-gateway core pods (`controller` and `api`)"
The dask-gateway helm charts comes with three core pods: `api`, `controller`, `traefik`. Two of these have been explicitly required to schedule on k8s nodes with the label `k8s.dask.org/node-purpose: core`. But not all three pods, only `api` and `controller`.

https://github.com/2i2c-org/infrastructure/blob/840b3bdf6d643ce0f27ed286cbfe78a00492f28d/helm-charts/daskhub/values.yaml#L105-L110

I think

[2022-07-29 12:48] consideRatio opened #1575 "Expose cloud billing dashboards for customers with dedicated clusters"
I figure exposing details about cloud costs to those with dedicated clusters is reasonable, perhaps by providing read-only access to the clouds provided information about this (in aws, gcp, azure).

I've opened this based on the more specific request in a [freshdesk ticket](https://2i2c.freshdesk.com/a/tickets/158) from @scottyhq to have access to such details. @scottyhq mentioned that https://git

[2022-07-29 12:55] GeorgianaElena commented on #1515
Yaaaay 🎉 🎉

@abkfenris, let me know if there's anything else that you need for the hub environment.

Also, if you're planning to use Dask, can you please give that a spin too (if you haven't already), to make sure everything works there too?

I was hoping to get https://github.com/sgibson91/bump-jhub-image-action to support GitHub docker registry too, so we can have that action open PRs by itself

[2022-07-29 13:02] abkfenris commented on #1515
@GeorgianaElena I think it's looking pretty good, but I'm not going to be able to test Dask till next week.

If we have image updates before you get your action updated, is it ok if I make PRs against https://github.com/2i2c-org/infrastructure/blob/ba240a1f424078b2b9d8db55fcd3df87f07dc37d/config/clusters/2i2c/ohw.values.yaml#L45-L59 , or would that mix up part of your workflow?

We're hoping to ge

[2022-07-29 14:24] GeorgianaElena commented on #1515
That would be super nice and very much appreciated @abkfenris, but that's definitely not a requirement.
My only concern was the timezone difference and me not being able to update the images in a timely manner. A PR would probably get a lot of more visibility from others on the team 🚀 (or an email to `support`)

That sounds like a good plan. I believe I will close this issue then, since the hub is

[2022-07-29 14:24] #1515 closed

[2022-07-29 14:28] GeorgianaElena opened #1576 "[EVENT] OceanHackWeek 2022"
### Summary

### Event Info

- **Community Representative:** @abkfenris
- **Event begin:** August 15
- **Event end:** August 19
- **Active times:**  todo
- **Number of attendees:** around 100 participants or so, and 30ish organizers/instructors/helpers
- **Notes**: The undergraduate program starts a week earlier and goes a week later, so the event is longer (August 8-26), though that is going to b

[2022-07-29 14:30] GeorgianaElena commented on #1515
Just opened https://github.com/2i2c-org/infrastructure/issues/1576 to track the event 🚀

[2022-07-29 16:13] damianavila commented on #1576
@abkfenris, one thing we forgot to ask you in #1515 is if there is an issue with pre-existing users (from the previous incantation of the hub) being able to still have access to this new hub.

cc @GeorgianaElena who raised this point in previous conversations.

[2022-07-29 16:18] abkfenris commented on #1576
@damianavila i don't think there is an issue if they can or can't access it. I gave them a warning a week or so ago that they needed to take care of anything they cared about. At some point we should figure out how to archive or delete all of them.

[2022-07-29 17:53] colliand commented on #1444
Now that the production and staging hubs are available, I suggest to @jameshalgren that we organize a kickoff event for CIROH personnel who will manage the hub with @jmunroe @fperez (and perhaps others on the 2i2c team). Perhaps we can link up for a phone call to discuss some launch planning?

[2022-07-30 00:59] rcthomas commented on #1501
@choldgraf Finally addressed your suggestion, also released to PyPI

[2022-07-30 20:28] damianavila commented on #1382
@arnim, I sent you an invite to our Slack space.

[2022-07-30 20:41] arnim commented on #1382
THX - just sent my hello message :)

[2022-07-30 20:48] damianavila opened #1577 "A series of technical-focused meetings to discuss about the BinderHub-JupyterHub project"
### Context

Main issue: https://github.com/2i2c-org/infrastructure/issues/1382

We need to have a series of 3 technical meetings (one per week) to discuss specific technical items involving @yuvipanda's proposal, UX/UI needs, underlying technology, pre-existing experiences, etc.

### Proposal

1. Find a good calendar spot so the team can meet in a recurrent fashion.
2. Run the meetings
3. End up

[2022-07-30 20:53] damianavila commented on #1577
@consideRatio @yuvipanda @sgibson91, please share your availability on the following when2meet: https://www.when2meet.com/?16262802-AGkDQ

Thanks!!

[2022-07-30 20:53] damianavila commented on #1382
Some updates:
* Created a dedicated team (@consideRatio, @yuvipanda, and @sgibson91) who is assigned to push forward this project.
* Created a dedicated Slack channel to have focused discussions about the project.
* Created a dedicated GH project board to collect issues related to this project.
* Coordinated and discuss next steps with the team.

We are starting with an exploratory phase consistin

[2022-07-31 19:38] yuvipanda commented on #1102
This hit the neurohackademy hub today, as a transient k8s master failure 'borked' the hub. It failed with:

[code]

And then restarted, but then kinda got 'stuck' leading to new servers not being started https://2i2c.freshdesk.com/a/tickets/163.

I restarted the pod to unbork it, but we should really be moving this to a regional cluster.

[2022-08-01 10:33] sgibson91 commented on #1102
We should push forward https://github.com/2i2c-org/team-compass/issues/423 in order to effectively coordinate and schedule the downtime that this migration will inevitably incur

[2022-08-01 15:11] damianavila commented on #1577
OK, it seems there is a sweet spot on Tuesdays at 4 pm GTM (except for the 3rd week), so I have scheduled the meetings on that range. We can re-schedule the 3rd one when we are closer to that date in case people can't make it.
Thanks for sharing the availability!

Can we agree on an agenda for the first one? Or think about how we want to frame the conversation?
I think a quick intro to @yuvipanda

[2022-08-01 15:52] jameshalgren commented on #1444
@colliand -- yes, let's talk soon.

[2022-08-01 15:53] sgibson91 opened #1582 "Figure out Authentication for BinderHubs (specifically CILogon)"
### Context

We had cryptominers on the binder-staging deployment. First of all, I attempted to deploy CILogon to only allow those with a `2i2c.org` Google account access in PR https://github.com/2i2c-org/infrastructure/pull/1579 - but that failed. So instead I deleted the proxy-public service to make the hub unreachable. The incident is over, but this issue is to track our understanding of why th

[2022-08-01 17:23] abkfenris commented on #1576
Is there a way to add a shutdown or log out option to RStudio? Or is the best option going to be loudly advertising https://oceanhackweek.2i2c.cloud/hub/home anytime participants may be using R?

[2022-08-01 17:32] sgibson91 commented on #1576
I think this is the way to go unfortunately. It is really difficult to get in and edit the RStudio UI from the hub (probably due to it being company-operated)

[2022-08-01 19:12] abkfenris commented on #1576
Thanks, I thought that was probably the case.

[2022-08-01 21:21] damianavila commented on #1102
I raised the priority on 423 to reflect this need, @sgibson91.

[2022-08-01 23:31] yuvipanda commented on #1102
Another option that is easier is to just start up another cluster (same project) that's regional, and put all new hubs there. And over time, things just move over there.

[2022-08-02 00:22] yuvipanda commented on #1440
I'm working on this now!

[2022-08-02 06:57] yuvipanda commented on #1574
I just wanna make sure they end up on the core nodepool, and not on any of the user or dask-worker pools.

[2022-08-02 07:03] consideRatio commented on #1574
If they are tainted, we should be good!

[2022-08-02 07:52] yuvipanda commented on #1440
I'm setting this up on us-west-2 (Oregon) now. I had to delete the existing empty VPC (swdb-2020-vpc) to make room for this, as we were up to the limit of VPCs (5)

[2022-08-02 09:02] yuvipanda commented on #1440
@mabuice alright, there's a  hub setup in https://allen-swdb.2i2c.cloud now! Can you check it out and let me know what you think?

Features so far:

- Login via GitHub. I've explicitly made you admin, but everyone in the AllenInstitute GitHub org can login *after a member of the org completes this process: https://infrastructure.2i2c.org/en/latest/howto/configure/auth-management.html#follow-up-git

[2022-08-02 09:06] yuvipanda commented on #1440
I've also opened https://github.com/AllenInstitute/swdb_2022_hub_image/pull/1 to fix an issue that prevents the hub from opening in JupyterLab by default. You can also add whatever packages you would want to that repo to build the image out!

[2022-08-02 21:29] morriscb commented on #1440
Thanks for setting up the hub @yuvipanda! I was able to launch of instance and play with a notebook. Looks good so far.

I'm going to be setting up a s3 bucket soon that will contain data that the notebooks need to be able to access. Is there any specific configuration I should apply to the bucket so that it plays nicely with the hub/notebooks? Just in case I need to avoid any gotchas. Thanks!

[2022-08-02 22:18] mabuice commented on #1440
@yuvipanda I can log in and access the Hub and launch a notebook.  How can I access the configurator with admin privileges?

[2022-08-02 23:03] damianavila commented on #1102
Even when that is an option, I think we definitely need to make an iteration on https://github.com/2i2c-org/team-compass/issues/423 and maybe this one is the forcing function to make that happen 😉.

[2022-08-02 23:13] mabuice commented on #1440
How do I add another GitHub org to the list of orgs for authentication?  The instructions are a bit unclear on this point.

[2022-08-02 23:28] mabuice commented on #1440
This doesn't appear to be the case; I configurator page only shows the Docker image to use and provides a choice for the default interface.

[2022-08-02 23:45] mabuice commented on #1440
Can I revoke the OAuth app permission on the Token page to get the organization authorization step back or will that just break everything?

[2022-08-03 03:15] mabuice commented on #1440
I have created an organization for the students (we don't want to add them to the Allen Institute organization).  I have granted that new organization access via the OAuth app "Allen SWDB Hub".  We've had three different people attempt to log in who are members of the new org (and not the AI org), but are denied.  Members of the AI org have no problem logging in and starting servers.  At the momen

[2022-08-03 07:10] yuvipanda commented on #1440
@mabuice if you can tell me the name of the organization, I can add it to the config (here: https://github.com/2i2c-org/infrastructure/pull/1585/files#diff-5143c28662d9b20952ad38466a811ada0898b3cf83356b9570e9fc289aec04dfR13) so the hub will allow them. That is necessary, as otherwise anyone can basically grant access to the hub to *any* github org they create!

[2022-08-03 09:47] GeorgianaElena commented on #1012
Given @damianavila's comment in https://github.com/2i2c-org/infrastructure/pull/1583#issuecomment-1203305618, and the fact that there are other pkgs in the hub image apart from `oauthenticator` for which we install an unreleased version, I was wondering if we could setup depandabot for that Dockerfile too?

@sgibson91, I believe you mentioned some time ago automating these upgrades, but I don't re

[2022-08-03 09:54] sgibson91 commented on #1012
I don't think dependabot will be able to bump OAuthenticator in the Dockerfile. dependabot only really bumps the base image, i.e., `FROM image:tag-to-bump`. I also don't think my actions can bump things in Dockerfiles either, only YAML configs, so I was probably referring to bumping the image referenced here in basehub's values: https://github.com/2i2c-org/infrastructure/blob/f35d06d5d61dcc58b1f4d

[2022-08-03 09:55] sgibson91 commented on #1012
@GeorgianaElena I'm going to recommend a new issue for further discussion around your topic and close this one given that #1561 was merged. We can iterate in a new issue on dependabot/pinning generally if folk think it is needed.

[2022-08-03 09:55] #1012 closed

[2022-08-03 10:00] sgibson91 commented on #1440
@mabuice you can edit the name of the Docker image in that text box, i.e., change the tag, then click 'Submit'. When you spin up a new server, you should see the new image tag being pulled in the logs. **Note:** When you click 'Submit' in the configurator, there is no feedback (i.e. no green check mark or "changes saved!" message... we're working on it), but your changes _have_ been saved! :)

[2022-08-03 10:22] GeorgianaElena commented on #1536
I suggest closing this issue since was framed as a support request rather than an enhancement proposal and we've already implement it for the neurohackademy hub.

We can track the https://github.com/2i2c-org/infrastructure/issues/1549 aspect of it in the said issue and maybe resurface this if we decide to support "running a script on user server startup" as a feature.

Please, feel free to reopen

[2022-08-03 10:22] #1536 closed

[2022-08-03 11:47] GeorgianaElena opened #1589 "Hub image - using unreleased versions of some jupyterhub packages"
### Context

The 2i2c hubs run a custom docker image as per the Dockerfile at https://github.com/2i2c-org/infrastructure/blob/master/helm-charts/images/hub/Dockerfile. More details about this image and how to update it, can be found in the docs at https://infrastructure.2i2c.org/en/latest/topic/hub-image.html.

In this custom hub image we're currently installing unreleased versions of [`oathentica

[2022-08-03 12:58] mabuice commented on #1440
@sgibson91 Sorry, slight vocabulary problem with the word 'tag'. I'm catching up.   :)

@yuvipanda I added a comment to that section of code you pointed to for the new org.  In case I did that incorrectly, the org to use is https://github.com/SWDB2022.

Thanks for tolerating me while I bumble through this!

[2022-08-03 13:07] sgibson91 commented on #1440
No problem!

If we take the image from the screen shot you provided: `quay.io/mabuice/swdb2022:87d559a7ecf9`, the "tag" is the alphanumeric string following the `:` and this denotes the version of the image called `swdb2022`.

If we visit the [tags page on the image's repository](https://quay.io/repository/mabuice/swdb2022?tab=tags&tag=latest), we can see a list of published tags, and that the mos

[2022-08-03 13:11] mabuice commented on #1440
@sgibson91 Yes, I had figured it out from your previous response; just letting you know the source of my confusion.

[2022-08-03 13:12] sgibson91 commented on #1440
Ah gotcha! Apologies, picking up the correct context can be tough on GitHub :)

[2022-08-03 13:22] GeorgianaElena opened #1590 "Automate updating user images in profile list - temporary solution"
### Context

Currently, the `configurator` doesn't support to update user images if multiple profiles are used with multiple images.
So the current workflow in this cases, is for 2i2c engineers to update user images whenever they need changing. Alternatively, someone from the community we're serving can update it themselves by opening up PRs against the `infrastructure` repo.

But this will probab

[2022-08-03 13:44] sgibson91 commented on #1577
### Conversation with Meag Doherty RE user research

Meag is onboard to help us shape some questions we'd like to ask as part of user research, and has shared two resources for designing a user research study which I have added to our shared GDrive here: https://drive.google.com/drive/folders/1KTDi6fF3M0p8ldXo1tD0LjD1ZBZNncoL?usp=sharing

She would also be happy to join one of the meetings for a u

[2022-08-03 14:14] GeorgianaElena commented on #1532
I'm closing this one since nodepool deletion can be tracked in https://github.com/2i2c-org/infrastructure/issues/1300 and pre-warm docs in https://github.com/2i2c-org/infrastructure/issues/787

[2022-08-03 14:14] #1532 closed

[2022-08-03 15:32] damianavila commented on #1444
I think we can close this issue (new hub set up) by now (since I believe it is completed) and continue the conversation on new issues.

[2022-08-03 15:32] #1444 closed

[2022-08-03 16:12] consideRatio commented on #1055
JupyterHub 3 beta 1 has been released, and the z2jh Helm chart has started using JupyterHub 3 beta1.

**User images**
Users can have version >=2.3.1 (probably a lower version as well, not sure what version is the lower bound), but the key point is that users doesn't require jupyterhub 3 to be installed.

So, updating to an even more modern version of z2jh should be fine without trouble.

[2022-08-03 17:40] morriscb commented on #1440
Hi folks, I created a [pull request](https://github.com/AllenInstitute/swdb_2022_hub_image/pull/2) on the swdb repo attempting to add mount points for S3 buckets containing data needed for the conference. I repurposed some of our scripts from previous years and repacked them in the 2i2c/binder files. Hopefully my interpretation is close to what works. I wasn't sure to run the `mkdir` and s3 mounti

[2022-08-03 18:19] yuvipanda commented on #1440
Hi @morriscb. Can you provide me a little bit more information about what you're trying to do? Is this a FUSE filesystem? Is the s3 filesystem public? If you can share more of the initial scripts these are being adapted from that would help too. By default, I think s3fs and similar if you're trying to mount an actual permission require root, which user containers don't have by default and need som

[2022-08-03 18:27] morriscb commented on #1440
Hey @yuvipanda, it is a s3 filesystem that is public. The previous script used s3fuse. [Here's a link ](https://github.com/AllenInstitute/swdb_portal/blob/0c4f4651cb7101dc399c9ed6d01a07562e8c1a04/swdb_portal/scripts/lifecycle_config_on_start.sh#L5-L18)to the previous example I'm trying to adapt. Thanks!

[2022-08-03 18:33] yuvipanda commented on #1440
@morriscb i don't have access to that link unfortunately :(

[2022-08-03 18:37] morriscb commented on #1440
Sorry! Let me copy the code block below. The apt-get replacement for the all the `yum` commands works fine. Trying to find a way so that each user can see the s3 mount.

`mount_s3() {
    mkdir -p /data/allen-brain-observatory
    mkdir -p /data/visual-behavior-ophys-data

    # The AWS Linux version of epel is weird and doesn't include the same
    # packages as the fedora centos 7 version of epe

[2022-08-03 18:47] yuvipanda commented on #1440
ah, that is very useful! I think this will have to be done differently in our containerized kubernetes environment, where FUSE is a little more iffy.

So I think there's a few steps to be done here:

1. Install the appropriate apt packages (which I think your PR does)
2. Find a way to setup appropriate permissions for the container to run `s3fs`. This probably requires 'real' root, while currently

[2022-08-03 18:48] damianavila commented on #750
At today's cycle meeting we have a little conversation about the need to advertise GitHub Teams auth (which means creating user-facing docs). Added this issue to the backlog.

[2022-08-03 18:52] morriscb commented on #1440
To [swdb_2022_hub_image](https://github.com/AllenInstitute/swdb_2022_hub_image)? I doesn't look like I have permissions to add anyone. That would be a question for @mabuice

[2022-08-03 18:58] damianavila commented on #1589
Quick question, what about putting these packages into a `requirements` file and `pip install` the `requirements` file in the Dockerfile... in that way we may use the dependabot, right?

[2022-08-03 19:58] mabuice commented on #1440
@yuvipanda I've added you to the repo as a collaborator with write access.  Let me know if you meant something different by 'merge rights'.

[2022-08-03 20:04] yuvipanda commented on #1440
@mabuice that works, thank you!

[2022-08-03 20:25] mabuice commented on #1440
FYI, I rolled back the changes from the PR I merged from @morriscb  so I can fiddle with the configuration.

[2022-08-03 22:46] jameshalgren commented on #1444
Thanks @damianavila -- new issues are still posted under this repository, correct?

[2022-08-04 09:24] sgibson91 commented on #1589
Yep!

[2022-08-04 10:14] GeorgianaElena opened #1592 "Enable access to GPUs for the meom-ige hub"
### Context

GPU access was requested for the `meom-ige` hub in https://2i2c.freshdesk.com/a/tickets/167.

### Proposal

From what I can tell from https://github.com/2i2c-org/infrastructure/blob/master/terraform/gcp/projects/meom-ige.tfvars, it looks like gpu is not enabled.

### Updates and actions

We have docs about gpu support for aws clusters here -> https://infrastructure.2i2c.org/en/latest/

[2022-08-04 10:35] sgibson91 commented on #1592
Also, the meom-ige cluster is deployed in `us-central1-b`. We tend to use `us-central1-c` for GPUs since there is better availability in that zone. However, migrating will cause an outage as it has to be torn down and redeployed, so we should double check with them that that is acceptable.

I'm also not sure how that migration would affect the filestore, if the homedirs would be moved across or wi

[2022-08-04 10:42] auraoupa commented on #1592
Hi, Thanks for opening the request ! I was primarily just wondering if it was already done (so the answer is no) and secondly if it could be added simply : it looks like it would shake things up a bit too much. I'll have to check with the rest of the users if it is really needed and that will take some time as August is very slow in France ... I may come back here in September with new details the

[2022-08-04 11:56] GeorgianaElena opened #1594 "Best practises for resource allocation when pre-warming a hub for an event"
### Context

 I believe  it would be super useful to define some 2i2c-specific best practices for when we're pre-warming the hubs for events and how we're supposed to be choosing:
- machine type
- autoscaler limits
- singleuser server memory and cpu limits.

From what I'm seeing from last year events it looks like we used to follow an approach of <10 pods per node and a high number for the autosca

[2022-08-04 12:00] GeorgianaElena commented on #1594
*Also sharing @consideRatio's [answer from slack](https://2i2c.slack.com/archives/C01GLCC1VCN/p1659030681728959) too for more context:*

" Decisions on what nodes to use could reasonably be delegated, but we can come with recommendations as well.
I have no clear recipe on how I've made decisions on this historically. But I think:
- putting 10-100 users on the same node is reasonable
- having 0-10

[2022-08-04 17:25] mabuice commented on #1440
Where do I find build logs for an instance?  I'm not sure how to diagnose a failure in the environment setup.

[2022-08-04 17:44] yuvipanda commented on #1440
@mabuice you should find build logs in https://github.com/AllenInstitute/swdb_2022_hub_image/actions for each commit as you make it.

`postBuild` is only run *once*, at build time, rather than each time at user startup. Since `/home/jovyan` is per-user, anything you put in the image under `/home/jovyan` won't show up in the hub. While there are other ways to do what I see happening in https://gith

[2022-08-04 17:56] mabuice commented on #1440
Regarding actions, I don't see anything detailed on the actions page.  I've had it open so that I can see when new builds finish but I'm missing the link that gives me detailed output about the build.  I figured the problem lay in not having access to the user file system at build time, but couldn't verify that.

I tried using nbgitpuller; it seems like an amazing tool and is something we can make

[2022-08-04 18:00] damianavila commented on #1444
@jameshalgren, for follow-up questions/requests I would suggest using our support email channel.
Over there, we will be able to provide useful feedback and, in some cases, open issues in specific repositories accordingly to the topic you are rising in that conversation.

[2022-08-04 18:02] damianavila commented on #1589
Super!
Then I would advocate going into that route... because, in that way, we have better control of the upgrade step using the action. @GeorgianaElena, WDYT?

[2022-08-04 20:06] mabuice commented on #1440
The Jupyterlab-git extension does not seem to want to load on the hub:  https://github.com/jupyterlab/jupyterlab-git

I've tried a few different configuration approaches in environment.yml, but have had no luck so far.  This works pretty straightforwardly on my laptop, but I'm assuming there's a version issue or configuration step I'm missing on the hub.  I tried installing it manually on the hub

[2022-08-04 23:42] damianavila opened #1596 "Deploy tljh-repo2docker instance as testbed for user research/validation"
### Context

[tljh-repo2docker](https://github.com/plasmabio/tljh-repo2docker) is TLJH plugin to build and use Docker images as user environments. The Docker images are built using [repo2docker](https://repo2docker.readthedocs.io/en/latest/). We want to do some user research/validation, not only aimed to admin but also potential end users to really know the workflow they are interested about

###

[2022-08-04 23:51] damianavila opened #1597 "Shape some questions and a process as part of user research tied to tljh-repo2docker"
### Context

We believe we need a UX/UI user research validation step before implementing a general solution.
We are going to deploy tljh-repo2docker (https://github.com/2i2c-org/infrastructure/issues/1596), which is an opinionated way to deliver the experience and conduct user research on top of it.

We need to come up with a process and the right set of questions we are going to ask in user (adm

[2022-08-04 23:56] damianavila opened #1598 "Technical draft (state of the art) about the BinderHub/JupyterHub project"
### Context

The goal we have with the notes is to provide an overview of the UX and tech available via tljh-repo2docker / binderhub, and how they couple to various core jupyterhub functionalities and specific implementations of Spawners for example.

The value we see for such an overview is that we think it would be helpful when trying to scope what we are to do going onwards more clearly. We hop

[2022-08-04 23:57] damianavila commented on #1577
Notes from the first meeting live here: https://docs.google.com/document/d/1Z6TppBLjIF2Lv0wubM2833vp92Br_jGAS7LmM35viYM/edit#heading=h.hlwfqtinux36

Accordingly to the actions items at the end of the notes, I am creating 3 new issues:
1. User validation, user research: https://github.com/2i2c-org/infrastructure/issues/1597
2. User validation, deploy tljh-repo2docker: https://github.com/2i2c-org/in

[2022-08-04 23:57] damianavila commented on #1382
After the first meeting, we have some next steps briefly described here: https://github.com/2i2c-org/infrastructure/issues/1577#issuecomment-1205891914

[2022-08-04 23:58] damianavila commented on #1577
@sgibson91, let's continue that conversation in the specific issue I have created (#1597).

[2022-08-05 00:03] damianavila commented on #1598
I think it would be valuable to also include in the discussion, if possible, any remarkable ideas from the existing experience in https://github.com/gesiscss/persistent_binderhub (as another opinionated data point at the time to deliver the experience/s we are looking for).

[2022-08-05 00:08] damianavila commented on #1597
Super, that is great!!

Yep, that makes sense.
@meagdoh, can you add your availability for the 3rd week here: https://www.when2meet.com/?16262802-AGkDQ

That is totally fair and fine with me!

[2022-08-05 00:09] damianavila commented on #1596
@yuvipanda, do you think you can deploy tljh-repo2docker somewhere any time soon? 😉

[2022-08-05 08:22] arnim commented on #1382
Hi @damianavila, I thought that you would ping me first when you have some time to chat. I'm not sure we agreed to build on tljh in our first meeting.

[2022-08-05 08:44] GeorgianaElena opened #1601 "Automate updating user images in profile list for OHW using `sgibson91/bump-jhub-image-action`"
### Context

I realized I hadn't open an issue to track the work of using `sgibson91/bump-jhub-image-action` to automate updating user images in profile list for the OHW hub and has mostly been tracked in scattered comments in issues and PRs.

Context about the reasoning behind this is described in https://github.com/2i2c-org/infrastructure/issues/1590 in more detail.

### Proposal

This is an imp

[2022-08-05 09:59] sgibson91 commented on #1382
We are only deploying tljh-repo2docker as a means to perform user experience research to inform what we _should_ build (to some extent) for, most likely, the z2jh helm chart.

[2022-08-05 10:03] arnim commented on #1382
I'm also certainly interested in trying tljh-r2d and have to confess to my shame that I haven't done so yet :) Already subscribed to infrastructure/issues/1596

[2022-08-05 10:12] arnim commented on #1598
https://discourse.jupyter.org/t/a-persistent-binderhub-deployment/2865

[2022-08-05 12:37] sgibson91 commented on #1601
Thank you Georgiana for adding this extra feature to the action! 🙏🏻 ❤️ ✨

[2022-08-05 12:42] sgibson91 commented on #1102
I am +0.5 on this only because it means we could called the new cluster something other than `pilot-hubs` and finally eradicate `pilot` from 2i2c! But agree that 423 will be much more broadly impactful to our operations.

[2022-08-05 12:54] #1601 closed

[2022-08-05 16:17] arnim commented on #1598
With the same caviats as above

and if there would be interest, I think it could also be meaningful to ask tljh-repo2docker admins/users about their feedback :)

[2022-08-05 16:47] mabuice commented on #1440
We seem to have a problem with servers dying overnight or when left running for a while.  Is the hub being periodically reset or is something else going on?  We need to be able to have instances running 24/7.

[2022-08-05 17:44] yuvipanda commented on #1440
Hey @mabuice!

1. I see you're using `quay.io/mabuice/swdb2022:latest` as the image tag. The `latest` tag mutates with each push, and so causes problems where you might not see the changes you have pushed when you start / stop your server. You should use the tag of the newest build (so `quay.io/mabuice/swdb2022:f3bf0348b53f`) so it is guaranteed to pull in what you built. I see the jupyterlab-git

[2022-08-05 17:44] yuvipanda commented on #1440
@morriscb I think I've the config required to make s3fs work! I'll validate it in one of our staging hubs and set it up here soon.

[2022-08-05 17:58] mabuice commented on #1440
Hi @yuvipanda,

I think we're having some 'theory of mind' problems.  I realize tech support is difficult, and more so over a time delayed text chat, so bear with me. :)

1. I'm already aware of what the 'latest' tag is and which image is being used.  Based on the logs 'jupyterlab-git' is being installed (I've tried a few methods), but neither of the commands ` jupyter {server,lab} extension list

[2022-08-05 18:03] morriscb commented on #1440
Great! Thanks @yuvipanda, let me know when you finish your tests and I'll give it another shot.

[2022-08-05 18:03] yuvipanda commented on #1440
@mabuice yeah, text can be difficult! Am also happy to jump on a video call on Monday to help with this if needed! We're also learning a lot of places where our docs need to be better, so thank you for working through all this with us!

I currently logged in and see jupyterlab-git both in `jupyter labextension list` as well as on the UI:

<img width="326" alt="image" src="https://user-images.githu

[2022-08-05 18:17] mabuice commented on #1440
Well, it seems to be working now :).

I wish I'd taken a screen shot because it was not working at any time yesterday regardless of how I set up jupyterlab-git to be installed.  The `JUPYTER_IMAGE` environment variable is helpful, but it reports 'latest' instead of the actual tag.  I had several issues yesterday that where I think what was happening was that the tag I *thought* I was loading was n

[2022-08-05 18:19] mabuice commented on #1440
adding @campagnola

[2022-08-05 18:56] yuvipanda commented on #1440
So `latest` is a weird tag, and in general should never be used because you can't actually tell which image is being loaded. In this case, here's what I think happened:

1. If you started your server within 10mins of stopping it, docker / kubernetes probaby does *not* pull the 'new' `latest` image - as your server probably ended up on the same underlying kubernetes node it was on before. They trea

[2022-08-05 18:57] yuvipanda commented on #1440
`JUPYTER_IMAGE` also reports whatever is actually set in https://allen-swdb.2i2c.cloud/services/configurator/, which is another reason to explicitly set the tag there rather than use `latest`.

This is unfortunately a problem with `latest` tags in all non-single-node contexts, and can cause non-deterministic behavior that is very frustrating. https://vsupalov.com/docker-latest-tag/ and the interne

[2022-08-05 18:59] mabuice commented on #1440
@yuvipanda That sounds like it explains everything I experienced yesterday.  Thank you!

Re 'latest':  I guess it's a sort of comfort to be one of a long line of victims of a well known problem. :)

[2022-08-05 20:21] damianavila commented on #1382
For future readers, there was a conversation in the specific binderhub-jupyterhub 2i2c Slack channel that further clarifies the context and the clarification @sgibson91 shared above: https://2i2c.slack.com/archives/C03RLNFM43F/p1659687870338259

[2022-08-05 20:24] damianavila commented on #1102
You are tempting me to reprioritize, @sgibson91 😉!
"Joke" aside,

[2022-08-05 20:49] fcollman commented on #1440
Hi! I have a couple of questions.

First, we'd like to try to get a MySQL server up and running and accessible (both to people using the hub, and ideally anyone who knows the right server address while the course is running).  Every year we have some people who insist on running things locally, so having this server be publically available is useful.

The server we want to run is documented here (

[2022-08-05 21:02] morriscb commented on #1440
Hey @fcollman, I'm pretty sure we're on the same page. `postBuild` was one of two options (the other being `start`) for where to put the s3 mount script. I'm more than happy to go with `start` as suggested by @yuvipanda. If we end up having issues, we can try something else.

[2022-08-06 06:28] yuvipanda commented on #1440
@fcollman let's setup an AWS RDS mysql instance and provide access to users from the hub that way. I'll start working on it too.

I agree me and @morriscb are on the same page re: S3 mounts. `postBuild` is done only once at build time, executed inside GitHub Actions (or wherever the docker *image* is being built), not where it's *run* - so can't mount anything from there.

So things to tackle stil

[2022-08-07 07:47] yuvipanda commented on #1440
I fell into the s3 mounting rabbit hole and got it working!

<img width="985" alt="image" src="https://user-images.githubusercontent.com/30430/183280794-211db1f0-ddda-41f6-88b6-cdd6eb09fb41.png">

I'll put up a PR + modify the config. It was a bunch of work to do this securely, but I think it's done now! Not deployed yet though.

[2022-08-08 13:23] sgibson91 opened #1610 "Problem with azure.carbonplan unable to complete helm commands"
### Context

The `azure.carbonplan` staging hub has been failing in CI/CD with the unhelpful message `Error: UPGRADE FAILED: pre-upgrade hooks failed: timed out waiting for the condition`. I used the following command to retrieve the below events that seem to point to an issue with the NFS share creator `kubectl -n staging get events --sort-by='{.lastTimestamp}'`:

[code]

### Proposal

_No respon

[2022-08-08 13:24] sgibson91 commented on #1610
None of the nodes for this cluster are ready apparently

[code]

[2022-08-08 13:27] sgibson91 commented on #1610
I can't see anything in Azure Portal that would indicate why these nodes are not ready 😕

[2022-08-08 13:30] sgibson91 commented on #1610
NFS share creator seems like it's a problem, but that is because that is the first job that helm upgrade runs

[2022-08-08 14:04] sgibson91 opened #1611 "Deployer failing to create deployment-service-check user on openscapes"
### Context

The deployer is failing to create the deployment-service-check user (specifically on the staging hub) hence why CI/CD is failing.

[code]

### Proposal

_No response_

### Updates and actions

_No response_

[2022-08-08 14:31] sgibson91 commented on #1611
I have confirmed that this is also the case for the prod hub. Hence, this is either an issue in the common config, or with the cluster itself.

[2022-08-08 16:30] yuvipanda commented on #1559
I wiped out my venv and set it up again, and boom this was gone!

Thanks for helping debug this, @sgibson91!

[2022-08-08 16:30] #1559 closed

[2022-08-08 16:40] yuvipanda commented on #1440
I've merged https://github.com/AllenInstitute/swdb_2022_hub_image/pull/4 and deployed the appropriate config changes, and `/data/visual-behavior-ophys-data/visual-behavior-ophys/` now exists as s3fs in the prod hub! \o/

I built out this new software package to make this work securely - https://github.com/yuvipanda/jupyterhub-roothooks/ (I'll try write a blog post for blog.jupyter.org soon!). This

[2022-08-08 16:44] arokem commented on #1300
Hey folks! The event is over... Thanks for all the work on this! It went remarkably smooth.

I am wondering (and some participants are as well): how much longer will the hub be up and running?

[2022-08-08 18:46] morriscb commented on #1440
Great! Thanks @yuvipanda. Just to confirm my understanding looking through the scripts, if we want to add additional s3 mounts, we put them here correct? https://github.com/AllenInstitute/swdb_2022_hub_image/blob/main/roothooks.d/01-setup-s3fs.bash

[2022-08-08 18:47] yuvipanda commented on #1440
@morriscb that's correct!

[2022-08-08 22:15] damianavila commented on #1610
Is this only happening on staging? Do we know since when?
Btw, those nodes seem pretty old accordingly to their AGEs (which matches when this cluster/hub was originally deployed, IIRC).

[2022-08-08 22:18] sgibson91 commented on #1610
If it's the nodes, then it will affect all hubs deployed to the cluster. And I can't say for sure how long. I'd look through the GitHub Actions logs to see when the last time it successfully deployed was.

[2022-08-08 22:27] damianavila commented on #1300
@arokem, my recollection about this hub nature is a transient/event-focused one. If that is the case, we would need to decommission it ASAP. But, do not worry, we will agree on a date that works for **everyone** involved.

cc @colliand and @choldgraf who might have more details about the existing agreements for this hub.

Btw, in the meantime, would you mind answering the following questions? If n

[2022-08-08 22:45] arokem commented on #1300
Thanks @damianavila! You are correct that the hub is transient and event-focused, and the event is fortunately over...

That said, if we could keep it up and running through August 10th, that would give participants enough time to get there stuff off of the hub, if they haven't done so yet.

[2022-08-09 02:54] arokem commented on #1300
Mostly yes. Here are the issues that we encountered:

1. On Thursday of week 1 of the event. According to @yuvipanda, "This corelates to a new pod spinning up to support onflux of users.". We did not experience that on other days.
2. On Sunday, user servers were not starting up . According to @yuvipanda, this is related to https://github.com/2i2c-org/infrastructure/issues/1102.

1. Overall, the on

[2022-08-09 09:35] yuvipanda commented on #1440
Ok, I *almost* have mysql working as well!

<img width="825" alt="image" src="https://user-images.githubusercontent.com/30430/183612506-b0c83766-1d98-44c7-aaa4-33b80e6e6360.png">

<img width="1098" alt="image" src="https://user-images.githubusercontent.com/30430/183612162-b5314bc0-093d-4b17-baea-b661b9272193.png">

I've unfortunately run into https://github.com/hashicorp/terraform-provider-aws/iss

[2022-08-09 10:31] sgibson91 commented on #1610
### What my plan was

1. Manually scale the node pool up to 6 nodes
2. Cordon and drain the 3 `NotReady` nodes
3. Scale the node pool back down
4. Reenable automatic scaling (this has to be disabled in order to enable manual scaling)

### What actually happened

When I scaled the node pool up to 6, this also replaced the 3 `NotReady` nodes so they didn't need cordoning and draining. I then scaled

[2022-08-09 10:31] #1610 closed

[2022-08-09 10:36] yuvipanda commented on #1440
Alright, I got MySQL working!

You can see the credentials and location via `$MYSQL_HOST`, `$MYSQL_USER` and `$MYSQL_PASSWORD` env vars. Also there's a `~/.my.cnf` autopopulated. This means you can just open a terminal and type `mysql` and it'll automatically connect to the right thing! I think most mysql client libraries should also work automatically.

The server itself is completely empty and h

[2022-08-09 11:52] consideRatio commented on #1598
Hi all, here is an update!

I've made https://hackmd.io/@29EjZnuAQx-ME7Olgi2JXw/r1BcEzda5 that includes an overview of things going on in binderhub and tljh-repo2docker, along with a draft idea on a standalone piece of what could possibly be developed.

I hope to discuss this with @yuvipanda @sgibson91 @damianavila in a meeting later today.

[2022-08-09 13:40] arnim commented on #1598
Thank you for the overview document. :)

Is there an example on how we could import (and potentially launch) via a link (e.g. `http://baseurl.org/v2/gh/binder-examples/requirements/master`) some repository? The use-case I'm thinking about could be some kind of gally that uses mybinder for short try-outs and the new JHub import functionality if there is a need to work longer periods on the code.

[2022-08-09 15:21] sgibson91 commented on #1598
Why not use mybinder.org then for the short try-outs, and then import the env into your repo2docker-enabled JupyterHub when you've decided you want to use it? Why do these two pieces need to be within the same JupyterHub?

[2022-08-09 15:34] arnim commented on #1598
@sgibson91 this would be the idea :)
I was just wondering what the equivalent import link for the new r2d JHub importer would be.

[2022-08-09 15:35] sgibson91 commented on #1598
Ah ok, I misunderstood your question. I don't think we have scoped that piece yet.

[2022-08-09 16:20] sgibson91 commented on #1598
**Live update from the meeting:** The current proposal is a building block, and not the whole solution. There are pieces missing from this that need to build on top of it that needs further information, e.g., from the UI/UX research.

[2022-08-09 17:00] mabuice commented on #1440
@yuvipanda In the past, we've provided students with access to gpu instances, but on request (so they don't start up a bunch of expensive instances and leave them spinning).  Is there an easy way to configure this kind of behavior?

[2022-08-09 17:10] sgibson91 commented on #1597
Actions points for me from the last meeting:

- [ ] Ping Meag, make sure she knows when and how to provide her availability for next week
- [ ] Create a document to scope a draft interview script. (See a previous script I have put together [here](https://docs.google.com/document/d/1TaF0OX_xvptd_0HOPefcYm1Z_XaBK_VY/edit?usp=sharing&ouid=112592669480881239691&rtpof=true&sd=true).) Should have the fo

[2022-08-09 17:12] yuvipanda commented on #1440
@mabuice we can setup GPU to be only available for a specific GitHub team, and you can add students to that particular team when they want GPU. How does that sound?

[2022-08-09 17:41] beakkay commented on #1439
Afternoon,

We have successfully created and updated the GCP environment on which the Callysto hub will be hosted.
The last step is to add the email address that will be allowed access to the environment.
Could you please provide the email addresses we can add to the environment as administrator/s?

Thank you

[2022-08-09 18:27] mabuice commented on #1440
@yuvipanda That will probably do the trick.  We can always boot people from the Team who get out of hand. :)

[2022-08-09 20:18] fcollman commented on #1440
@yuvipanda We want the students and others to have read only access to all tables, we'll need write access to ingest the data.

[2022-08-09 20:26] yuvipanda commented on #1440
@fcollman makes sense. Can you test out the current access (which is write), and I'll work on getting a readonly version shipped out?

[2022-08-09 20:31] yuvipanda commented on #1440
@fcollman specifically, I wanna figure out:

1. How much storage the db will need,
2. How much resources (RAM & CPU) it would need.

[2022-08-09 20:34] damianavila commented on #1300
Sure, then I will request for a decommission for next week, so they have a few more days :wink:.

[2022-08-09 20:37] damianavila commented on #1300
Btw, thank you for all that feedback, @arokem. It is super appreciated!!
About the improvements you have requested, we are already working in those directions and hopefully will get a better experience the next time to run with us!

[2022-08-09 21:04] arokem commented on #1300
Thank you! BTW: me and others are currently experiencing some server startup issues. Have you already started pumping the breaks on it?

[2022-08-09 22:25] yuvipanda commented on #1440
The db is down right now as I'm sorting out the readonly user

[2022-08-09 22:39] yuvipanda commented on #1300
@arokem we brought the minimum number of running nodes to 0, so it means you'd have to wait for the server to spin up first time. What server startup issues are you having?

[2022-08-09 22:48] arokem commented on #1300
We're seeing these kinds of time-outs on server start:
<img width="1392" alt="Screen Shot 2022-08-09 at 3 48 26 PM" src="https://user-images.githubusercontent.com/118582/183774884-02ceb5f1-f607-4156-871f-61d0aecfc1b3.png">

[2022-08-09 22:52] yuvipanda commented on #1300
@arokem all the 1.5T was used up! I just added another 500G, and should be back up now?

[2022-08-09 22:55] arokem commented on #1300
Oh weird. Thanks for doing that! Yes - we're back up.

I wonder how that got filled up today. I don't think we added any new data since Friday. But it's also possible that we filled it up on Friday and no one noticed until now. As always, thanks for jumping on it so quickly!

[2022-08-10 01:07] damianavila commented on #1610
Thanks for resolving this one, @sgibson91!

[2022-08-10 01:23] damianavila commented on #1598
Some notes from the meeting:
* There is a need for a more in-depth exploration of the different existing options.
* Given the simplicity of the tljh-r2d codebase, @consideRatio is going to explore that project a little bit more to see what are the valuable pieces that we might take to build the "composable building block" [CBB from now ] @sgibson91 was mentioned above.
* This is still **explorator

[2022-08-10 02:44] fcollman commented on #1440
@yuvipanda The DB will be 115GB of storage, let's say 150 GB to be safe.  I would give it 32GB of RAM, and 8 CPU.

[2022-08-10 02:45] fcollman commented on #1440
we actually have a sql dump available here..
https://bossdb-open-data.s3.amazonaws.com/iarpa_microns/minnie/functional_data/two_photon_processed_data_and_metadata/database_v7/functional_data_database_sql_dump_v7.sql

I don't know the slickest way to ingest that into RDS.

[2022-08-10 02:47] fcollman commented on #1440
https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/MySQL.Procedural.Importing.html

Looks like we can do it from the command line or the console?

[2022-08-10 06:01] yuvipanda commented on #1440
@fcollman yeah I think once I get it up, you can do the import yourself. Dealing with some subnet stuff, will keep you posted when it is done

[2022-08-10 08:22] consideRatio opened #1615 "Make use of `oauth_no_confirm` for jupyterhub-configurator"
I opened https://github.com/yuvipanda/jupyterhub-configurator/issues/14 about not needing users to press authorize when accessing /services/configurator/ and it seems a resolution is possible already.

https://github.com/2i2c-org/infrastructure/blob/001a0855118632ac10a93f3c1924fdf926d5318c/hub-templates/base-hub/values.yaml#L157-L164

---

Note that z2jh [supports any values](https://github.com/ju

[2022-08-10 09:31] sgibson91 commented on #764
@damianavila I wonder if we can bring this issue into our backlog following https://2i2c.freshdesk.com/a/tickets/171 Since disk space filling up is most often felt by hubs on shared clusters and feels most unfair that they may not have even been the ones to cause it.

[2022-08-10 09:36] sgibson91 commented on #1439
Hello @beakkay Could you please add all members of the Open Engineering team listed [here](https://2i2c.org/team/) Their email addresses are linked beneath their profiles

[2022-08-10 11:56] damianavila commented on #764
I added it to the backlog and raised the priority! Thanks for bringing this one to attention, @sgibson91.

[2022-08-10 13:13] sgibson91 commented on #1597
I have created a document for drafting the user research questions here: https://docs.google.com/document/d/1RSrixqZ3k_as9YW8eyWw84pLsxl9JboPGSp5-Nu3yBE/edit?usp=sharing

[2022-08-10 14:47] sgibson91 opened #1616 "[Incident] OceanHackWeek hub cannot start server"
### Summary

OceanHackWeek hub cannot start a server. Reported in https://2i2c.freshdesk.com/a/tickets/172

### Impact on users

Hub unusable as no one can start a server.

### Important information

- Hub URL: oceanhackweek.2i2c.cloud
- Support ticket ref: https://2i2c.freshdesk.com/a/tickets/172

### Tasks and updates

- [x] Discuss and address incident, leaving comments below with updates
- [x]

[2022-08-10 14:57] sgibson91 commented on #1616
I tried restarting the hub pod (by deleting it) and that has resolved the issue. Not entirely sure what happened though.

[2022-08-10 15:06] abkfenris commented on #1616
Do the events from the hub pod show any issues from probe failures?

[2022-08-10 15:10] sgibson91 commented on #1616
Unfortunately I don't know how to retrieve logs from before the restart. I tried the following with no luck:

[code]

[2022-08-10 15:15] abkfenris commented on #1616
I believe `k describe hub-86b885f486-mwnqt` would show probe events, but it looks like the JupyterHub healthcheck that the probes hit is pretty shallow, so they may not be the most effective at catching when a hub pod has an issue.

https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/548111f1b7d716b744c3abaa414b76c03b7eeed9/jupyterhub/templates/hub/deployment.yaml#L222-L229

https://github.c

[2022-08-10 15:19] sgibson91 commented on #1616
# After-action report

These sections should be filled out once we've resolved the incident and know what happened.
They should focus on the knowledge we've gained and any improvements we should take.

## Timeline

_A short list of dates / times and major updates, with links to relevant comments in the issue for more context._

All times in BST (UTC+1).

- 2022-08-10 15:54 - [Incident reported and

[2022-08-10 15:26] sgibson91 commented on #1616
Not to my knowledge

[2022-08-10 15:34] abkfenris commented on #1616
Dang. GCP or whomever may have caught the logs anyways if you poke around in the console. Loki also collects them, not sure if you have that set up as part of your Grafana.

[2022-08-10 16:04] fcollman commented on #1440
We do have students who want to use their own computers as well, so we'd like to have it setup so that others can connect from outside the k8s cluster to the same RDS instance. I mention it again in that you seem to be into the networking portion and this might influence your choices.

[2022-08-10 16:30] colliand opened #1618 "[Decommission Hub] Azure Hub for Carbon Plan"
### Summary

Carbon Plan wishes to decommission their hub on Microsoft Azure. They will continue to use their AWS-based hub.

### Info

- **Community Representative:** @andersy005 @norlandrhagen
- **Link to New Hub issue:** https://github.com/2i2c-org/infrastructure/issues/800
- **Proposed end date:** 2022-09-15

### Task List

#### Phase I

~~- [ ] Confirm with Community Representative that the h

[2022-08-10 16:30] Chealion commented on #1439
Owner access has been granted to the Open Engineering Team - let us know if there's anything else we should do to assist with locking down or removing folks in case of any staffing changes.

[2022-08-10 16:35] sgibson91 commented on #1616
Yuvi has just informed me that we do indeed have logs in the GCP console! They're a bit hard to read though, but there are a lot of `CancelledErrors` stemming from asyncio from before the incident report.

[2022-08-10 16:38] abkfenris commented on #1616
Try looking back before 7 or so Eastern. That's when I first had issues.

[2022-08-10 16:41] abkfenris commented on #1616
Does the hub pod share the NFS mount with the users? Could it have been affected by the same space issue as we hit yesterday, and we just didn't have anyone else try to launch a server after that fix rolled out?

[2022-08-10 16:43] yuvipanda commented on #1440
@fcollman yep, that is exactly what I'm trying to sort out now re: RDS. Access from outside the cluster, and that's what's causing problems.

[2022-08-10 16:43] sgibson91 commented on #1616
@abkfenris We suspect this is an issue with the availability of the k8s master. We are seeing spawning processes being cancelled, should not be related to the NFS. The 2i2c cluster is not regional, so it does not have high availability of the k8s master so we see issues like this occasionally and the fix is to restart the hub pod. We have an issue to move the cluster to be a regional one, but it w

[2022-08-10 16:50] sgibson91 commented on #1102
I actually think we should just do it this way now. We can probably copy over data and change ingress/URL points much more "behind the scenes". We could do what I did with the Pangeo hubs and say "we will be running backups and X and Y datetimes,, data created after Y definitely won't be migrated".

How we communicate that message to every community on the cluster would still need a rudimentary ve

[2022-08-10 17:11] arnim commented on #1598
Thank you for the update :+1:

I think ensuring maintainability and a long-term sustainable story is key. This IMO extends to the necessary support/endorsement from the wider community. You are in the best position to assess which CBBs from the ecosystem we can reuse and which we may need to add. I think our funding is flexible enough also to improve CBBs that are shared with the traditional BHub

[2022-08-10 18:22] yuvipanda commented on #1616
I found these logs in another hub that had the same symptoms at the same time:

[code]

This is definitely due to the GKE master having a hiccup. It usually recovers shortly, but it looks like the jupyterhub process isn't :( We should definitely report this upstream.

[2022-08-10 18:23] yuvipanda commented on #1102
I can't quite parse which of the two levels of quoting 'this way' refers to :D Can you clarify, @sgibson91?

[2022-08-10 18:24] yuvipanda commented on #1616
The hub also has a 'shut down' button in the admin panel that would also fix this specific problem, where you just see 'server requested' and nothing happens.

[2022-08-10 18:42] sgibson91 commented on #1102
Sorry @yuvipanda , I'm now agreeing with you!

[2022-08-10 19:58] abkfenris commented on #1616
Do you mean 'Shutdown Hub' or 'Stop All' or the per user 'Stop Server'? I had tried 'Stop server' on my own server when it was in that state.

<img width="492" alt="image" src="https://user-images.githubusercontent.com/1296209/184008636-58fa6432-dba2-4706-85f8-2dbd34fed107.png">

[2022-08-10 20:16] sgibson91 commented on #1616
The "Shutdown hub" button will restart the hub

[2022-08-10 20:16] yuvipanda commented on #1440
@fcollman ok, so this is set up now!

1. The hostname is available in the $MYSQL_HOST environment variable once you login to the hub. This is accessible from outside the hub as well
2. For all regular users, there's a `$MYSQL_USERNAME` and `$MYSQL_PASSWORD` env var available. This is also populated in `~/.my.cnf` so just invoking `mysql` or similar should discover these credentials and connect the

[2022-08-10 20:35] damianavila commented on #1598
Super, thanks for confirming that!

Thanks for listing out all these items, @arnim!
This is exactly the sort of information we want to gather from the UI/UX research we are pushing on #1597.
In fact, I think (and I have raised this before in internal conversations) that you and your people should be one of the subjects taking the interview process we are going to build. I guess you are open to bei

[2022-08-10 20:41] damianavila commented on #1102
From @yuvipanda in #423:

I think that would be the rudimentary process we would need to follow.
I would add the emails should be sent from support so we have any thread centralized.
I bet it would not be easy to coordinate a good shared time, but maybe I am wrong with my intuition...

[2022-08-10 20:49] yuvipanda commented on #1440
@fcollman ok, it looks like I can't actually pre-emptively say 'give access to all databases except `mysql` and `sys`'. So I'll leave things as they are now. Once you have imported the database, I'll tighten up the perms so that regular users can only read that database.

I think the db setup is done now! I'll work on the GPU next.

@mabuice I'd need you to create the team on GitHub that will have

[2022-08-10 20:51] yuvipanda commented on #1440
Also, right now, user servers *are not shut down at all* despite inactivity (based on the request in https://github.com/2i2c-org/infrastructure/issues/1440#issuecomment-1206651822). Users need to explicitly shut down their servers when they are done. This can baloon costs as users often forget, *especially* with GPUs. I just want to make sure you're explicitly aware of this and let your users know

[2022-08-11 09:04] sgibson91 commented on #1616
FYI, location of the logs in GCP: https://console.cloud.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.container_name%3D%22hub%22%0Aresource.labels.namespace_name%3D%22ohw%22;timeRange=2022-08-10T14:22:12.000Z%2F2022-08-10T15:30:12.000Z;cursorTimestamp=2022-08-10T14:55:01.930889041Z?authuser=1&project=two-eye-two-see

[2022-08-11 09:14] sgibson91 commented on #1102
This is why I think spinning up a new cluster, duplicating the hubs on it, and then using rsync to move the home directories will be a better scenario. There doesn't need to be a downtime as we just change the IP address the A records point to. And we can minimise the amount of data lost by running a few rsyncs up to the point of switching the IPs.

[2022-08-11 09:19] sgibson91 commented on #1616
I am going to close this issue now because:

1. The incident is over
2. The After Incident report has been posted and updated
3. All items in the After Incident report have links to other issues for tracking

[2022-08-11 09:19] #1616 closed

[2022-08-11 13:50] damianavila commented on #1102
Sounds like a reasonable plan to me!

[2022-08-11 14:01] damianavila opened #1620 "[Decommission Hub] NeuroHackademy 2022"
### Summary

The hub is transient and event-focused hub and the event is over: https://github.com/2i2c-org/infrastructure/issues/1300#issuecomment-1208695043

### Info

- **Community Representative:** @arokem
- **Link to New Hub issue:** https://github.com/2i2c-org/infrastructure/issues/1505
- **Proposed end date:** Aug 15th
  - Ref: https://github.com/2i2c-org/infrastructure/issues/1300#issuecomm

[2022-08-11 14:16] damianavila commented on #1300
OK, I have created the decommissioning issue: https://github.com/2i2c-org/infrastructure/issues/1620, with a target date of Aug 15th. Let's continue that specific conversation over there.

Closing this one now!

[2022-08-11 14:16] #1300 closed

[2022-08-11 14:29] damianavila opened #1621 "[EVENT] Allen Institute Summer Workshop on the Dynamic Brain"
### Summary

https://alleninstitute.org/what-we-do/brain-science/events-training/summer-workshop-dynamic-brain/
Lead issue: https://github.com/2i2c-org/leads/issues/79
New hub issue: https://github.com/2i2c-org/infrastructure/issues/1440

### Event Info

- **Community Representative:** @fcollman @mabuice @morriscb @aamster
- **Event begin:** 20-Aug-2022
- **Event end:** 04-Sep-2022
- **Active time

[2022-08-11 14:44] damianavila commented on #1439
Thanks @Chealion!

Btw, can we go back and revisit the questions raised by @GeorgianaElena on this post: https://github.com/2i2c-org/infrastructure/issues/1439#issuecomment-1167509965. That information would be needed to start with the deployment process. Thanks!

[2022-08-11 14:53] colliand commented on #1546
What input from 2i2c is needed for the NSF report due on September 1? @einatlev-ldeo?

I invite you to provide answers or ask questions related to the inputs requested about the Project Victor hub below.

[2022-08-11 14:53] damianavila commented on #1621
@fcollman @mabuice @morriscb, do you have a rough idea of the number of participants/attendees?

[2022-08-11 15:02] mabuice commented on #1621
@damianavila we have 24 students plus staff (which will total about 15 on-site at any given time).

[2022-08-11 15:51] abkfenris commented on #1616
Just to clarify, the the 'Shutdown Hub' button asks the hub pod to terminate itself, so that Kubernetes replaces it?

I ask, as I caused an incident in high school when I found a shutdown & restart button on the compute cluster that I wasn't supposed to have access too. Unsurprisingly I clicked it, then everything went down for hundreds of students and faculty. One screen broken from a classmate p

[2022-08-11 15:58] abkfenris commented on #1576
Ehh, kind of. That's when we will have the most people active for tutorials, but various in person events will be logging in earlier.

For instance for us in Maine, we're planning on getting folks logged in either sometime that morning, or just after lunch so we can make sure everyone is ready when the tutorials start up (so then we can also have the bandwidth to help virtual folks).

[2022-08-11 16:35] fcollman commented on #1440
@yuvipanda thank you! yes we have dealt with this in the past with our previous ways of doing things so we know.... there are also other less monetary costs to users running some massive analysis and having it all go away on them because they haven't written in checkpoints (we have also experienced this pain many times).

[2022-08-11 16:48] morriscb commented on #1621
We should also add @aamster to this thread as well.

[2022-08-11 17:39] sgibson91 commented on #1616
Yes, that's correct!

[2022-08-11 21:02] byrcyb commented on #1439
Yes, thanks @damianavila, we're working on this now.

[2022-08-12 03:10] arokem commented on #1620
Confirmed! You can take it down whenever you are ready. Thanks!

We've already migrated off data that we'd like to retain, so it is OK to delete everything stored there.

[2022-08-12 04:49] mabuice commented on #1440
@yuvipanda Just to be clear, I'd asked (point 2 of [this comment](#issuecomment-1206708389) ) whether an instance in the middle of running an analysis would be shut down.  Is it measured by inactivity or time?  If inactivity, what counts as activity.  As long as users can trust that a running analysis won't die, then having some kind of automatic shut off is fine.

[2022-08-12 07:57] yuvipanda commented on #1440
@mabuice the problem is that 'activity' is counted as either 'user code is currently running actively in a kernel making it busy' or 'user is actively interacting with it in a browser'. The common failure mode is when a user kicks off a large computation, closes browser. Computation runs for 6h, then completes. Now after an hour (the default), the kernel is culled and then the user server is culle

[2022-08-12 17:21] mabuice commented on #1440
@yuvipanda alright; let's keep it with no cutoff, then.  Thanks.

Can we remove the 8GB option from the instance list (or perhaps demote it in visibility somehow)?  We have one intro notebook for which that will not suffice and I don't want students to accidentally start that one before the main tutorial presentations.

[2022-08-12 22:35] yuvipanda commented on #1440
@mabuice we can restrict that to a GitHub team too, so it is only visible after you are added to a GitHub team.

[2022-08-12 22:35] yuvipanda commented on #1440
I can also just remove it.

[2022-08-15 12:26] sgibson91 opened #1628 "Document how to scale up nodes/node pools for an event"
### Context

I believe I am responsible for https://github.com/2i2c-org/infrastructure/issues/1576 but I've never scaled up a hub for an event before so I went looking for docs but couldn't find any.

We should:

- Document the steps required for scaling up a hub prior to an event
- For the case of event hubs on shared clusters, I believe we add a specific node pool and label via terraform? We sho

[2022-08-15 12:47] sgibson91 commented on #1576
I don't believe there's anything to do in terms of scale up?

- A separate node pool has already been provisioned here: https://github.com/2i2c-org/infrastructure/blob/dd74fe1bcf2d7aeab814116a32f21bf0b2f48a7a/terraform/gcp/projects/pilot-hubs.tfvars#L40-L52
- And the appropriate `nodeSelector` has already been configured here and in other places in the config: https://github.com/2i2c-org/infrastru

[2022-08-15 14:22] sgibson91 commented on #1611
I think we should prioritise investigating this issue quite highly since openscapes will continue to fail in CI/CD (and hence require manual upgrading) until it is fixed.

[2022-08-16 06:02] yuvipanda commented on #1440
@mabuice I've removed the 8G option!

@fcollman have you been able to test out the mysql setup?

[2022-08-16 06:34] fcollman commented on #1440
@yuvipanda ah yes.. it is all working beautifully. I ingested the data.  I had to do some modifications of the max_packet_size parameters on the instance to get the sql dump ingest to work but that was all.

[2022-08-16 06:47] yuvipanda commented on #1440
@fcollman ah, did you make that change manually? It might get overwritten next time we run terraform! If you can tell me exactly what you changd, I can make sure it's incorporated into terraform.

[2022-08-16 06:55] fcollman commented on #1440
i used the console to setup a new parameter group called "microns" which set the "max_allowed_packet" to be 1073741824, and then configured the swdb instance to use that parameter group.

https://us-west-2.console.aws.amazon.com/rds/home?region=us-west-2#parameter-groups-detail:ids=microns;type=DbParameterGroup;editing=false

[2022-08-16 06:58] yuvipanda commented on #1440
@fcollman ah, ok! do you know what error message you were receiving that required this setting?

[2022-08-16 10:45] abkfenris commented on #1576
@ocefpaf and I have been bashing our heads against an error that we're seeing in both the Python and R profiles.

It appears that both Jupyter Notebooks/console and RStudio are removing some environment variables that various packages expect to see.

The most common issue is that the `PROJ_LIB` environment variable seems to be getting removed but there are others that go missing too.

The easiest

[2022-08-16 11:08] sgibson91 commented on #1576
I remember @damianavila went through an arduous process in trying to get RStudio to load Keras + Tensorflow correctly from a conda environment and did *something* with environment variables at some point.

- His full write-up is here: https://discourse.jupyter.org/t/openssl-mismatch-between-rstudio-and-conda-environments/14123
- And here is a relevant PR: https://github.com/2i2c-org/utoronto-image

[2022-08-16 13:21] fcollman commented on #1440
When ingesting the sql dump the  mysql command would say "sql server has gone away".  We had this same problem last year which is why i knew this setting had to be tweaked.

[2022-08-16 13:22] fcollman commented on #1440
This is only because the database we are ingesting has some 'blob' columns with very large movies stored in it. (honestly not the design i would have gone for)

[2022-08-16 16:45] yuvipanda commented on #1576
You definitely need an `Rprofile.site` for setting env vars in RStudio.

See this line in the utoronto Rprofille.site: https://github.com/2i2c-org/utoronto-image/blob/main/Rprofile.site#L11

And it is copied over in the Dockerfile here: https://github.com/2i2c-org/utoronto-image/blob/d422076c3695e44f09a959b14cb10f89b6e5f538/Dockerfile#L178

[2022-08-16 16:54] yuvipanda commented on #1576
If I launch a server with the R image, I do see `PROJ_LIB` in notebook:

<img width="401" alt="image" src="https://user-images.githubusercontent.com/30430/184935577-8ca8d88d-4f81-44e9-bc68-436e6ee757fc.png">

and in terminal too. Not in RStudio but that does need `Rprofile.site`.

Is the python image lagging behind maybe? Does it not have any specific change the R one does?

[2022-08-16 17:01] ocefpaf commented on #1576
Yep. I hardcoded those env vars for the R image in https://github.com/oceanhackweek/jupyter-image/pull/57 but I did not port those to the Python image yet. I was hoping that we would not need them.

Thanks for the RPorfile tip! We are not R folks trying to make it work for an R tutorial.

@abkfenris I'm getting ready for my tutorial. Unless you beat me to it I'll create the RProfile when I'm done.

[2022-08-16 17:11] abkfenris commented on #1576
I'll take a swing at setting up a `RProfile.site`.

I'm still confused why env variables that show up in the terminal from the conda env aren't making it into Notebooks or console sessions.

[2022-08-16 17:24] ocefpaf commented on #1576
Same. Looks like the activation is working but is getting clobbered by something.

[2022-08-16 17:48] abkfenris commented on #1576
Making progress. Still have the GEOS linking version error, but I can at least run things locally without setting the env variables manually now.

<img width="717" alt="image" src="https://user-images.githubusercontent.com/1296209/184945169-663ec66c-b99a-4e34-8388-0779026843a0.png">

Building an image now https://github.com/oceanhackweek/jupyter-image/pull/59

[2022-08-16 18:19] einatlev-ldeo commented on #1546
VICTOR logo link: [https://docs.google.com/document/d/1XBlprGT64qSNP6lr-P9RoN786fb_JoIhUUIINgebSg0/edit?pli=1#heading=h.qo34o8p9in1e](url)

[2022-08-16 18:20] einatlev-ldeo commented on #1546
Additional personnel:
Sam Krasnoff
Laura Connor
(github handles will be added soon)

[2022-08-16 18:32] einatlev-ldeo commented on #1546
We do not have user images yet.

[2022-08-16 18:37] abkfenris commented on #1576
Thank you @sgibson91 and @yuvipanda R is playing nicer (or at least our R folks say it is)!

[2022-08-17 10:53] GeorgianaElena commented on #1611
Hope it's ok that I self assigned this and plan to look into it soon.

[2022-08-17 21:59] yuvipanda commented on #1576
So I know why this is happening - it looks like the PROJ env var is set by conda, and runs when conda is activated. conda is activated when you open a terminal, but *not* when you start the notebook itself. repo2docker 'fixes' this with https://github.com/jupyterhub/repo2docker/blob/main/repo2docker/buildpacks/python3-login as the entrypoint.

So if you add an entrypoint script to your image that

[2022-08-17 22:47] mabuice commented on #1440
@yuvipanda GitHub team for gpu use is:  @SWDB2022/gpu.  Thanks!

[2022-08-17 23:02] byrcyb commented on #1439
Here's what we have so far and a question about logos:

Montreal

Yes, we're ok with sticking with Google and Microsoft. We don't require the institutional identity providers anymore.

We have quite a few Hub and Image logos to choose from. Are there any specifications you require in terms of layout (e.g. vertical or horizontal), resolution, format or other?

We don't have any extra features neede

[2022-08-17 23:36] shawnwiggins opened #1636 "[coudbank ccsf] RetroLab as Default Interface"
### Context

We made some updates to the CCSF JupyterHub image and now have RetroLab working, but we need support configuring the hub to default to RetroLab instead of JupyterLab since it is not a menu item on the Configurator.

- [Hub Image Repo](https://github.com/ccsf-math/jupyterhub)
- [CCSF Hub](https://ccsf.cloudbank.2i2c.cloud/)

This is just a small issue to help students see a less comple

[2022-08-18 13:02] GeorgianaElena commented on #1611
- I believe the issue is related to https://github.com/jupyterhub/kubespawner/pull/631.

- What I think is happening is:
  - we're trying to start a server for the test user `deployment-service-check` but without passing it any user options
  - in this context of multiple profiles, with multiple options, each of it with multiple choices, the expected behavior would be that a server corresponding t

[2022-08-18 13:09] GeorgianaElena commented on #1628
@sgibson91, I believe this might be a dupe of https://github.com/2i2c-org/infrastructure/issues/787 and to some extent of https://github.com/2i2c-org/infrastructure/issues/1594.

And since I've also found myself into this situation recently, I would like to signal boost the importance of having these docs for the two issues I linked above and really think that we should prioritize these tasks.

[2022-08-18 14:24] GeorgianaElena commented on #1439
Thanks a lot for filling in this info @byrcyb.

Not really. This image will go right above the login button. Checkout the 2i2c staging hub https://staging.2i2c.cloud as an example.

[2022-08-18 14:36] abkfenris commented on #1576
Awesome, thank you @yuvipanda! I'm working on getting that in now.

We need to take a look at repo2docker for building our environment again. We may have a nice addition from some of our R users for a more reliable/predictable R install script.

[2022-08-18 14:38] sgibson91 commented on #1628
Ah, I probably didn't use the right search term before opening an issue! Shall we close in favour or #787 and signal boost there?

[2022-08-18 16:23] yuvipanda commented on #1440
@mabuice awesome, will add. For the GPU node, you'll need to add cuda and similar packages inside the image. Alternatively, we could just use something like https://hub.docker.com/r/pangeo/ml-notebook (source in https://github.com/pangeo-data/pangeo-docker-images/tree/master/ml-notebook, which you can also steal from).

[2022-08-18 17:52] mabuice commented on #1440
@yuvipanda packages added.  Let me know when I can take a GPU instance for a spin.  Thanks.

[2022-08-19 00:22] byrcyb commented on #1439
No problem, thanks for your patience on this @GeorgianaElena

For the hub image logo you can use https://www.callysto.ca/wp-content/uploads/2022/08/Callysto-HUB_vertical.png
For the image url you can use https://www.callysto.ca/

We're still figuring out the hub URL question. My preference would be to keep it as hub.callysto.ca but I'm not sure if that will cause any problems since that's our curr

[2022-08-19 08:54] sgibson91 opened #1640 "Enable choosing environment for each profile in AWS carbonplan hub"
### Context

Request made in this support ticket: https://2i2c.freshdesk.com/a/tickets/176

We should implement https://github.com/2i2c-org/infrastructure/issues/1253 to satisfy this request

### Proposal

_No response_

### Updates and actions

- [ ] Follow up and request which environments they'd like listing and if it's different from what they currently have

[2022-08-19 08:58] sgibson91 opened #1641 "Replicate cmip6 profile from Azure hub on AWS hub for carbonplan"
### Context

Request made in this ticket: https://2i2c.freshdesk.com/a/tickets/176

The carbonplan Azure hub has a "huge" profile (32 CPU, 256GB RAM) with the cmip6 image. We should replicate this on the AWS hub for them.

### Proposal

_No response_

### Updates and actions

- [x] Confirm if a similar size nodepool is already configured on the AWS cluster
   - [ ] ~~If not, configure it!~~
- [x]

[2022-08-19 09:01] sgibson91 commented on #1611
@GeorgianaElena Should we keep this open until the upstream PR is merged and we can remove the fix, or should we track that in a new issue?

[2022-08-19 09:15] GeorgianaElena commented on #1611
Hmm, I'm not sure. My thinking was that the #fixme comment in temp fix code it's enough to close this issue and then track the upstream kubespawner PR as part of https://github.com/2i2c-org/infrastructure/issues/1055 (maybe as a small check box there)? I believe the `kubespawner` version we're using comes from z2jh anyway. What do you think?

[2022-08-19 09:16] sgibson91 commented on #1640
I have begun implementing this in https://github.com/2i2c-org/infrastructure/pull/1642 and will follow up in the support desk ticket if they want more images

[2022-08-19 09:20] sgibson91 commented on #1641
This cluster already has an equivalently sized node pool setup

https://github.com/2i2c-org/infrastructure/blob/f98d7a7a238162b1c081aab99a54d4229d1617dc/config/clusters/carbonplan/common.values.yaml#L84-L90

Therefore, I will add in the cmip6 image in #1642 as well

[2022-08-19 09:33] sgibson91 commented on #1611
My only concern is that we don't develop much in the deployer any more and so it might take a while to rediscover and remember to fix the #fixme. However, if it will be harmless after #1055 then I don't think my concern should be a blocker.

[2022-08-19 09:45] GeorgianaElena opened #1643 "Remove the openscapes special-casing in the deploy test when issue is fixed upstream"
### Context

https://github.com/2i2c-org/infrastructure/issues/1611#issuecomment-1219466905

### Proposal

We should remove the fix added by https://github.com/2i2c-org/infrastructure/pull/1639 when/if we use a `kubespawner` version that has  https://github.com/jupyterhub/kubespawner/pull/631.

### Updates and actions

_No response_

[2022-08-19 09:47] GeorgianaElena commented on #1611
I just opened https://github.com/2i2c-org/infrastructure/issues/1643 and added it to the list of tasks to take when https://github.com/2i2c-org/infrastructure/issues/1055 if that upgrade will come with the upstream fix, just to be sure.

Thank you @sgibson91 ✨

[2022-08-19 10:56] sgibson91 commented on #1640
Deployed to staging currently: https://staging.carbonplan.2i2c.cloud

[2022-08-19 16:41] yuvipanda commented on #1576
@abkfenris hope it worked ok!

Lots of nice R goodies in repo2docker ;)

[2022-08-19 17:53] mabuice commented on #1440
@yuvipanda We're getting started tomorrow morning.  Any update on that GPU team?

[2022-08-19 17:56] yuvipanda commented on #1440
I'm working on it now!

[2022-08-19 17:58] mabuice commented on #1440
🙌

[2022-08-19 18:34] yuvipanda commented on #1440
<img width="696" alt="image" src="https://user-images.githubusercontent.com/30430/185684696-79a3fd58-a25d-415d-a067-d153c73da211.png">

So I've nvidia-smi detecting the GPU, but pytorch doesn't.

<img width="336" alt="image" src="https://user-images.githubusercontent.com/30430/185684740-43e3691a-cb26-471c-b73f-2926ebfde51c.png">

hmm

[2022-08-19 18:38] yuvipanda commented on #1440
@mabuice so there should be a profile present now for GPU users:

<img width="437" alt="image" src="https://user-images.githubusercontent.com/30430/185685094-fa670e50-9400-423f-afa3-700dc834ffea.png">

This is available to:

1. Everyone in the 2i2c team
2. Everyone in the alleninstitute github org
3. *Only* members of the gpu team in the SWDB2022 github org.

If someone gets added to the GPU team,

[2022-08-19 18:40] yuvipanda commented on #1440
@fcollman I also see that the mysql db password is publicly listed in https://github.com/AllenInstitute/swdb_2022_hub_image/blob/108273a80a5e2ecac8053ef9fde923590b55cbf1/environment.yml#L40. I'm going to change that now, and may I ask you pass that on to users in a more private way (perhaps they can loginto the hub and get it?). As it is a publicly accessible mysql instance, I think posting the pa

[2022-08-19 18:43] mabuice commented on #1440
We can no longer log into the Jupyter Hub.  Authentication seems to have been broken. @yuvipanda

[2022-08-19 18:45] mabuice commented on #1440
@yuvipanda Ideally, only member of the GPU team should see the GPU instance.

[2022-08-19 18:46] yuvipanda commented on #1440
Yeah, i'm trying to figure out why. Can you make me an admin of the  SWDB2022 github org?

[2022-08-19 18:46] mabuice commented on #1440
will do

[2022-08-19 18:48] mabuice commented on #1440
do you mean "owner"?

[2022-08-19 18:49] mabuice commented on #1440
Also, we have some folks who are reporting not being able to log in or authenticate anymore.

[2022-08-19 18:50] mabuice commented on #1440
Cuda version mismatch?

[2022-08-19 18:52] yuvipanda commented on #1440
@mabuice re: auth, hang on a sec, working on it.

Yes, can you grant me owner privs?

[2022-08-19 18:54] yuvipanda commented on #1440
I've undid the GPU profile for now, and will investigate the auth situation once I've owner access. I tested on staging but that clearly wasn't enough! Sorry about the disruption.

You can still test the GPU on staging.allen-swdb.2i2c.cloud/

[2022-08-19 18:55] fcollman commented on #1440
@yuvipanda sorry for the last minute panic, but turns out that in order to make it easy for users who are running locally to connect to the SQL instance, we need to give them a password on their local environments, and on windows, all the special characters cannot be set.  Can we change the password on db_user to only use letters and numbers? Also can you program the instance to make the sql serve

[2022-08-19 18:57] yuvipanda commented on #1440
@fcollman ah good to know! I'll change the password.

[2022-08-19 18:58] yuvipanda commented on #1440
@mabuice lmk if the auth issues are resolved now?

Ok, so running task list:

1. Change the db password
2. Figure out CUDA situation (@mabuice think you'll be able to hack on this and test it out on the staging hub?)
3. Figure out the auth situation so only users with the GPU group get access to the GPU instance

[2022-08-19 18:59] arnim commented on #1598
We had some [User Stories](https://docs.google.com/document/d/1dVSRGG4LwY7pC2ONMEBsRZcal08BVAnRh_npteKlVSM/edit#) for the pBHub. Maybe they can be of help for #1597.

[2022-08-19 19:19] yuvipanda commented on #1440
@mabuice ok, new db password without special chars set. Users can login to the hub (users with currently running servers need to restart) to get new password. Let's treat that as canonical source, and not share that password publicly?

[2022-08-19 19:23] fcollman commented on #1440
its okay that the read only password is in the open, the server will only be up for a bit, and its read only.

[2022-08-19 19:31] yuvipanda commented on #1440
@fcollman unfortunately lots of cloud providers scan public github for exposed credentials and revoke them automatically (https://docs.github.com/en/code-security/secret-scanning/about-secret-scanning has more info). I know this applies for many AWS secrets. So if you publish it on GitHub, be warned it might automatically get revoked outside of our control. My suggestion is that you email it to th

[2022-08-19 19:39] yuvipanda commented on #1440
@mabuice I'm working on the authenticator issue now! I think I know what the issue is, I'll keep you posted.

[2022-08-19 20:18] mabuice commented on #1440
@yuvipanda I can look into the cuda situation.  I *think* the general auth issues are ok now.

[2022-08-19 21:29] mabuice commented on #1440
It's installing pytorch as 'cpu-only'

[2022-08-19 21:53] mabuice commented on #1440
For some reason trying to install with cudatoolkit==11.x installs the cpuonly version of pytorch.

`conda install pytorch torchvision cudatoolkit=10.2 -c pytorch`

after uninstalling all torch related stuff yields an importable version of torch that returns `torch.cuda.is_available()==True`

[2022-08-19 22:09] yuvipanda commented on #1440
@mabuice https://github.com/pangeo-data/pangeo-docker-images/blob/master/pytorch-notebook/environment.yml might be helpful? I know that image works, and there are a couple image pins there we can pick up maybe?